<div class="navbar-inverse footer">
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-md-2">
					<a class="navbar-brand" href="#">
						<img style="width: 150px;height: 70px;" src="${basePath}/images/logo.png" /> 
					</a>
				</div>
				<div class="col-sm-10 col-md-10">
					<div class="row">
						<ul class="nav navbar-nav">
							<li>
								<a href="#">关于我们</a>
							</li>
							<li>
								<a href="#">广告服务 </a>
							</li>
							<li>
								<a href="#">免责声明</a>
							</li>
							<li>
								<a href="#">联系我们</a>
							</li>
						</ul>
					</div>

					<div class="row">
						<p>
							京ICP证110507号 京ICP备10046444号 京公网安备1101080212535号
							京网文[2014]0059-0009号
						</p>
					</div>
				</div>
			</div>
		</div>
</div>