<!-- BEGIN: REVOLUTION SLIDER 2 -->
<section class="c-layout-revo-slider c-layout-revo-slider-14">
	<div class="tp-banner-container tp-fullscreen">
		<div class="tp-banner">
			<ul>
				<#list lbProjects as lbProject>
				<!--BEGIN: SLIDE #1 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
					<img
						alt=""
						src="${basePath}/${lbProject.photos.fileInfos[0].realPath}"
						data-bgposition="center center"
						data-bgfit="cover"
						data-bgrepeat="no-repeat">

					<!--BEGIN: MAIN TITLE -->
					<div class="caption customin customout tp-resizeme"
						data-x="center"
						data-y="center"
						data-hoffset="-385"
						data-voffset="-50"

						data-speed="500"
						data-start="1000"
						data-customin="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-easing="Back.easeOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="600">

						<div class="c-slider-14-title c-center">
							<!--<p class="c-font-white c-font-uppercase c-font-19">${(lbProject.name)!''}</p>
							--><h3 class="c-main-title c-font-bold c-font-uppercase c-font-white">
								<span class="c-theme-font">${(lbProject.name)!''}</span>
							</h3>
						</div>
					</div>
					<!--END -->

					<!--BEGIN: ACTION BUTTON -->
					<div class="caption randomrotateout tp-resizeme"
						data-x="center"
						data-y="center"
						data-hoffset="-390"
						data-voffset="100"
						data-speed="500"
						data-start="2000"
						data-easing="Back.easeOut">
							<a href="${basePath}/project/toReview?id=${lbProject.id}" class="c-action-btn btn btn-md c-btn-square c-btn-bold c-btn-border-2x c-theme-btn c-btn-uppercase c-center">立刻预定</a>
					</div>
					<!--END -->
		 		</li>
		 		<!--END -->
		 		</#list>

				

			</ul>
		</div>
	</div>
</section><!-- END: LAYOUT/SLIDERS/SHOP-REVO-SLIDER-3 -->


<!-- BEGIN: PAGE SCRIPTS -->
<script>
	$(document).ready(function() {
		var slider = $('.c-layout-revo-slider .tp-banner');
		var cont = $('.c-layout-revo-slider .tp-banner-container');
		var api = slider.show().revolution({
			delay : 15000,
			startwidth : 1170,
			startheight: App.getViewPort().height,
			navigationType : "hide",
			navigationArrows : "solo",
			touchenabled : "on",
			onHoverStop : "on",
			keyboardNavigation : "off",
			navigationStyle : "circle",
			navigationHAlign : "center",
			navigationVAlign : "bottom",
			spinner : "spinner2",
			fullScreen : "on",
			fullScreenAlignForce : "on",
			fullScreenOffsetContainer : '',
			shadow : 0,
			fullWidth : "off",
			forceFullWidth : "off",
			hideTimerBar : "on",
			hideThumbsOnMobile : "on",
			hideNavDelayOnMobile : 1500,
			hideBulletsOnMobile : "on",
			hideArrowsOnMobile : "on",
			hideThumbsUnderResolution : 0
		});
	}); //ready
</script>
<!-- END: PAGE SCRIPTS -->