
     <div class="header-top">
	   <div class="wrap"> 
			  <div class="header-top-left">
			  	<div class="logo">
					<a href="${basePath}/index"><img src="${basePath}/images/logo.png" alt=""/></a>
				</div>
				
		  	   <!-- 地区选择 -->
		  	    <#include "locate.html">
   			 </div>
   			 
   			 <div class="play-navbar-right">
					<div class="line-search">
						<form method="post" action="search" class="line-search-form">
							<div class="line-search-input">
								<div class="s-combobox">
									<div class="s-combobox-input-wrap">
										<input name="title" type="text" id="search_text" class="s-combobox-input" value="" placeholder="按活动名称搜索">
									</div>
									<label for="search_text" class="s-combobox-placeholder" style="display:none;"></label>
								</div>
								<button type="submit">搜索</button>
							</div>
						</form>
					</div>
					<div class="line-order">
						<div class="order-wrap">
							<a class="order-link myorder" href="index.php?app=buyer_xorder">我的订单</a>
						</div>
					</div>
			</div>
   			
			 
			<div class="clear"></div>
 		</div>
 		
 		<div class="cssmenu">
			<ul>
			<#if Session.user?exists>
				<li >欢迎您  ${(Session.user.nackName)!(Session.user.email)!""}</li>
				<li class="active"><a href="${basePath}/userinfo/toUserInfo">个人中心</a></li>|
				<li><a href="${basePath}/user/logout">退出登录</a></li>
			<#else>
				<li class="active"><a href="${basePath}/user/toLogin">登录</a></li>|
				<li><a href="${basePath}/user/toRegister">注册</a></li>
			</#if>
			</ul>
		</div>
					
	</div>
	<div class="header-bottom">
	    <div class="wrap">
			<div class="header-bottom-left">
				<div class="menu">
				<ul class="megamenu skyblue">
					<li class="active grid"><a href="${basePath}/index">首页</a></li>
					<li><a class="color4" href="#">摄影活动</a></li>
					<li><a class="color5" href="#">作品展示</a></li>
					<li><a class="color6" href="#">社区</a></li>
				</ul>
			</div>
		</div>

     <div class="clear"></div>
     </div>
	</div>
   