<script src="${basePath}/assets/base/js/vilidate/login.js" type="text/javascript"></script>

<!-- BEGIN: HEADER -->
<header class="c-layout-header c-layout-header-2 c-layout-header-dark-mobile c-header-transparent-dark" data-minimize-offset="80">
		<div class="c-topbar c-topbar-dark">
		<div class="container">
			<!-- BEGIN: INLINE NAV -->
			<nav class="c-top-menu c-pull-left">
				<ul class="c-icons c-theme-ul">
					<li><a href="#"><i class="icon-social-twitter"></i></a></li>
					<li><a href="#"><i class="icon-social-facebook"></i></a></li>
					<li><a href="#"><i class="icon-social-dribbble"></i></a></li>
					<li class="hide"><span>Phone: +99890345677</span></li>
				</ul>
			</nav>
			<!-- END: INLINE NAV -->
			<!-- BEGIN: INLINE NAV -->
			<nav class="c-top-menu c-pull-right">
				<ul class="c-links c-theme-ul">
					<li><a href="#">帮助</a></li>
					<li class="c-divider">|</li>
					<li><a href="#">联系我们</a></li>
					<li class="c-divider">|</li>
					<li><a href="#">常见问题</a></li>
				</ul>
				<ul class="c-ext c-theme-ul">
					<!--<li class="c-lang dropdown c-last">
						<a href="#">en</a>
						<ul class="dropdown-menu pull-right" role="menu">
							<li class="active"><a href="#">English</a></li>
							<li><a href="#">German</a></li>
							<li><a href="#">Espaniol</a></li>
							<li><a href="#">Portugise</a></li>
						</ul>
					</li>
					-->
					<li class="c-search hide">
						<!-- BEGIN: QUICK SEARCH -->
						<form action="#">
							<input type="text" name="query" placeholder="搜索..." value="" class="form-control" autocomplete="off">
							<i class="fa fa-search"></i>
						</form>
						<!-- END: QUICK SEARCH -->	
					</li>
				</ul>
			</nav>
			<!-- END: INLINE NAV -->
		</div>
	</div>
		<div class="c-navbar">
		<div class="container">
			<!-- BEGIN: BRAND -->
			<div class="c-navbar-wrapper clearfix">
				<div class="c-brand c-pull-left">
					<a href="index.html" class="c-logo">
						<!--<img src="assets/base/img/layout/logos/logo-1.png" alt="JANGO" class="c-desktop-logo">
						<img src="assets/base/img/layout/logos/logo-1.png" alt="JANGO" class="c-desktop-logo-inverse">
						<img src="assets/base/img/layout/logos/logo-1.png" alt="JANGO" class="c-mobile-logo">
						-->
							<span class="c-theme-font">玩拍网</span>
					</a>
					<button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
					<span class="c-line"></span>
					<span class="c-line"></span>
					<span class="c-line"></span>
					</button>
					<button class="c-topbar-toggler" type="button">
						<i class="fa fa-ellipsis-v"></i>
					</button>
					<button class="c-search-toggler" type="button">
						<i class="fa fa-search"></i>
					</button>
					<button class="c-cart-toggler" type="button">
						<i class="icon-handbag"></i> <span class="c-cart-number c-theme-bg">2</span>
					</button>
				</div>
				<!-- END: BRAND -->				
				<!-- BEGIN: QUICK SEARCH -->
				<form class="c-quick-search" action="#">
					<input type="text" name="query" placeholder="搜索..." value="" class="form-control" autocomplete="off">
					<span class="c-theme-link">&times;</span>
				</form>
				<!-- END: QUICK SEARCH -->	
				<!-- BEGIN: HOR NAV -->
				<!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
				<!-- BEGIN: MEGA MENU -->
				<!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
				<nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-bold">
					<ul class="nav navbar-nav c-theme-nav"> 
						<li id="home">
							<a href="${basePath}/index" class="c-link dropdown-toggle">首页<span class="c-arrow c-toggler"></span></a>		
						</li>
						
						<li id="project" class="c-menu-type-classic">
							<a href="${basePath}/project/index" class="c-link dropdown-toggle">活动<span class="c-arrow c-toggler"></span></a>
						</li>
						
						<li id="work">
							<a href="#" class="c-link dropdown-toggle">照片<span class="c-arrow c-toggler"></span></a>						
						</li>
						
						<li id="firend">
							<a href="#" class="c-link dropdown-toggle">拍友<span class="c-arrow c-toggler"></span></a>
						</li>
				
						<li class="c-search-toggler-wrapper">
							<a  href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>
						</li>
				
						<li class="c-cart-toggler-wrapper">
							<a  href="#" class="c-btn-icon c-cart-toggler"><i class="icon-handbag c-cart-icon"></i> <span class="c-cart-number c-theme-bg">2</span></a>
						</li>
				
						<#if Session.user?exists>
						<li class="c-menu-type-classic">
							<a href="javascript:;" class="c-link dropdown-toggle">
								<#if Session.user?? && Session.user.nackName?? && Session.user.nackName !=''>${Session.user.nackName}<#else>${Session.user.mobile} </#if>
								<span class="c-arrow c-toggler"></span>
							</a>
							<ul class="dropdown-menu c-menu-type-classic c-pull-left">
								<li> <a href="${basePath}/userinfo/toUserInfo">用户中心</a></li>
								<li><a href="${basePath}/user/logout">退出登录</a></li>
							</ul>
						</li>
							
						<#else>
						<li>
							<a href="javascript:;" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold">
								<i class="icon-user"></i> 登录
							</a>
						</li>
						</#if>
				
						<li class="c-quick-sidebar-toggler-wrapper">	
							<a href="#" class="c-quick-sidebar-toggler">		     		
							<span class="c-line"></span>
							<span class="c-line"></span>
							<span class="c-line"></span>
							</a>
						</li>
					</ul>
				</nav>
				<!-- END: MEGA MENU --><!-- END: LAYOUT/HEADERS/MEGA-MENU -->
								<!-- END: HOR NAV -->		
			</div>			
			<!-- BEGIN: LAYOUT/HEADERS/QUICK-CART -->
			<!-- BEGIN: CART MENU -->
			<div class="c-cart-menu">
				<div class="c-cart-menu-title">
					<p class="c-cart-menu-float-l c-font-sbold">2 item(s)</p>
					<p class="c-cart-menu-float-r c-theme-font c-font-sbold">$79.00</p>
				</div>
				<ul class="c-cart-menu-items">
					<li>
						<div class="c-cart-menu-close">
							<a href="#" class="c-theme-link">×</a>
						</div>
						<img src="assets/base/img/content/shop2/24.jpg"/>
						<div class="c-cart-menu-content">
							<p>1 x <span class="c-item-price c-theme-font">$30</span></p>
							<a href="shop-product-details-2.html" class="c-item-name c-font-sbold">Winter Coat</a>
						</div>
					</li>
					<li>
						<div class="c-cart-menu-close">
							<a href="#" class="c-theme-link">×</a>
						</div>
						<img src="assets/base/img/content/shop2/12.jpg"/>
						<div class="c-cart-menu-content">
							<p>1 x <span class="c-item-price c-theme-font">$30</span></p>
							<a href="shop-product-details.html" class="c-item-name c-font-sbold">Sports Wear</a>
						</div>
					</li>
				</ul> 
				<div class="c-cart-menu-footer">
					<a href="shop-cart.html" class="btn btn-md c-btn c-btn-square c-btn-grey-3 c-font-white c-font-bold c-center c-font-uppercase">View Cart</a>
					<a href="shop-checkout.html" class="btn btn-md c-btn c-btn-square c-theme-btn c-font-white c-font-bold c-center c-font-uppercase">Checkout</a>
				</div>
			</div>
			<!-- END: CART MENU --><!-- END: LAYOUT/HEADERS/QUICK-CART -->
		</div>
	</div>
</header>
<!-- END: HEADER --><!-- END: LAYOUT/HEADERS/HEADER-1 -->

<!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM -->
<div class="modal fade c-content-login-form" id="forget-password-form" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content c-square">
			<div class="modal-header c-no-border">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<h3 class="c-font-24 c-font-sbold">密码找回</h3>
				<p>
					您的手机号码
				</p>
				<form>
					<div class="form-group">
						<label for="forget-mobile" class="hide">手机号</label>
						<input type="email" class="form-control input-lg c-square" id="forget-email" placeholder="Email">
					</div>
					<div class="form-group">
						<button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">提交</button>
						<a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">返回登录</a>
					</div>
				</form>
			</div>
			<div class="modal-footer c-no-border">
				<span class="c-text-account">还没有账户 ?</span>
				<a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">免费注册!</a>
			</div>
		</div>
	</div>
</div>
<!-- END: CONTENT/USER/FORGET-PASSWORD-FORM -->
<!-- BEGIN: CONTENT/USER/SIGNUP-FORM -->
<div class="modal fade c-content-login-form" id="signup-form" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content c-square">
			<div class="modal-header c-no-border">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<h3 class="c-font-24 c-font-sbold">创建账户</h3>
				<p>
					请填写以下表格
				</p>
				<form>
					<div class="form-group">
						<label for="signup-email" class="hide">手机号</label>
						<input type="email" class="form-control input-lg c-square" id="signup-email" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="signup-username" class="hide">验证码</label>
						<input type="email" class="form-control input-lg c-square" id="signup-username" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="signup-fullname" class="hide">密码</label>
						<input type="email" class="form-control input-lg c-square" id="signup-fullname" placeholder="Fullname">
					</div>
					<div class="form-group">
						<label for="signup-fullname" class="hide">密码确认</label>
						<input type="email" class="form-control input-lg c-square" id="signup-fullname" placeholder="Fullname">
					</div>
					<div class="form-group">
						<button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">注册</button>
						<a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">返回登录</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END: CONTENT/USER/SIGNUP-FORM -->
<!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
<div class="modal fade c-content-login-form" id="login-form" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content c-square">
			<div class="modal-header c-no-border">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<h3 class="c-font-24 c-font-sbold">登录</h3>
				
				<form id="loginForm" action="${basePath}/user/login" method="post">
					<div class="form-group">
						<label for="login-mobile" class="hide">手机号</label>
						<input type="text" class="form-control input-lg c-square" id="login-mobile" name="mobile" placeholder="手机号">
					</div>
					<div class="form-group">
						<label for="login-password" class="hide">密码</label>
						<input type="password" class="form-control input-lg c-square" id="login-password" name="password" placeholder="密码">
					</div>
					<div class="form-group">
						<div class="c-checkbox">
							<input type="checkbox" id="login-rememberme" class="c-check">
							<label for="login-rememberme" class="c-font-thin c-font-17">
							<span></span>
							<span class="check"></span>
							<span class="box"></span>
							记住密码 </label>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">登录</button>
						<a href="javascript:;" data-toggle="modal" data-target="#forget-password-form" data-dismiss="modal" class="c-btn-forgot">忘记登录密码 ?</a>
					</div>
					<!--<div class="clearfix">
						<div class="c-content-divider c-divider-sm c-icon-bg c-bg-grey c-margin-b-20">
							<span>or signup with</span>
						</div>
						
						<ul class="c-content-list-adjusted">
							<li>
								<a class="btn btn-block c-btn-square btn-social btn-twitter">
								<i class="fa fa-twitter"></i>
								Twitter </a>
							</li>
							<li>
								<a class="btn btn-block c-btn-square btn-social btn-facebook">
								<i class="fa fa-facebook"></i>
								Facebook </a>
							</li>
							<li>
								<a class="btn btn-block c-btn-square btn-social btn-google">
								<i class="fa fa-google"></i>
								Google </a>
							</li>
						</ul>
					</div>
				-->
				</form>
			</div>
			<div class="modal-footer c-no-border">
				<span class="c-text-account">还没有账户 ?</span>
				<a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">免费注册!</a>
			</div>
		</div>
	</div>
</div>
<!-- END: CONTENT/USER/LOGIN-FORM -->

<!-- BEGIN: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
<nav class="c-layout-quick-sidebar">
<div class="c-header">
	<button type="button" class="c-link c-close">
	<i class="icon-login"></i>
	</button>
</div>
<div class="c-content">
	<div class="c-section">
		<h3>主题颜色</h3>
		<div class="c-settings">
			<span class="c-color c-default c-active" data-color="default"></span>
			<span class="c-color c-green1" data-color="green1"></span>
			<span class="c-color c-green2" data-color="green2"></span>
			<span class="c-color c-green3" data-color="green3"></span>
			<span class="c-color c-yellow1" data-color="yellow1"></span>
			<span class="c-color c-yellow2" data-color="yellow2"></span>
			<span class="c-color c-yellow3" data-color="yellow3"></span>
			<span class="c-color c-red1" data-color="red1"></span>
			<span class="c-color c-red2" data-color="red2"></span>
			<span class="c-color c-red3" data-color="red3"></span>
			<span class="c-color c-purple1" data-color="purple1"></span>
			<span class="c-color c-purple2" data-color="purple2"></span>
			<span class="c-color c-purple3" data-color="purple3"></span>
			<span class="c-color c-blue1" data-color="blue1"></span>
			<span class="c-color c-blue2" data-color="blue2"></span>
			<span class="c-color c-blue3" data-color="blue3"></span>
			<span class="c-color c-brown1" data-color="brown1"></span>
			<span class="c-color c-brown2" data-color="brown2"></span>
			<span class="c-color c-brown3" data-color="brown3"></span>
			<span class="c-color c-dark1" data-color="dark1"></span>
			<span class="c-color c-dark2" data-color="dark2"></span>
			<span class="c-color c-dark3" data-color="dark3"></span>
		</div>
	</div>
	<div class="c-section">
		<h3>Header Type</h3>
		<div class="c-settings">
			<input type="button" class="c-setting_header-type btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="boxed" value="boxed"/>
			<input type="button" class="c-setting_header-type btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="fluid" value="fluid"/>
		</div>
	</div>
	<div class="c-section">
		<h3>Header Mode</h3>
		<div class="c-settings">
			<input type="button" class="c-setting_header-mode btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="fixed" value="fixed"/>
			<input type="button" class="c-setting_header-mode btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="static" value="static"/>
		</div>
	</div>
	<div class="c-section">
		<h3>Mega Menu Style</h3>
		<div class="c-settings">
			<input type="button" class="c-setting_megamenu-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="dark" value="dark"/>
			<input type="button" class="c-setting_megamenu-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="light" value="light"/>
		</div>
	</div>
	<div class="c-section">
		<h3>Font Style</h3>
		<div class="c-settings">
			<input type="button" class="c-setting_font-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="default" value="default"/>
			<input type="button" class="c-setting_font-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="light" value="light"/>
		</div>
	</div>
</div>
</nav>

<#include "../error/error_modal.html">
<#include "../error/success_modal.html">