
     <div class="header-top">
	   <div class="wrap"> 
			  <div class="header-top-left">
			  	   <div class="box">
			  	   	  <a href="#" class="dropdown">【切换城市】</a>
   				    </div>
   			 </div>
   			
			 <div class="cssmenu">
				<ul>
				<#if Session.user?exists>
					<li >欢迎您 ${Session.user.email}</li>
					<li class="active"><a href="${basePath}/userinfo/toUserInfo">个人中心</a></li> |
					<li><a href="${basePath}/user/logout">退出登录</a></li>
				<#else>
					<li class="active"><a href="${basePath}/user/toLogin">登录</a></li> |
					<li><a href="${basePath}/user/toRegister">注册</a></li>
				</#if>
				</ul>
			</div>
			<div class="clear"></div>
 		</div>
	</div>
	<div class="header-bottom">
	    <div class="wrap">
			<div class="header-bottom-left">
				<div class="logo">
					<a href="index.html"><img src="${basePath}/images/logo.png" alt=""/></a>
				</div>
				<div class="menu">
				<ul class="megamenu skyblue">
					<li class="active grid"><a href="#">首页</a></li>
					<li><a class="color4" href="#">摄影活动</a></li>
					<li><a class="color5" href="#">作品展示</a></li>
					<li><a class="color6" href="#">社区</a></li>
				</ul>
			</div>
		</div>
	   <div class="header-bottom-right">
         <div class="search">	  
				<input type="text" name="s" class="textbox"  placeholder="搜索" >
				<input type="submit" value="Subscribe" id="submit" name="submit">
				<div id="response"> </div>
		 </div>
	  <div class="tag-list">
	    
		<ul class="icon1 sub-icon1 profile_img">
			<li><a class="active-icon c2" href="#"> </a>
				<ul class="sub-icon1 list">
					<li><h3>你的购物车还是空的赶紧行动吧！</h3></li>
					<li><p><a class="link" href="#">马上去购物</a></p></li>
				</ul>
			</li>
		</ul>
	  </div>
    </div>
     <div class="clear"></div>
     </div>
	</div>
   