<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${basePath}/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="${basePath}/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="${basePath}/css/header.css" rel="stylesheet" type="text/css" media="all" />
<link href="${basePath}/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="${basePath}/css/bootstrapValidator.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="${basePath}/css/fileinput.css" rel="stylesheet" type="text/css" media="all" />
<link href="${basePath}/css/stickup.css" rel="stylesheet" type="text/css" media="all" />
<link href="${basePath}/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css" media="all" />
<link href="${basePath}/css/star-rating.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="${basePath}/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<!--<link href="${basePath}/css/flat-ui.min.css" rel="stylesheet" type="text/css" media="all" />-->


<script type="text/javascript" src="${basePath}/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="${basePath}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${basePath}/js/megamenu.js"></script>
<script type="text/javascript" src="${basePath}/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="${basePath}/js/fileinput.min.js"></script>
<script type="text/javascript" src="${basePath}/js/fileinput_locale_zh.js"></script>
<script type="text/javascript" src="${basePath}/js/distpicker.data.min.js"></script>
<script type="text/javascript" src="${basePath}/js/distpicker.min.js"></script>
<script type="text/javascript" src="${basePath}/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="${basePath}/js/jquery.infinitescroll.min.js"></script>
<script type="text/javascript" src="${basePath}/js/star-rating.min.js"></script>
<!--<script type="text/javascript" src="${basePath}/js/flat-ui.min.js"></script>-->
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>