<#if errorMessage??>
<div class="modal fade" id="error_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-exclamation-sign" style="color: #a94442;"></span> 错误</h4>
      </div>
      <div class="modal-body">
        <p>${errorMessage!''}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<<script type="text/javascript">
<!--
	$("#error_modal").modal('show');
//-->
</script>
</#if>