
<div class="modal fade bs-example-modal-sm" id="error_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content c-square">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="mySmallModalLabel">
					<span class="glyphicon glyphicon-exclamation-sign c-font-red-2" ></span> 错误
				</h4>
			</div>
			<div class="modal-body">
				<p id="error_modal_message">
					${errorMessage!''}
				</p>
			</div>
			<div class="modal-footer">								
				<button type="button" class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase" data-dismiss="modal">关闭</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<#if errorMessage??>
<script type="text/javascript">
	$("#error_modal").modal('show');
</script>
</#if>
