<#assign basePath=request.contextPath>
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <!-- title start-->
   <#include "./common/title.html">
  <!-- title end-->
  
  <!-- link start-->
   <#include "./common/link.html">
  <!-- link end-->
  
</head>

<body>
    
  <!-- header start-->
  <#include "./common/header.html">
  <!-- header end -->
  
   <!-- fwslider start-->
   <#include "./common/fwslider.html">
  <!-- fwslider end-->
  
<div class="main-content">
	<div class="container">
	<#if projectMap??>
         <#list projectMap?keys as key> 
			<div class="panel panel-primary">
			  <div class="panel-heading"><h2 class="panel-title">${key}</h2></div>
				<div class="panel-body">
					<div class="row">
					<#assign projects=projectMap[key] >
					<#if projects??>
					 <#list projects as project>
						<div class="col-sm-3 col-md-3">
							<div class="thumbnail no-underline">
								<a href="${basePath}/project/toReview?id=${project.id}">
									<img alt="300x200" <#if project?? && project.photos?? && project.photos.fileInfos??>src="${basePath}/${project.photos.fileInfos[0].realPath}"</#if> style="width: 100%; height: 160px;"/>
								</a>
								<div class="caption">
									<h4><a href="${basePath}/project/toReview?id=${project.id}">${(project.name)!''}</a></h4>
									<p><small><span class="glyphicon glyphicon-time text-success"></span> ${(project.startTime?string("yyyy-MM-dd"))!''} <p class="pull-right">目的地 ${(project.province)!''}</p></small></p>
									<h4 class="orange-color"><span class="glyphicon glyphicon-yen"></span><strong>${(project.cost)!''}</strong></h4>
								</div>
							</div>
						</div>
						</#list>
						</#if>
					</div>
				</div>
			</div>
			
	</#list>
	</#if>
		
		
	</div>
</div>
  <!-- footer start-->
  <#include "./common/footer.html">
  <!-- footer end -->
  
  </body>
</html>
   