<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "./common/title.html">
	<#include "./common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-fullscreen">

	<#include "./common/header-index.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" style="background-image: url(${basePath}/images/example/project-bg.jpg)">
	<!-- BEGIN: PAGE CONTENT -->
	
	<#include "./common/fwslider.html">
	
	<#include "./home/recommend.html">
	
	<#include "./home/project.html">
	
	<#include "./home/work.html">
	
	<!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->

<#include "./common/footer.html">

<script>
	$(document).ready(function() {    
		App.init(); // init core    
	});
	</script>
<!-- END: THEME SCRIPTS -->
<script>
$(document).ready(function(){

	$('#home').addClass('c-active');
  
  });
</script>

</body>

</html>