<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	
	<!-- BEGIN: PAGE CONTENT -->
    <div class="c-content-box c-size-md">
        <div class="container">
            
		<div class="cbp-l-project-title">World Clock Widget</div>
		
		<section class="c-layout-revo-slider c-layout-revo-slider-14">
		<div class="tp-banner-container tp-fullscreen">
		<div class="cbp-slider">
		    <ul class="cbp-slider-wrap">
		        <li class="cbp-slider-item">
		            <img src="${basePath}/images/example/work1.jpg" alt="">
		        </li>
		        <li class="cbp-slider-item">
		            <img src="${basePath}/images/example/work2.jpg" alt="">
		        </li>
		        <li class="cbp-slider-item">
		            <img src="${basePath}/images/example/work3.jpg" alt="">
		        </li> 
		    </ul>
		</div>
		</div>
		</section>
		
		<div class="cbp-l-project-container">
		    <div class="cbp-l-project-desc">
		        <div class="cbp-l-project-desc-title"><span>作品介绍</span></div>
		        <div class="cbp-l-project-desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut ipsa non ex ullam atque suscipit ut dignissimos magnam!</div>
		    </div>
		    <div class="cbp-l-project-details">
		        <div class="cbp-l-project-details-title"><span>作品详情</span></div>
                                    
		        <ul class="cbp-l-project-details-list">
		        	<li>
		        	<div class="c-product-review">
                     <div class="c-product-rating">
                         <i class="fa fa-star c-font-red"></i>
                         <i class="fa fa-star c-font-red"></i>
                         <i class="fa fa-star c-font-red"></i>
                         <i class="fa fa-star c-font-red"></i>
                         <i class="fa fa-star-half-o c-font-red"></i>
	                     </div>
	                 </div>
	                 </li>
		            <li><strong>摄影师</strong>John Doe</li>
		            <li><strong>日期</strong>22 December 2013</li>
		            <li><strong>Categories</strong>Logo, Graphic</li>
		        </ul>
		        <a href="#" target="_blank" class="cbp-l-project-details-visit btn btn-sm c-btn-border-1x c-btn-square c-btn-dark c-btn-uppercase c-btn-bold">visit the site</a>
		    </div>
		</div>
		
		<div class="c-margin-b-60">
               	<div class="c-content-title-1">
                    <div class="c-left cbp-l-project-desc-title"><span>用户评价</span></div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        
                        <div class="c-product-review-name">
                            <div class="c-font-bold c-font-16 c-margin-b-5">用户1</div>
                            <p class="c-date c-theme-font c-font-14">2015-09-14</p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="c-product-rating c-right">
                            <i class="fa fa-star c-font-red"></i>
                            <i class="fa fa-star c-font-red"></i>
                            <i class="fa fa-star c-font-red"></i>
                            <i class="fa fa-star c-font-red"></i>
                            <i class="fa fa-star-half-o c-font-red"></i>
                        </div>
                    </div>
                </div>
                 <div class="c-product-review-content">
                     <p> 很不错的一次旅行，很感谢何导和司机，景色太美太美了，黄龙是有高原反应的，提前一周吃红景天，就是天公不作美，去的两天下午都赶上下雨，不过总体说来很不错，旅游做的很正规，很成熟，去黄龙要穿棉服哦！ </p>
                 </div>
                  <div class="row c-margin-t-40">
                      <div class="col-xs-6">
                          <div class="c-product-review-name">
                              <h3 class="c-font-bold c-font-24 c-margin-b-5">用户2</h3>
                              <p class="c-date c-theme-font c-font-14">2015-09-17</p>
                          </div>
                      </div>
                      <div class="col-xs-6">
                          <div class="c-product-rating c-right">
                              <i class="fa fa-star c-font-red"></i>
                              <i class="fa fa-star c-font-red"></i>
                              <i class="fa fa-star c-font-red"></i>
                              <i class="fa fa-star c-font-red"></i>
                              <i class="fa fa-star-half-o c-font-red"></i>
                          </div>
                      </div>
                  </div>
                   <div class="c-product-review-content">
                       <p> 黄龙九寨风景不错，人间仙境，就是三天时间有点少了，不够玩。机智的张导游人很好，非常幽默，总体来说，是个难忘的旅程。 </p>
                   </div>
                   <div class="row c-margin-t-40">
                       <div class="col-xs-6">
                           <div class="c-product-review-name">
                               <h3 class="c-font-bold c-font-24 c-margin-b-5">用户3</h3>
                               <p class="c-date c-theme-font c-font-14">2015-10-20</p>
                           </div>
                       </div>
                       <div class="col-xs-6">
                           <div class="c-product-rating c-right">
                               <i class="fa fa-star c-font-red"></i>
                               <i class="fa fa-star c-font-red"></i>
                               <i class="fa fa-star c-font-red"></i>
                               <i class="fa fa-star c-font-red"></i>
                               <i class="fa fa-star-o c-font-red"></i>
                           </div>
                       </div>
                   </div>
                   <div class="c-product-review-content">
                       <p> 首先说这个团的客服非常好，不论是关于本次旅行的介绍和讲解还是对于我们住店问题的建议和帮助都很实在、很用心。就凭这个必须给满分！第二点，这次行程主要景点是黄龙和九寨沟，风景如画，绝对不是吹出来的，风景评分也是满分！对于售后服务，投诉解决问题的能力和效率也非常满意！唯独一点，导游的水平确实不敢恭维。但是还是要说这家的客服哥们非常好，我也相信他的诚信能代表这个旅行社的能力，只是由于这个刘导游的种种行为是我们和旅行社之间产生了短暂的不愉快，怎么惩罚这个导游是你们的事，对于你们公司的态度我还是要给满分的！希望以后越办越好！ </p>
                   </div>
                   
                   <div class="row c-margin-t-40">
                   	<ul class="c-content-pagination c-square c-theme pull-right">
					    <li class="c-prev">
					        <a href="#"><i class="fa fa-angle-left"></i></a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li class="c-active"><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li class="c-next">
					        <a href="#"><i class="fa fa-angle-right"></i> </a>
					    </li>
					</ul>
				</div>
                   
                   <form>
                    <div class="row c-product-review-input">
                    	<div class="col-xs-12">
                         <h3 class="c-font-bold c-font-uppercase">评价</h3>
                         <p class="c-review-rating-input">评分:
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                             <i class="fa fa-star-o"></i>
                         </p>
                         <div class="form-group">
                                   <textarea class="form-control  c-square c-theme" rows="3"></textarea>
                           	</div>
                      </div>
                      
                      <div class="col-xs-12">
                         <button class="btn c-btn c-btn-square c-theme-btn c-font-bold c-font-uppercase c-font-white">提交</button>
                      </div>
                    </div>
                   </form>
           </div>
		
		<div class="cbp-l-project-container">
		    <div class="cbp-l-project-related">
		        <div class="cbp-l-project-desc-title"><span>相关作品</span></div>
		
		        <ul class="cbp-l-project-related-wrap">
		            <li class="cbp-l-project-related-item">
		                <a href="ajax/project1.html" class="cbp-singlePage cbp-l-project-related-link">
		                    <img src="${basePath}/images/example/work4.jpg" alt="">
		                    <div class="cbp-l-project-related-title">Dashboard</div>
		                </a>
		            </li>
		            <li class="cbp-l-project-related-item">
		                <a href="ajax/project3.html" class="cbp-singlePage cbp-l-project-related-link">
		                    <img src="${basePath}/images/example/work5.jpg" alt="">
		                    <div class="cbp-l-project-related-title">To-Do Dashboard</div>
		                </a>
		            </li>
		            <li class="cbp-l-project-related-item">
		                <a href="ajax/project4.html" class="cbp-singlePage cbp-l-project-related-link">
		                    <img src="${basePath}/images/example/work6.jpg" alt="">
		                    <div class="cbp-l-project-related-title">Events and More</div>
		                </a>
		            </li>
		        </ul>
		
		    </div>
		</div>
        </div>
    </div>
    <!-- END: PAGE CONTENT -->
	
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){

	$('#work').addClass('c-active');
	
	var slider = $('.c-layout-revo-slider .cbp-slider');
	var api = slider.show().revolution({
		delay : 15000,
		startwidth : 1170,
		startheight: App.getViewPort().height,
		navigationType : "hide",
		navigationArrows : "solo",
		touchenabled : "on",
		onHoverStop : "on",
		keyboardNavigation : "off",
		navigationStyle : "circle",
		navigationHAlign : "center",
		navigationVAlign : "bottom",
		spinner : "spinner2",
		fullScreen : "on",
		fullScreenAlignForce : "on",
		fullScreenOffsetContainer : '',
		shadow : 0,
		fullWidth : "off",
		forceFullWidth : "off",
		hideTimerBar : "on",
		hideThumbsOnMobile : "on",
		hideNavDelayOnMobile : 1500,
		hideBulletsOnMobile : "on",
		hideArrowsOnMobile : "on",
		hideThumbsUnderResolution : 0
	});
	
  });
</script>

</body>

</html>