<#assign basePath=request.contextPath>

<#if works?? && (works?size > 0)>
	<div class="cbp-loadMore-block${block}">
	    <#list works as work>
	      <div class="cbp-item">
                <a href="${basePath}/work/toReview?id=${work.id}" target="_blank">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="${basePath}/${work.photos.fileInfos[0].realPath}" alt=""> </div>
                    </div>
                    <div class="cbp-l-grid-agency-title">${(work.name)!''}</div>
                    <div class="cbp-l-grid-agency-desc">${(work.des)!''}</div>
                </a>
            </div>
	      
	      </#list>
	</div>
	<#if (pager.totalPage > pager.currentPage)>
	<div class="cbp-loadMore-block${pager.currentPage}">
	</div>
	</#if>
</#if>

