<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	
	<!-- BEGIN: PAGE CONTENT -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="cbp-panel">
                    
                    	
                        <div class="clearfix">
					        <!--
					        <div id="js-filters-lightbox-gallery1" class="cbp-l-filters-dropdown cbp-l-filters-dropdown-floated">
					            <div class="cbp-l-filters-dropdownWrap">
					                <div class="cbp-l-filters-dropdownHeader">Sort Gallery</div>
					                <div class="cbp-l-filters-dropdownList">
					                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
					                    <div data-filter=".identity" class="cbp-filter-item">Identity</div>
					                    <div data-filter=".web-design" class="cbp-filter-item">Web Design</div>
					                    <div data-filter=".print" class="cbp-filter-item">Print</div>
					                </div>
					            </div>
					        </div>
					        
							  
					        <div id="js-filters-lightbox-gallery2" class="cbp-l-filters-button cbp-l-filters-left">
					            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
					            <div data-filter=".graphic" class="cbp-filter-item">Graphic</div>
					            <div data-filter=".logos" class="cbp-filter-item">Logo</div>
					            <div data-filter=".motion" class="cbp-filter-item">Motion</div>
					        </div>
					        -->
					        
					    </div>
                        
                        <div id="grid-container" class="cbp cbp-l-grid-work">
                        	<#list works as work>
					         <div class="cbp-item c-shadow">
	                            <a href="${basePath}/work/toReview?id=${work.id}" target="_blank">
	                                <div class="cbp-caption">
	                                    <div class="cbp-caption-defaultWrap">
	                                        <img src="${basePath}/${work.photos.fileInfos[0].realPath}" alt=""> </div>
	                                </div>
	                                <div style="padding:0px 16px 2px;">
		                                <a href="${basePath}/work/toReview?id=${work.id}" target="_blank" class="cbp-l-grid-blog-title">${(work.name)!''} </a>
				                        <div class="cbp-l-grid-blog-date">${(work.createTime?string('yyyy-MM-dd'))!''}</div>
				                        <div class="cbp-l-grid-blog-split">|</div>
				                        <div class="cbp-l-grid-blog-date">${(work.viewedNumber)!'0'} 浏览</div>
				                        <div class="cbp-l-grid-blog-desc">${(work.des)!''}</div>
			                        </div>
	                            </a>
	                        </div>
					        </#list>
                        </div>
                        
					    
					    <div id="loadMore-container" class="cbp-l-loadMore-button c-margin-t-60">
                        <a id="loadMoreA"  href="${basePath}/work/loadmore" class="cbp-l-loadMore-link btn c-btn-square c-btn-border-2x c-btn-dark c-btn-bold c-btn-uppercase">
                            <span class="cbp-l-loadMore-defaultText">加载更多</span>
                            <span class="cbp-l-loadMore-loadingText">加载中...</span>
                            <span class="cbp-l-loadMore-noMoreLoading">没有作品了</span>
                        </a>
                    </div>

                    </div>
                </div>
            </div>
            <!-- END: PAGE CONTENT -->
	
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){

	$('#work').addClass('c-active');
	
	(function($, window, document, undefined) {
    'use strict';

    // init cubeportfolio
    $('#grid-container').cubeportfolio({
        filters: '#filters-container',
        loadMore: '#loadMore-container',
        loadMoreAction: 'click',
        layoutMode: 'grid',
        defaultFilter: '*',
        animationType: 'slideLeft',
        gapHorizontal: 35,
        gapVertical: 15,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 1400,
            cols: 2
        }, {
            width: 1100,
            cols: 2
        }, {
            width: 800,
            cols: 2
        }, {
            width: 500,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        caption: 'zoom',
        displayType: 'lazyLoading',
        displayTypeSpeed: 100
    });

})(jQuery, window, document);

$("#loadMoreA").click(function e(){
	alert($(this).attr("href"));
});
  
  });
</script>

</body>

</html>