<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	
	<!-- BEGIN: PAGE CONTENT -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="cbp-panel">
                        <div id="filters-container" class="cbp-l-filters-dropdown">
                            <div class="cbp-l-filters-dropdownWrap">
                                <div class="cbp-l-filters-dropdownHeader">Sort Gallery</div>
                                <div class="cbp-l-filters-dropdownList">
                                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All (
                                        <div class="cbp-filter-counter"></div> items) </div>
                                    <div data-filter=".print" class="cbp-filter-item"> Print (
                                        <div class="cbp-filter-counter"></div> items) </div>
                                    <div data-filter=".web-design" class="cbp-filter-item"> Web Design (
                                        <div class="cbp-filter-counter"></div> items) </div>
                                    <div data-filter=".motion" class="cbp-filter-item"> Motion (
                                        <div class="cbp-filter-counter"></div> items) </div>
                                </div>
                            </div>
                        </div>
                        <div id="grid-container" class="cbp">
                        	<#list works as work>
                        		<div class="cbp-item">
	                                <a href="${basePath}/work/introduction?id=${work.id}" class="cbp-caption cbp-singlePageInline" data-title="${(work.name)!''}">
	                                    <div class="cbp-caption-defaultWrap">
	                                        <img src="${basePath}/${work.photos.fileInfos[0].realPath}" alt=""> </div>
	                                    <div class="cbp-caption-activeWrap">
	                                        <div class="cbp-l-caption-alignLeft">
	                                            <div class="cbp-l-caption-body">
	                                                <div class="cbp-l-caption-title">${(work.name)!''}</div>
	                                                <!-- <div class="cbp-l-caption-desc">${(work.des)!''}</div> -->
	                                            </div>
	                                        </div>
	                                    </div>
	                                </a>
                            	</div>
                        	</#list>
                        </div>
                        <div id="loadMore-container" class="cbp-l-loadMore-button c-margin-t-60">
                            <a href="${basePath}/work/loadmore?currentPage=1" class="cbp-l-loadMore-link btn c-btn-square c-btn-border-2x c-btn-dark c-btn-bold c-btn-uppercase">
                                <span class="cbp-l-loadMore-defaultText">加载更多</span>
                                <span class="cbp-l-loadMore-loadingText">加载中...</span>
                                <span class="cbp-l-loadMore-noMoreLoading">没有作品了</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: PAGE CONTENT -->
	
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
	$(document).ready(function() {    
		App.init(); // init core    
	});
	</script>
<!-- END: THEME SCRIPTS -->
<script>
$(document).ready(function(){

	$('#work').addClass('c-active');
	
	 // init cubeportfolio
    $('#grid-container').cubeportfolio({
        filters: '#filters-container',
        loadMore: '#loadMore-container',
        loadMoreAction: 'click',
        showPagination:true,
        layoutMode: 'grid',
        defaultFilter: '*',
        animationType: 'rotateSides',
        gapHorizontal: 10,
        gapVertical: 10,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 1100,
            cols: 3
        }, {
            width: 800,
            cols: 3
        }, {
            width: 500,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        caption: 'overlayBottomPush',
        displayType: 'sequentially',
        displayTypeSpeed: 100,

        // lightbox
        lightboxDelegate: '.cbp-lightbox',
        lightboxGallery: true,
        lightboxTitleSrc: 'data-title',
        lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',

        // singlePageInline
        singlePageInlineDelegate: '.cbp-singlePageInline',
        singlePageInlinePosition: 'below',
        singlePageInlineInFocus: true,
        singlePageInlineCallback: function(url, element) {
            // to update singlePageInline content use the following method: this.updateSinglePageInline(yourContent)
            var t = this;

            $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'html',
                    cache: false,
                    timeout: 5000
                })
                .done(function(result) {

                    t.updateSinglePageInline(result);

                })
                .fail(function() {
                    t.updateSinglePageInline("请刷新页面!");
                });
        },
    });
  
  });
</script>

</body>

</html>