<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	
	<!-- BEGIN: PAGE CONTENT -->
    <div class="c-content-box c-size-md">
        <div class="container">
            
		<div class="cbp-l-project-title">${(work.name)!''}</div>
		<div>
			<div class="bdsharebuttonbox" style="text-align: center;margin-right: auto;margin-left: auto;">
				<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
				<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
				<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
				<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
				<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
				<a href="#" class="bds_more" data-cmd="more"></a>
			</div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","qzone","tsina","bdysc","weixin","renren","tqq","bdxc","kaixin001","tqf","tieba","douban","bdhome","sqq","ibaidu","duitang","fx","youdao","people","xinhua","mail","isohu","wealink","ty","copy","print"],"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{},"image":{"viewList":["weixin","qzone","tqq","tsina","renren"],"viewText":"分享到：","viewSize":"32"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["weixin","qzone","tqq","tsina","renren"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		</div>
		
		
		<section class="c-layout-revo-slider c-layout-revo-slider-14">
		<div class="tp-banner-container tp-fullscreen">
		<div class="cbp-slider">
		    <ul class="cbp-slider-wrap">
		        <#if (work.photos.fileInfos)??>
					<#list work.photos.fileInfos as photo>
						<li class="cbp-slider-item">
							<img src='${basePath}/${photo.realPath}' alt="">
						</li> 	
					</#list>
				</#if>
		    </ul>
		</div>
		</div>
		</section>
		
		<div class="cbp-l-project-container">
		    <div class="cbp-l-project-desc">
		        <div class="cbp-l-project-desc-title"><span>作品介绍</span></div>
		        <div class="cbp-l-project-desc-text">${(work.des)!''}</div>
		    </div>
		    <div class="cbp-l-project-details">
		        <div class="cbp-l-project-details-title"><span>作品详情</span></div>
                                    
		        <ul class="cbp-l-project-details-list">
		        	<li>
		        	<div class="c-product-review">
                     <div class="c-product-rating">
                         <i class="fa fa-star c-font-red"></i>
                         <i class="fa fa-star c-font-red"></i>
                         <i class="fa fa-star c-font-red"></i>
                         <i class="fa fa-star c-font-red"></i>
                         <i class="fa fa-star-half-o c-font-red"></i>
	                     </div>
	                 </div>
	                 </li>
		            <li><strong>摄影师</strong><#if (work.createUser.realName)??>${work.createUser.realName}<#else>${(work.createUser.mobile)!''} </#if></li>
		            <li><strong>日期</strong>${(work.createTime?string('yyyy-MM-dd HH:mm'))!''}</li>
		            <!-- <li><strong>Categories</strong>Logo, Graphic</li> -->
		        </ul>
		        <a href="#" target="_blank" class="cbp-l-project-details-visit btn btn-sm c-btn-border-1x c-btn-square c-btn-dark c-btn-uppercase c-btn-bold">visit the site</a>
		    </div>
		</div>
		
		<div class="c-margin-b-60">
        	<div class="container">
              	<div class="c-content-title-1">
                      <h3 class="c-left c-theme-font">用户评价</h3>
                      <div class="c-line-left c-bg-blue"></div>
                 </div>
                  
                <div id="work_comment"></div>
	
				<div class="row pull-right">
                         <ul id="work_comment_pager" class="c-content-pagination c-square c-theme ">
                         </ul>
				</div>
				<script type='text/javascript'>				            
			        $(document).ready(function(){
			        	getByAjax("${basePath}/work/getWorkComment?workId=${work.id}&currentPage=1","work_comment");
			        });
			    </script>
			
		           <#if Session.sessionuser??>
		           <form id="workCommentForm" action="${basePath}/work/saveWorkComment" method="post" enctype="multipart/form-data">
		            <div class="row c-product-review-input">
		            <input type="hidden" name="work.id" value="${(work.id)!''}">
		            	<div class="col-md-12">
		                 <h3 class="c-font-bold c-font-uppercase">评价</h3>
		                 <p class="c-review-rating-input">评分:
		                     <input id="input-2c" name="type" class="rating" min="0" max="5" step="0.5" data-size="xs" data-default-caption="{rating} 星" data-star-captions="{}"
								data-symbol="&#xf005;" data-glyphicon="false" data-rating-class="rating-fa" data-clear-caption="未选择">
		                 </p>
		                 <div class="form-group">
		                           <textarea name="content" class="form-control  c-square c-theme" rows="6"></textarea>
		                   	</div>
		              </div>
	              <div class="form-group col-md-12">
	              	<label class="control-label">上传图片<p><small class="c-font-grey-2">上传图片配图最多4张，长高比例建议为16:10，图片宽度建议在600px~750px之间，支持jpg,gif,png格式</small></p></label>
	              	<input id="photos" name="photoPics" type="file" class="form-control c-square c-theme file-loading input-lg" accept="image/*" multiple>
					<script type="text/javascript">
							$("#photos").fileinput({
							    uploadUrl: "#", // server upload action
	    						showUpload: false,
	    						overwriteInitial: true,
	    						allowedFileExtensions:['jpg', 'gif', 'png'],
	    						minFileCount: 1,
	    						maxFileCount: 4
							});
					</script>
                  </div>
                  
                  <div class="col-md-12">
                     <button type="submit" class="btn c-btn c-btn-square c-theme-btn c-font-bold c-font-uppercase c-font-white">提交</button>
                  </div>
                </div>
               </form>
               <#else>
               	<div class="c-product-review-content">
	        <div class="c-shop-cart-page-1 c-center">
	            <i class="fa fa-sign-in c-font-dark c-font-50 c-font-thin "></i>
	            <h2 class="c-font-thin c-center">请登录后评价活动</h2>
	        </div>
	    </div>  
         </#if>
         </div>       
        </div>
		
		<div class="cbp-l-project-container">
		    <div class="cbp-l-project-related">
		        <div class="cbp-l-project-desc-title"><span>相关作品</span></div>
		
		        <ul class="cbp-l-project-related-wrap">
		            <li class="cbp-l-project-related-item">
		                <a href="ajax/project1.html" class="cbp-singlePage cbp-l-project-related-link">
		                    <img src="${basePath}/images/example/work4.jpg" alt="">
		                    <div class="cbp-l-project-related-title">Dashboard</div>
		                </a>
		            </li>
		            <li class="cbp-l-project-related-item">
		                <a href="ajax/project3.html" class="cbp-singlePage cbp-l-project-related-link">
		                    <img src="${basePath}/images/example/work5.jpg" alt="">
		                    <div class="cbp-l-project-related-title">To-Do Dashboard</div>
		                </a>
		            </li>
		            <li class="cbp-l-project-related-item">
		                <a href="ajax/project4.html" class="cbp-singlePage cbp-l-project-related-link">
		                    <img src="${basePath}/images/example/work6.jpg" alt="">
		                    <div class="cbp-l-project-related-title">Events and More</div>
		                </a>
		            </li>
		        </ul>
		
		    </div>
		</div>
        </div>
    </div>
    <!-- END: PAGE CONTENT -->
	
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){

	$('#work').addClass('c-active');
	
	var slider = $('.c-layout-revo-slider .cbp-slider');
	var api = slider.show().revolution({
		delay : 5000,
		startwidth : 1170,
		startheight: App.getViewPort().height,
		navigationType : "hide",
		navigationArrows : "solo",
		touchenabled : "on",
		onHoverStop : "on",
		keyboardNavigation : "off",
		navigationStyle : "circle",
		navigationHAlign : "center",
		navigationVAlign : "bottom",
		spinner : "spinner2",
		fullScreen : "on",
		fullScreenAlignForce : "on",
		fullScreenOffsetContainer : '',
		shadow : 0,
		fullWidth : "off",
		forceFullWidth : "off",
		hideTimerBar : "on",
		hideThumbsOnMobile : "on",
		hideNavDelayOnMobile : 1500,
		hideBulletsOnMobile : "on",
		hideArrowsOnMobile : "on",
		hideThumbsUnderResolution : 0
	});
	
  });
</script>

</body>

</html>