<#assign basePath=request.contextPath>

<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-slider">
            <ul class="cbp-slider-wrap">
            	<#if (work.photos.fileInfos)??>
					<#list work.photos.fileInfos as photo>
						<li class="cbp-slider-item">
		                    <a href="${basePath}/${photo.realPath}" class="cbp-lightbox">
		                        <img src="${basePath}/${photo.realPath}" alt="">
		                    </a>
		                </li>
					</#list>
				</#if>
            </ul>
        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">${(work.name)!''}</div>
        <!-- <div class="cbp-l-inline-subtitle">by Paul Flavius Nechita</div> -->

        <div class="cbp-l-inline-desc">${(work.des)!''}</div>

        <a href="${basePath}/work/toReview?id=${work.id}" target="_blank" class="cbp-l-inline-view btn btn-sm c-btn-square c-btn-border-1x c-btn-dark c-btn-uppercase c-btn-bold">查看</a>
    </div>
</div>
