<div class="footer">

	
	<div id="pop" style="display:none;" class="box box-danger box-solid">
         <div id="popHead" class="box-header with-border">
           <h3 class="box-title">消息</h3>
           <div class="box-tools pull-right">
             <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
           </div><!-- /.box-tools -->
         </div><!-- /.box-header -->
         <div id="popContent" class="box-body">
           <dl>
				<dt id="popTitle">提醒</dt>
				<dd id="popIntro">这里是内容简介</dd>
			</dl>
			<p id="popMore"><a href="#" >查看 »</a></p>
         </div><!-- /.box-body -->
     </div><!-- /.box -->

</div>

 <script type="text/javascript">    
  </script>