<header class="main-header">
        <!-- Logo -->
        <a href="${basePath}/admin/toMain" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>后台管理</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>后台管理</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span>${(Session.sessionUser.realName)!''}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <p>
                      	我们的目标
                      
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-right">
                      <a href="${basePath}/user/logout" class="btn btn-default btn-flat">退出</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      
      
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header"></li>
            <li class="active">
              <a href="${basePath}/admin/toMain">
                <i class="fa fa-dashboard"></i> <span>首页</span>
              </a>
            </li>
            <li id="sy" class="treeview">
              <a href="#">
                <i class="fa fa-cog"></i>
                <span>首页管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li id="home_lb"><a href="${basePath}/admin/home/tolb?type=1"><i class="fa fa-circle-o"></i> 轮播</a></li>
                <li id="home_tj"><a href="${basePath}/admin/home/tolb?type=2"><i class="fa fa-circle-o"></i> 活动推荐 </a></li>
                <li id="home_rm"><a href="${basePath}/admin/home/tolb?type=3"><i class="fa fa-circle-o"></i> 热门活动</a></li>
                <li id="home_work_rm"><a href="${basePath}/admin/home/tolb?type=4"><i class="fa fa-circle-o"></i> 热门作品</a></li>
              </ul>
            </li>
            <li id="hd" class="treeview">
              <a href="#">
                <i class="fa fa-cog"></i>
                <span>活动管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li id="hd_sh"><a href="${basePath}/admin/project/toProjectShList"><i class="fa fa-circle-o"></i> 活动审核</a></li>
                <li id="hd_gl"><a href="${basePath}/admin/project/toProjectGlList"><i class="fa fa-circle-o"></i> 活动管理</a></li>
              </ul>
            </li>
            
            <li id="hd" class="treeview">
              <a href="#">
                <i class="fa fa-cog"></i>
                <span>作品管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li id="imagetarget-form"><a href="#"><i class="fa fa-circle-o"></i> 作品审核</a></li>
                <li id="imagetarget-list"><a href="#"><i class="fa fa-circle-o"></i> 作品管理</a></li>
              </ul>
            </li>
            
            <li id="yh" class="treeview">
              <a href="#">
                <i class="fa fa-user"></i>
                <span>用户管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li id="yh_sh"><a href="${basePath}/admin/user/toUserShList"><i class="fa fa-circle-o"></i> 用户审核</a></li>
                <li id="yh_gl"><a href="${basePath}/admin/user/toUserGlList"><i class="fa fa-circle-o"></i> 用户管理</a></li>
              </ul>
            </li>
           
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
      
      <#include "../error/error_modal.html">
	  <#include "../error/success_modal.html">
      
<script type="text/javascript">

</script>
      
      
      