<#assign basePath=request.contextPath>
<div class="panel panel-default">
	<div class="panel-heading">
		<strong>发布活动</strong>
		<a href="avascript:void(0);" onclick="refresh();return false;" class="btn btn-info btn-sm pull-right" role="button">
			<span class="glyphicon glyphicon-repeat"></span> 刷新
		</a>
	</div>
	
	<div class="panel-body">
			<table class="table table-bordered">
			<tr><td>
					<a id="add_project" href="${basePath}/project/toCreate" target="_blank" class="btn btn-success btn-lg">
						<p class="text-center" style="font-size: 20px">
						<span class="glyphicon glyphicon-plus" style="font-size: 40px"></span>
						<br>添加活动
						</p>
					</a>
			</td></tr>
			</table>
			
			 <!-- 容器 -->  
			 <div id="infin_content">
				 <#include "./project_fb_item.html">
			 </div>
			 
			 <!-- 翻页 -->
			 <div id="navigation" align="center">
		        <a href="${basePath}/project/getUserCreatedProject?page=1"></a>  
		    </div>  
		</div>
	</div>
	
	<script>  
 $(document).ready(function (){               
      $("#infin_content").infinitescroll({  
            navSelector: "#navigation",
            nextSelector: "#navigation a",  
            itemSelector: ".item",             
            animate: false, 
            extraScrollPx: 10,
            currPage: 1,
            debug: true, 
            dataType: 'html',
            maxPage: '${(pager.totalPage)!"1"}',
            loading: {
            	finishedMsg: '<h5><small>没有更多内容了</small></h5>' ,
            	msgText : '<h5><small>正在加载中...</small></h5>'
            }                                               
        });
        
        function refresh(){
        	$("#project_fb_nav").click();
        }
 });   
    </script>  