.navbar {
	min-height: 40px;
}

.main-header {
	margin: 2% 0;
	background-color: #FF9900;
}

.main-header .navbar-nav  a:hover,
.main-header .navbar-nav a:focus {
  background-color: #FFCC00;
}

.main-header a{
	color: #FFFFFF;
}