.header-top { /*background:#4cb1ca;*/
	background-color: #232323;
	height: 66px;
	border-top: 1px solid #203545;
	-webkit-box-shadow: 0 1px 1px #000;
	box-shadow: 0 1px 1px #000;
}

.header-top-left {
	width: 40%;
	float: left;
	margin: 10px;
}

.play-navbar-right {
    float: right;
}

.logo {
	float: left;
	width: 30%;
	margin-right: 10.6%;
}

.box {
	float: left;
	width: 40%;
	text-align: left;
}

.cssmenu {
	float: right;
	color: #fff;
	font-size: 0.9125em;
	margin: 14px 10px 0;
}

.cssmenu ul li {
	display: inline-block;
}

.cssmenu ul li a {
	color: #b0b0b0;
	display: block;
	margin: 2px;
}

.cssmenu li>a:hover {
	color: #fff;
}

.header-bottom {
	background: #fff;
	padding: 0 0;
}

/*--menu--*/
/* dCodes Framework:(c) TemplateAccess */
.menu {
	float: left;
	margin-top: 6px;
}

.locate-info {
    float: left;
    margin: 0px 0 0;
    position: relative;
    z-index: 10;
}
.locate-info em {
    color: #FF8800;
    padding-right: 2px;
}
.locate-info .locate-link {
    color: #b0b0b0;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 21px 14px 15px;
}
.locate-info .locate-link.locate-link-hover {
    color: #b0b0b0;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 21px 0 15px;
}
.locate-info .popup-area-wrap {
    background-color: #f4f4f4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: none;
    height: 218px;
    left: -191px;
    position: absolute;
    top: 45px;
    width: 521px;
    z-index: 100;
}
.locate-info .popup-area-wrap::after {
    border-color: transparent transparent #fff;
    border-style: solid solid dashed;
    border-width: 10px;
    content: "";
    left: 207px;
    position: absolute;
    top: -19px;
}
.locate-info .popup-area-wrap .arealist {
    padding-left: 20px;
}
.locate-info .popup-area-wrap .arealist li {
    float: left;
    padding: 12px 0 0;
    width: 62px;
}
.locate-info .popup-area-wrap .arealist a {
    color: #585858;
    display: inline-block;
    font-size: 14px;
    height: 26px;
    line-height: 25px;
    padding: 0 10px;
}
.locate-info .popup-area-wrap .arealist a:hover {
    background: none repeat scroll 0 0 #3ab191;
    color: #fff;
}
.locate-info .popup-area-wrap .arealist span {
    background: none repeat scroll 0 0 #ff8600;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 26px;
    line-height: 25px;
    padding: 0 10px;
}
.locate-info .popup-area-wrap .bg_w {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    height: 50px;
}
.locate-info .popup-area-wrap .bg_w a {
    color: #3ab191;
}
.locate-info .popup-area-wrap .bg_w a:hover {
    color: #fff;
}
.locate-info .icon-l {
    display: block;
    height: 14px;
    position: absolute;
    width: 10px;
}
.locate-info .icon-locate-l {
    /*background: url("../images/locate_10x14.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 0;
    top: 14px;*/
    
    position: relative;
	top: 3px;
	margin: 0 6px;
	/*background: url("../images/locate_10x14.png") -5px -3px no-repeat;*/
	height: 18px;
	width: 12px;
	display: inline-block;
}

.line-search {
    float: left;
    margin: 14px 0 0;
}
.line-search .line-search-form button {
    background: url("../images/search.png") no-repeat scroll center center #FF8800;
    border: 0 none;
    float: left;
    height: 40px;
    overflow: hidden;
    text-indent: -99em;
    width: 48px;
}
.line-search-input {
    width: 294px;
}
.line-search-input .s-combobox {
    -moz-border-bottom-colors: #FF8800;
    -moz-border-left-colors: #FF8800;
    -moz-border-right-colors: #FF8800;
    -moz-border-top-colors: #FF8800;
    border-color: #FF8800;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    float: left;
    width: 245px;
}
.line-search-input .s-combobox-input-wrap {
    height: 38px;
}
.line-search-input .s-combobox-input {
    background-color: transparent;
    border: 0 none;
    color: #b0b0b0;
    display: block;
    height: 24px;
    line-height: 24px;
    margin: 0;
    outline: 0 none;
    padding: 6px 3px 8px 15px;
    width: 227px;
}

.line-order {
    float: left;
    margin: 14px 0 0 8px;
}
.line-order .order-link {
    border: 1px solid #FF8800;
    color: #FF8800;
    display: block;
    height: 38px;
    line-height: 38px;
    padding: 0 21px;
}
.line-order .order-link:hover {
    background-color: #FF8800;
    color: #fff;
}


.header-bottom-left {
	float: left;
	width: 64.5%;
	margin-top: 10px;
}

.header-bottom-right {
	float: right;
	width: 30.5%;
	margin-top: 10px;
}

.search {
	background: #fff;
	border: 1px solid #ddd;
	position: relative;
	float: left;
	margin: 6px 20px 0 0;
}

.search input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size: 0.85em;
	font-family: 'Exo 2', sans-serif;
	color: #777;
	width: 130px;
	padding: 7px;
	-webkit-apperance: none;
	margin: 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

.search input[type="text"]:focus {
	width: 150px;
}

.search input[type="submit"] {
	border: none;
	text-indent: -9999px;
	outline: none;
	cursor: pointer;
	background: url("../images/search.png") no-repeat 0px 3px;
	width: 30px;
	height: 25px;
	padding: 8px;
}

.search input[type="submit"]:active {
	position: relative;
}

.tag-list {
	float: left;
}