.header{
	background-image: url("../images/header.png");
	background-repeat:no-repeat;
	background-size:cover; 
}

.footer{
	background-image: url("../images/header.png");
	background-repeat:no-repeat;
	background-size:cover; 
}
	