.divwrap{
	width:70%;
	margin:0 auto;
	font-size: 1.2em;
	color:#777;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}

.col_1_of_person {
	display: block;
	float: left;
	margin: 1% 0 1% 4.6%;
}

.span_1_of_person {
	width: 15%;
	padding: 1.5%;
}

.span_1_of_person ul li {
	margin: 10px;
	padding:2% 0;
}

.span_1_of_person ul li a{
	display:block;
	font-size: 0.85em;
	color:#777;
	text-transform:capitalize;
	line-height:2em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.span_1_of_person ul li a:hover {
	color: #4cb1ca;
}

.span_2_of_person {
	width:65%;
	padding:1.5%;
}

.span_2_of_person span{
	font-size: 2em;
}

.span_2_of_person label{
	font-size:0.95em;
	color:#777;
	font-family: 'Exo 2', sans-serif;
}

.span_2_of_person label.title{
	font-size:0.95em;
	color:#777;
	font-family: 'Exo 2', sans-serif;
	text-align:right;
	vertical-align: middle;
	height:80%;
	display:-moz-inline-box;  
	display:inline-block;
	width:10%;
}

.span_2_of_person input[type="text"] , .span_2_of_person input[type="date"] , .span_2_of_person input[type="email"]{
	font-size:0.95em;
	color:#777;
	padding: 8px;
	outline: none;
	margin:10px 0;
	width:30%;
	font-family: 'Exo 2', sans-serif;
	border:none;
	box-shadow:0 0 2px #aaa;
	-webkit-box-shadow:0 0 2px #aaa;
	-moz-box-shadow:0 0 2px #aaa;
	-o-box-shadow:0 0 2px #aaa;
}

.span_2_of_person input[type="radio"]{
	font-size:0.95em;
	color:#777;
	padding: 8px;
	outline: none;
	margin:10px 0;
	font-family: 'Exo 2', sans-serif;
	border:none;
}

.photoimg{
	float: left;
	width: 10%;
	height: 10%;
	margin-right: 30px;
	border-radius: 40px;
}
.breviaryimg{
	width: 15%;
	height: 15%;

}