/*胶囊*/
.capsule {
	border: 0 solid transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	width: 200px;
	height: 20px;
	background: #FFAA33;
	margin-top: 10px;
	padding:1% 2%;
	color: #FFF;
}

/*胶囊*/
.capsule1 {
	border: 0 solid transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	width: 200px;
	height: 20px;
	background: #55AA00;
	margin-top: 10px;
	padding:1% 2%;
	color:#555;
}