body {
	font-family:"Microsoft Yahei","Helvetica Neue",Arial,sans-serif;
	font-size: 16px;
	background-image: url("../images/bg.png");
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	color:#fff;
}

/*a标签样式*/
a {
  color: #fff;
}
a:hover,a:focus {
  color: #9d9d9d;
  background-color: transparent;
  text-decoration: underline;
}
.active > a,.active > a:hover,.active > a:focus {
  color: #9d9d9d;
  background-color: #080808;
  text-decoration: underline;
}
.disabled > a,.disabled > a:hover,.disabled > a:focus {
  color: #444;
  background-color: transparent;
  text-decoration: underline;
}

/*a标签样式结束*/




.main-content {
	margin: 5% 0;
}

.orange-color{
	color: #FF6600;
}

.weixin {
	float: left;
	width: 50px;
	height: 27px;
	background: url("../images/indexTool.png") no-repeat -35px -290px;
}

.weibo {
	float: left;
	width: 50px;
	height: 27px;
	background: url("../images/indexTool.png") no-repeat -90px -290px;
}

.qq {
	float: left;
	width: 50px;
	height: 27px;
	background: url("../images/indexTool.png") no-repeat -140px -290px;
}

.dj {
	float: left;
	width: 22px;
	height: 25px;
	background: url("../images/indexTool.png") no-repeat -160px -460px;
}

hr {
	border-top: 1px solid #AAAAAA;
}