<#assign basePath=request.contextPath>
	<div class="well">
		<h5><strong>
		<ul class="nav nav-pills">
		  <li class="active"><a href="#tab1" data-toggle="tab">发布活动</a></li>
		  <li><a href="#tab2" data-toggle="tab">参加的活动</a></li>
		</ul>
		</strong></h5>
	</div>
	
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<table class="table table-bordered">
			<tr><td>
					<a id="add_project" href="${basePath}/project/toCreate" target="_blank" class="btn btn-success btn-lg">
						<p class="text-center" style="font-size: 20px">
						<span class="glyphicon glyphicon-plus"></span>
						<br>添加活动
						</p>
					</a>
			</td></tr>
			</table>
			
			
				<#if projectOrders??>
				 <#list projectOrders as projectOrder>
				 <div class="panel panel-default well">
	  				<div class="panel-body">
		  				<div class="col-sm-10 col-md-10 column">
						 <div class="media">
					        <h5>订单编号：${projectOrder.id} <p class="pull-right">订单状态：${(projectOrder.status)!''}</p></h5>
						      <div class="media-left">
						      	<img class="media-object" <#if projectOrder?? && projectOrder.project?? && projectOrder.project.photos?? && projectOrder.project.photos.fileInfos??>src="${basePath}/${projectOrder.project.photos.fileInfos[0].realPath}"<#else>src="http://placehold.it/64x64"</#if> 
										       alt="" style="width: 300px; height: 120px;">
							  </div>
							  <div class="media-body">
								  <h4 class="media-heading">${(projectOrder.project.name)!''}</h4>
								  <p>价格：<span class="glyphicon glyphicon-yen"></span> ${(projectOrder.project.cost)!''}</p>
								  <p>下单时间：${(projectOrder.createTime)!''}</p>
							  </div>
						  </div>
						 </div>
						  
						 <div class="col-sm-2 col-md-2 column">
						  	<a href="#" class="btn btn-block btn-success" role="button">查看详情</a>
						  	<a href="#" class="btn btn-block btn-info" role="button">取消订单</a>
						 </div>
					  
					  </div>
				  </div>
				 </#list>
				</#if>
		</div>	
			
		
		<div class="tab-pane" id="tab2">
			<table class="table">
			 <tr>
			 	<td>
					参加的活动
			 	</td>
			 </tr>
			</table>
		</div>
	
	
</div>