<div class="panel panel-default">
	<div class="panel-heading">
		<h5><strong>
		<ul class="nav nav-pills">
		  <li role="presentation" class="active" data-toggle="tab"><a href="#">发布活动</a></li>
		  <li role="presentation" data-toggle="tab"><a href="#">正在进行的活动</a></li>
		  <li role="presentation" data-toggle="tab"><a href="#">参加的活动</a></li>
		</ul>
		</strong></h5>
	</div>
	
	<table class="table">
	 <tr>
	 	<td>
			<a href="${basePath}/project/toCreate" target="_blank" class="btn btn-success btn-lg">
				<p class="text-center" style="font-size: 25px">
				<span class="glyphicon glyphicon-plus"></span>
				<br>添加活动
				</p>
			</a>
	 	</td>
	 </tr>
	</table>
	
</div>