<#assign basePath=request.contextPath>
<div class="panel panel-default">
	<div class="panel-heading">
		<strong>发布活动</strong>
	</div>
	
	<div class="panel-body">
			<div id='masonny-div'>
			 <div class="item">内容1</div>
			 <div class="item">内容2</div>
			 <div class="item">内容3</div>
			 <div class="item">内容4</div>
			 <div class="item">内容5</div>
			 <div class="item">内容6</div>
			 <div class="item">内容7</div>
			 <div class="item">内容8</div>
			 <div class="item">内容9</div>
			 <div class="item">内容10</div>
			 
			 <div class="item">内容1</div>
			 <div class="item">内容2</div>
			 <div class="item">内容3</div>
			 <div class="item">内容4</div>
			 <div class="item">内容5</div>
			 <div class="item">内容6</div>
			 <div class="item">内容7</div>
			 <div class="item">内容8</div>
			 <div class="item">内容9</div>
			 <div class="item">内容10</div>
			 
			 <div class="item">内容1</div>
			 <div class="item">内容2</div>
			 <div class="item">内容3</div>
			 <div class="item">内容4</div>
			 <div class="item">内容5</div>
			 <div class="item">内容6</div>
			 <div class="item">内容7</div>
			 <div class="item">内容8</div>
			 <div class="item">内容9</div>
			 <div class="item">内容10</div>
			 
			 <div class="item">内容1</div>
			 <div class="item">内容2</div>
			 <div class="item">内容3</div>
			 <div class="item">内容4</div>
			 <div class="item">内容5</div>
			 <div class="item">内容6</div>
			 <div class="item">内容7</div>
			 <div class="item">内容8</div>
			 <div class="item">内容9</div>
			 <div class="item">内容10</div>
			</div>
			
			 <div id="next">
			    <a href="${basePath}/project/test1">next</a>
			</div>
			
		</div>
	</div>