<div class="c-layout-sidebar-menu c-theme ">
    <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-DASHBOARD -->
    <div class="c-sidebar-menu-toggler">
        <h3 class="c-title c-font-uppercase c-font-bold">派友</h3>
        <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-1">
            <span class="c-line"></span>
            <span class="c-line"></span>
            <span class="c-line"></span>
        </a>
    </div>
    <ul class="c-sidebar-menu collapse " id="sidebar-menu-1">
        <li class="c-dropdown c-open">
            <a href="javascript:;" class="c-toggler">派友
                <span class="c-arrow"></span>
            </a>
            <ul class="c-dropdown-menu">
                <li id="blog_friend">
                    <a href="${basePath}/friend/toFriend">我的派友</a>
                </li>
                <li id="blog_friend_search">
                    <a href="${basePath}/friend/toFriendSearch">搜索派友</a>
                </li>
                <li id="blog_my">
                    <a href="${basePath}/friend/toMy">我的派文</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-DASHBOARD -->
</div>