<!-- BEGIN: CONTENT/SHOPS/SHOP-2-4 -->
<div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space">
	<div class="c-content-title-1">
		<h3 class="c-font-uppercase c-center c-font-bold c-font-white">热门活动</h3>
		<div class="c-line-center c-theme-bg"></div>
	</div>

	<!-- BEGIN: FEATURES 4.3 --> 
	<div class="c-content-box c-size-md c-no-padding c-bg-white">
		<div class="c-content-feature-4">
			<div class="c-bg-parallax c-feature-bg c-content-right c-diagonal c-border-left-white" style="background-image: url(${basePath}/images/example/project1.jpg)"></div>		
			<div class="c-content-area c-content-left"></div>		
			<div class="container">
				<div class="c-feature-content c-left">
					<div class="c-content-v-center">
						<div class="c-wrapper">
							<div class="c-body">
								<div class="c-content-title-1">
									<h3 class="c-font-uppercase c-font-bold c-left">Ultra Responsive</h3>
									<div class="c-line-left"></div>
									<p class="c-left">JANGO has it all</p>
								</div>
								<div class="c-content">
									<p class="c-margin-b-30 c-left">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy tincidunt 
										ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud. 
									</p>
									<button class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold">EXPLORE</button> 
									<button class="btn btn-lg c-btn-green c-btn-square c-btn-bold">PURCHASE</button>
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>
	<!-- END: FEATURES 4.3 --><!-- END: CONTENT/FEATURES/FEATURES-4-3 -->
	<!-- BEGIN: CONTENT/FEATURES/FEATURES-4-4 -->
	<!-- BEGIN: FEATURES 4.4 --> 
	<div class="c-content-box c-size-md c-no-padding c-bg-dark-2">
		<div class="c-content-feature-4">
			<div class="c-bg-parallax c-feature-bg c-content-left c-diagonal c-border-right-dark-2" style="background-image: url(${basePath}/images/example/project2.jpg)"></div>		
			<div class="c-content-area c-content-right"></div>		
			<div class="container">
				<div class="c-feature-content c-right">
					<div class="c-content-v-center">
						<div class="c-wrapper">
							<div class="c-body">
								<div class="c-content-title-1">
									<h3 class="c-font-uppercase c-font-bold c-font-white">The Best of JANGO</h3>
									<div class="c-line-right"></div>
									<p>Ever growing with constant innovation</p>
								</div>
								<div class="c-content">
									<p class="c-margin-b-30">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy tincidunt 
										ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud. 
									</p>
									<button class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold">EXPLORE</button> 
									<button class="btn btn-lg c-btn-green c-btn-square c-btn-bold">PURCHASE</button>
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>
	<!-- END: FEATURES 4.4 --><!-- END: CONTENT/FEATURES/FEATURES-4-4 -->
	
	<!-- BEGIN: FEATURES 4.3 --> 
	<div class="c-content-box c-size-md c-no-padding c-bg-white">
		<div class="c-content-feature-4">
			<div class="c-bg-parallax c-feature-bg c-content-right c-diagonal c-border-left-white" style="background-image: url(${basePath}/images/example/project3.jpg)"></div>		
			<div class="c-content-area c-content-left"></div>		
			<div class="container">
				<div class="c-feature-content c-left">
					<div class="c-content-v-center">
						<div class="c-wrapper">
							<div class="c-body">
								<div class="c-content-title-1">
									<h3 class="c-font-uppercase c-font-bold c-left">Ultra Responsive</h3>
									<div class="c-line-left"></div>
									<p class="c-left">JANGO has it all</p>
								</div>
								<div class="c-content">
									<p class="c-margin-b-30 c-left">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy tincidunt 
										ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud. 
									</p>
									<button class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold">EXPLORE</button> 
									<button class="btn btn-lg c-btn-green c-btn-square c-btn-bold">PURCHASE</button>
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>
	<!-- END: FEATURES 4.3 --><!-- END: CONTENT/FEATURES/FEATURES-4-3 -->
	<!-- BEGIN: CONTENT/FEATURES/FEATURES-4-4 -->
	<!-- BEGIN: FEATURES 4.4 --> 
	<div class="c-content-box c-size-md c-no-padding c-bg-dark-2">
		<div class="c-content-feature-4">
			<div class="c-bg-parallax c-feature-bg c-content-left c-diagonal c-border-right-dark-2" style="background-image: url(${basePath}/images/example/project4.jpg)"></div>		
			<div class="c-content-area c-content-right"></div>		
			<div class="container">
				<div class="c-feature-content c-right">
					<div class="c-content-v-center">
						<div class="c-wrapper">
							<div class="c-body">
								<div class="c-content-title-1">
									<h3 class="c-font-uppercase c-font-bold c-font-white">The Best of JANGO</h3>
									<div class="c-line-right"></div>
									<p>Ever growing with constant innovation</p>
								</div>
								<div class="c-content">
									<p class="c-margin-b-30">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy tincidunt 
										ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud. 
									</p>
									<button class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold">EXPLORE</button> 
									<button class="btn btn-lg c-btn-green c-btn-square c-btn-bold">PURCHASE</button>
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>
	<!-- END: FEATURES 4.4 --><!-- END: CONTENT/FEATURES/FEATURES-4-4 -->

</div>
