<!-- BEGIN: CONTENT/SHOPS/SHOP-2-4 -->
<div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space">
	<div class="c-content-title-1">
		<h3 class="c-font-uppercase c-center c-font-bold c-font-white">热门活动</h3>
		<div class="c-line-center c-theme-bg"></div>
	</div>

	<#list rmProjects as rmProject>
	<#if rmProject_index%2==0 >
	<!-- BEGIN: FEATURES 4.3 --> 
	<div class="c-content-box c-size-md c-no-padding c-bg-white">
		<div class="c-content-feature-4">
			<div class="c-bg-parallax c-feature-bg c-content-right c-diagonal c-border-left-white" style="background-image: url(${basePath}/${rmProject.photos.fileInfos[0].realPath}); background-size: cover;"></div>		
			<div class="c-content-area c-content-left"></div>		
			<div class="container">
				<div class="c-feature-content c-left">
					<div class="c-content-v-center">
						<div class="c-wrapper">
							<div class="c-body">
								<div class="c-content-title-1">
									<h3 class="c-font-uppercase c-font-bold c-left">${(rmProject.name)!''}</h3>
									<div class="c-line-left"></div>
									<!--<p class="c-left">JANGO has it all</p>
								--></div>
								<div class="c-content">
									<p class="c-margin-b-30 c-left">
										${(rmProject.des)!''}
									</p>
									<p class="c-price c-font-55 c-font-red c-font-thin"><#if (rmProject.cost)?? && rmProject.cost=="0">免费<#else> ￥${(rmProject.cost)!''}</#if></p>
									<a href="${basePath}/project/toReview?id=${rmProject.id}" class="btn btn-lg c-btn-green c-btn-square c-btn-bold">立刻预定</a>
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>	
	<!-- END: FEATURES 4.3 --><!-- END: CONTENT/FEATURES/FEATURES-4-3 -->
	</#if>
	
	<#if rmProject_index%2==1 >
	<!-- BEGIN: CONTENT/FEATURES/FEATURES-4-4 -->
	<!-- BEGIN: FEATURES 4.4 --> 
	<div class="c-content-box c-size-md c-no-padding c-bg-dark-2">
		<div class="c-content-feature-4">
			<div class="c-bg-parallax c-feature-bg c-content-left c-diagonal c-border-right-dark-2" style="background-image: url(${basePath}/${rmProject.photos.fileInfos[0].realPath}); background-size: cover;"></div>		
			<div class="c-content-area c-content-right"></div>		
			<div class="container">
				<div class="c-feature-content c-right">
					<div class="c-content-v-center">
						<div class="c-wrapper">
							<div class="c-body">
								<div class="c-content-title-1">
									<h3 class="c-font-uppercase c-font-bold c-font-white">${(rmProject.name)!''}</h3>
									<div class="c-line-right"></div>
									<!--<p>Ever growing with constant innovation</p>
								--></div>
								<div class="c-content">
									<p class="c-margin-b-30">
										${(rmProject.des)!''}
									</p>
									<p class="c-price c-font-55 c-font-red c-font-thin"><#if (rmProject.cost)?? && rmProject.cost=="0">免费<#else> ￥${(rmProject.cost)!''}</#if></p>
									<a href="${basePath}/project/toReview?id=${rmProject.id}" class="btn btn-lg c-btn-green c-btn-square c-btn-bold">立刻预定</a>
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>
	<!-- END: FEATURES 4.4 --><!-- END: CONTENT/FEATURES/FEATURES-4-4 -->
	</#if>
	</#list>

</div>
