<!-- BEGIN: CONTENT/SHOPS/SHOP-5-1 -->
<div class="c-content-box c-size-md c-no-bottom-padding c-overflow-hide c-bs-grid-reset-space">
	<div class="c-content-title-1">
		<h3 class="c-center c-font-uppercase c-font-bold c-font-white">活动推荐</h3>
		<div class="c-line-center c-theme-bg"></div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="c-content-product-5">
				<div class="c-bg-img-center" style="height:800px;background-image: url(${basePath}/images/example/21.jpg)">
					<div class="c-detail c-bg-dark c-bg-opacity-2">
						<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Shop Now</a>
						<h3 class="c-title c-font-uppercase c-font-bold c-font-white c-font-90">Promo</h3>
						<p class="c-desc c-font-white c-font-17">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam dolore</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="c-content-product-5 c-content-overlay">
						<div class="c-overlay-wrapper">
							<div class="c-overlay-content">
								<h3 class="c-title c-margin-tb-30 c-font-uppercase c-font-bold c-font-30 c-font-white c-padding-20">
									<span class="c-font-thin">Watch</span><br/>Collection
								</h3>
								<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Shop Now</a>
							</div>
						</div>
						<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 400px; background-image: url(${basePath}/images/example/59.jpg);"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="c-content-product-5 c-content-overlay">
						<div class="c-overlay-wrapper">
							<div class="c-overlay-content">
								<h3 class="c-title c-margin-tb-30 c-font-uppercase c-font-bold c-font-30 c-font-white c-padding-20">
									<span class="c-font-thin">Sunglasses</span><br/>Collection
								</h3>
								<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Shop Now</a>
							</div>
						</div>
						<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 400px; background-image: url(${basePath}/images/example/26.jpg);"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="c-content-product-5">
						<div class="c-bg-img-center c-center" style="height:400px;background-image: url(${basePath}/images/example/05.jpg)">
							<div class="c-wrapper c-center-vertical">
								<h3 class="c-title c-margin-tb-30 c-font-30 c-font-uppercase c-font-bold c-font-white">
									<span class="c-line"><span class="c-font-thin">New</span> Collection</span>
								</h3>
								<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square c-margin-t-20">Shop Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- END: CONTENT/SHOPS/SHOP-5-1 -->
