<!-- BEGIN: CONTENT/SHOPS/SHOP-5-1 -->
<div class="c-content-box c-size-md  c-overflow-hide c-bs-grid-reset-space">
	<div class="c-content-title-1">
		<h3 class="c-center c-font-uppercase c-font-bold c-font-white">热门作品</h3>
		<div class="c-line-center c-theme-bg"></div>
	</div>
		
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="c-content c-content-overlay">
					<div class="c-overlay-wrapper c-overlay-padding">
						<div class="c-overlay-content">
							<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/work1.jpg);"></div>
					<div class="c-overlay-border"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="c-content c-content-overlay">
					<div class="c-overlay-wrapper c-overlay-padding">
						<div class="c-overlay-content">
							<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/work2.jpg);"></div>
					<div class="c-overlay-border"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="c-content c-content-overlay">
					<div class="c-overlay-wrapper c-overlay-padding">
						<div class="c-overlay-content">
							<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/work3.jpg);"></div>
					<div class="c-overlay-border"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="c-content c-content-overlay">
					<div class="c-overlay-wrapper c-overlay-padding">
						<div class="c-overlay-content">
							<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/work4.jpg);"></div>
					<div class="c-overlay-border"></div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6">
				<div class="c-content c-content-overlay">
					<div class="c-overlay-wrapper c-overlay-padding">
						<div class="c-overlay-content">
							<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/work5.jpg);"></div>
					<div class="c-overlay-border"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="c-content c-content-overlay">
					<div class="c-overlay-wrapper c-overlay-padding">
						<div class="c-overlay-content">
							<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/work6.jpg);"></div>
					<div class="c-overlay-border"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="c-content c-content-overlay">
					<div class="c-overlay-wrapper c-overlay-padding">
						<div class="c-overlay-content">
							<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/work7.jpg);"></div>
					<div class="c-overlay-border"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="c-content c-content-overlay">
					<div class="c-overlay-wrapper c-overlay-padding">
						<div class="c-overlay-content">
							<a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/work8.jpg);"></div>
					<div class="c-overlay-border"></div>
				</div>
			</div>
		</div>
</div><!-- END: CONTENT/SHOPS/SHOP-1-3 -->