<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	
	<!-- BEGIN: PAGE CONTENT -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="cbp-panel">
                    
                    	
                        <div class="clearfix">
					        
					    </div>
					    
					    <div class="c-content-title-1">
                                        <h3 class="c-left c-theme-font">活动</h3>
                                        <div class="c-line-left c-bg-blue"></div>
                                </div>
					    
                        <div id="grid-container" class="cbp cbp-l-grid-agency">
                        	<#list projects as project>
					         <div class="cbp-item" style="border:1px solid #e5e5e5">
	                            <a href="${basePath}/project/toReview?id=${project.id}" target="_blank">
	                                <div class="cbp-caption">
	                                    <div class="cbp-caption-defaultWrap">
	                                        <img src="${basePath}/${project.photos.fileInfos[0].realPath}" alt=""> </div>
	                                </div>
	                                <div class="cbp-l-grid-agency-title">${(project.name)!''}</div>
	                                <div class="cbp-l-grid-agency-desc">${(project.des)!''}</div>
	                            </a>
	                        </div>
					        </#list>
                        </div>
                        
					    <div id="loadMore-container" class="cbp-l-loadMore-button c-margin-t-60">
                        <a href="${basePath}/work/loadmore" class="cbp-l-loadMore-link btn c-btn-square c-btn-border-2x c-btn-dark c-btn-bold c-btn-uppercase">
                            <span class="cbp-l-loadMore-defaultText">加载更多</span>
                            <span class="cbp-l-loadMore-loadingText">加载中...</span>
                            <span class="cbp-l-loadMore-noMoreLoading">没有作品了</span>
                        </a>
                    </div>

                    </div>
                    
                    <div class="cbp-panel">
                    
                    	
                        <div class="clearfix">
					        
					    </div>
					    
					    <div class="c-content-title-1">
                                        <h3 class="c-left c-theme-font">活动</h3>
                                        <div class="c-line-left c-bg-blue"></div>
                                </div>
					    
                        <div id="grid-container" class="cbp cbp-l-grid-agency">
                        	<#list works as work>
					         <div class="cbp-item" style="border:1px solid #e5e5e5">
	                            <a href="${basePath}/work/toReview?id=${work.id}" target="_blank">
	                                <div class="cbp-caption">
	                                    <div class="cbp-caption-defaultWrap">
	                                        <img src="${basePath}/${work.photos.fileInfos[0].realPath}" alt=""> </div>
	                                </div>
	                                <div class="cbp-l-grid-agency-title">${(work.name)!''}</div>
	                                <div class="cbp-l-grid-agency-desc">${(work.des)!''}</div>
	                            </a>
	                        </div>
					        </#list>
                        </div>
                        
					    <div id="loadMore-container" class="cbp-l-loadMore-button c-margin-t-60">
                        <a href="${basePath}/work/loadmore" class="cbp-l-loadMore-link btn c-btn-square c-btn-border-2x c-btn-dark c-btn-bold c-btn-uppercase">
                            <span class="cbp-l-loadMore-defaultText">加载更多</span>
                            <span class="cbp-l-loadMore-loadingText">加载中...</span>
                            <span class="cbp-l-loadMore-noMoreLoading">没有作品了</span>
                        </a>
                    </div>

                    </div>
                    
                </div>
            </div>
            <!-- END: PAGE CONTENT -->
	
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){
	
	(function($, window, document, undefined) {
    'use strict';

    // init cubeportfolio
    $('#grid-container').cubeportfolio({
        filters: '#filters-container',
        loadMore: '#loadMore-container',
        loadMoreAction: 'click',
        layoutMode: 'grid',
        defaultFilter: '*',
        animationType: 'slideLeft',
        gapHorizontal: 35,
        gapVertical: 15,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 1400,
            cols: 3
        }, {
            width: 1100,
            cols: 3
        }, {
            width: 800,
            cols: 2
        }, {
            width: 500,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        caption: 'zoom',
        displayType: 'lazyLoading',
        displayTypeSpeed: 100,
    });

})(jQuery, window, document)
  
  });
</script>

</body>

</html>