<#assign basePath=request.contextPath>
<!DOCTYPE HTML>
<html>
<head>
<!-- title start-->
   <#include "../../common/title.html">
  <!-- title end-->
  
  <!-- link start-->
   <#include "../../common/link.html">
   <script src="${basePath}/js/MD5.js" type="text/javascript"></script>
   <script src="${basePath}/js/area.js"></script>
  <!-- link end-->
  
</head>

<body>
  <!-- header start-->
  <#include "../../common/header.html">
  <!-- header end -->
  
          <div class="register_account">
          	<div class="wrap">
    	      <h4 class="title">创建用户</h4>
    		  <form action="${basePath}/user/registerPublisher" method="post" enctype="multipart/form-data" name="register" onsubmit="md5()">
    			  <div class="col_1_of_login span_1_of_login">
    			 <h3 class="title">步骤</h3>
					<p>
					<div class="capsule">填写注册信息</div>
					<div class="capsule">通过邮件确认</div>
					<div class="capsule">完善个人信息</div>
					<div class="capsule">等待审核</div>
					</p>
					 <div class="clear"></div>
				</div>
		    	  <div class="col_1_of_login span_1_of_login">
		    	  	<div>
		    	  	<a href="${basePath}/user/toRegister" class="grey" >普通用户</a>
		    	  	<a href="#" class="select">活动发布者</a>
		    	  	</div>
		    		<div><input id="email" type="email" name="email" placeholder="邮箱地址" autofocus="autofocus" maxlength="50" required="required" oninput="checkEmail()"></div>
		    		<div><input id="password" type="password" name="password"  placeholder="密码 6-10位字母或数字" pattern=".{6,10}" title="6-10位字母或数字"  required="required" ></div>
		    		<div><input id="password1" type="password" name="password1" placeholder="重复密码" required="required" oninput="checkPasswords()"></div>
		    		
		    		 <h6 class="title">用户信息</h6>
		    		 <div><select id="type" name="type" onchange="change_type(this.value)" class="frm-field required">
		    		 			<option value="3">个人</option>
		            			<option value="4">单位</option>
		    		 	  </select>
		    		 </div>
		    		 <div id="info">
			    		 <div><input type="text" name="realName" class="input_2span" maxlength="20" placeholder="真实姓名" required="required" >
			    		 	  <input type="text" name="idCard" class="input_2span" pattern=".{18}" title="请输入18位身份证号码" placeholder="身份证号" required="required" >
			    		 </div>
			    		 <div><input type="text" name="mobile" pattern=".{11}" title="请输入11位手机号码" placeholder="手机号码" required="required" ></div>
		    		</div>
		    		
		    		<div>
		    			<input type="file" name="file" class="file" placeholder="上传文件" required="required" accept="image/*">
		    			<a class="link" href="#">上传验证照片指南</a>
		    		</div>
		    		<button class="grey" type="submit">注册</button>
		    		<p class="terms">点击"注册"并同意 <a href="#">《摄影帮服务协议条款》</a>.</p>
		          </div>
		    <div class="clear"></div>
		    </form>
    	</div>
    </div>
    
    <script type="text/javascript">
    	function change_type(value){
    		 var person_info = '<div><input type="text" name="realName" class="input_2span" maxlength="20" placeholder="真实姓名" required="required" >' + 
			    		 		 '<input type="text" name="idCard" class="input_2span" pattern=".{18}" title="请输入18位身份证号码" placeholder="身份证号" required="required" ></div>' + 
			    		         '<div><input type="text" name="mobile" pattern=".{11}" title="请输入11位手机号码" placeholder="手机号码" required="required" ></div>';
			    		         
			var company_info = '<div><input type="text" name="companyName" class="input_2span" maxlength="50" placeholder="单位名称" required="required" >' + 
				    			 '<input type="text" name="realName" class="input_2span" maxlength="20" placeholder="法人姓名" required="required" ></div>' +
					    		 '<div><input type="text" name="idCard" class="input_2span" pattern=".{18}" title="请输入18位身份证号码" placeholder="法人身份证号" required="required" >' +
					    		 '<input type="text" name="mobile" class="input_2span" pattern=".{11}" title="请输入11位手机号码" placeholder="法人手机号码" required="required" ></div>'+
					    		  '<div><select id="province" name="province" class="select_3span" class="frm-field required"></select>' + 
				    			  '<select id="city" name="city" class="select_3span" class="frm-field required"></select>' + 
				    			  '<select id="county" name="county" class="select_3span" class="frm-field required"></select>' + 
				    			 '</div>';
    		if(value == "3"){
    			$("#info").empty();
    			$("#info").html(person_info);
    		}else{
    			$("#info").empty();
    			$("#info").html(company_info);
    			
    			_init_area();
		    	
    		}
    	}
    	
    	function checkPasswords() {
			var pass1 = document.getElementById("password");
			var pass2 = document.getElementById("password1");
	
			if (pass1.value != pass2.value){
				pass2.setCustomValidity("两次输入的密码不一致");
			}else{
				pass2.setCustomValidity("");
			}
		}
		
		function checkEmail(){
			var email = document.getElementById("email");
			$.ajax({
            type: "post",
            dataType: "json",
            url: "${basePath}/user/checkEmail",
            data: {email: email.value},
            success: function(msg){
            	if(msg == "1"){
                	email.setCustomValidity("该邮箱地址已经被注册，请更换其他邮箱地址！");
                }else{
                	email.setCustomValidity("");
                }
               }
            });
		}
		
		function md5(){
			var pass =$("#password").val();	
			$("#password").val(hex_md5(pass).toUpperCase());
		}
    </script>
    
  <!-- footer start-->
  <#include "../../common/footer.html">
  <!-- footer end -->
  
  </body>
</html>