<#assign basePath=request.contextPath>
<!DOCTYPE HTML>
<html>
<head>
<!-- title start-->
   <#include "../common/title.html">
  <!-- title end-->
  
  <!-- link start-->
   <#include "../common/link.html">
   <link href="${basePath}/css/person_info.css" rel="stylesheet" type="text/css" media="all" />
  <!-- link end-->
  
</head>

<body>
  <!-- header start-->
  <#include "../common/header.html">
  <!-- header end -->

		<div class="register_account">
			<div class="wrap">
				<div class="col_1_of_login span_1_of_person">
					<h4 class="title">个人中心</h4>
						<ul>
						<li>
							<a href="index.html">首页</a>
						</li>
						<li>
							<a class="color4" href="#">摄影活动</a>
						</li>
						<li>
							<a class="color5" href="#">作品展示</a>
						<li>
							<a class="color6" href="other.html">社区</a>
						</li>
					</ul>
					</div>
				</div>
				<div class="col_1_of_login span_2_of_person">

				</div>
			</div>
			<div class="clear"></div>
			</form>
		</div>
		</div>

		<!-- footer start-->
  <#include "../common/footer.html">
  <!-- footer end -->
  
  </body>
</html>