<#assign basePath=request.contextPath>
<!DOCTYPE HTML>
<html>
<head>
<!-- title start-->
   <#include "../common/title.html">
  <!-- title end-->
  
  <!-- link start-->
   <#include "../common/link.html">
   <link href="${basePath}/css/person_info.css" rel="stylesheet" type="text/css" media="all" />
  <!-- link end-->
  
</head>

<body>
  <!-- header start-->
  <#include "../common/header.html">
  <!-- header end -->

		<div class="register_account">
			<div class="wrap">
				<div class="col_1_of_login span_1_of_person">
					<h4 class="title">个人中心</h4>
					<ul>
						<li><a href="#">个人信息</a></li>
						<li><a href="#">我的好友</a></li>
						<li><a href="#">系统信息</a></li>
						<li><a href="#">评论回复</a></li>
						<li><a href="#">我的留言</a></li>
					</ul>
					
					<h4 class="title">活动信息</h4>
					<ul>
						<li><a href="#">活动与教学</a></li>
						<li><a href="#">我的活动卷</a></li>
					</ul>
					
					<h4 class="title">账户管理</h4>
					<ul>
						<li><a href="#">修改密码</a></li>
					</ul>
					
				</div>
				<div class="col_1_of_login span_2_of_person">
					
				</div>
			</div>
			<div class="clear"></div>
		</div>

		<!-- footer start-->
  <#include "../common/footer.html">
  <!-- footer end -->
  
  </body>
</html>