<#assign basePath=request.contextPath>
<!DOCTYPE HTML>
<html>
<head>
<!-- title start-->
   <#include "../common/title.html">
  <!-- title end-->
  
  <!-- link start-->
   <#include "../common/link.html">
  <!-- link end-->
  
</head>

<body>
  <!-- header start-->
  <#include "../common/header.html">
  <!-- header end -->
  
          <div class="register_account">
          	<div class="wrap">
    	      <h4 class="title">创建用户</h4>
    		  <form action="${basePath}/user/register" method="post" name="register">
    			 <div class="col_1_of_login span_1_of_login">
    			 <h3 class="title">步骤</h3>
					<p>
					<div class="capsule1">填写注册信息</div>
					<div class="capsule">通过邮件确认</div>
					<div class="capsule">完善个人信息</div>
					<div class="capsule">等待审核</div>
					</p>
					 <div class="clear"></div>
				</div>
		    	  <div class="col_1_of_login span_1_of_login">
		    	  <h3 class="title">邮件确认</h3>
		    	  	<div>
		    		<p>
		    	                  确认信已经成功发送到你的邮箱${email!""}了<br>
                                                             查看收件箱...点击确认信中的链接地址，就可以完成注册了！<br><br>
                                                                                             
				                  如果你很长时间还没有收到摄影帮的确认信，请... <br>
				                  确认邮件是否被你提供的邮箱系统自动拦截，或被误认为垃圾邮件放到垃圾箱了<br>
				                  如果你确认邮箱地址正确，可以请求<a class="link" href="${basePath}/user/reSendEmail?email=${email!""}&type=2">再次发送确认信</a><br>
					       如果还不能解决你的问题，可以发邮件给摄影帮管理员寻求帮助：webmasterEmailiteye.com<br>                                    
                    </p>
		          </div>
		          </div>
		    <div class="clear"></div>
		    </form>
    	</div>
    </div>
    
  <!-- footer start-->
  <#include "../common/footer.html">
  <!-- footer end -->
  
  </body>
</html>