<#assign basePath=request.contextPath>
<!DOCTYPE HTML>
<html>
<head>
<!-- title start-->
   <#include "../common/title.html">
  <!-- title end-->
  
  <!-- link start-->
   <#include "../common/link.html">
  <!-- link end-->
  
</head>

<body>
  <!-- header start-->
  <#include "../common/header.html">
  <!-- header end -->
  
	</div>
          <div class="register_account">
          	<div class="wrap">
    	      <h4 class="title">创建用户</h4>
    		  <form action="${basePath}/user/register" method="post" name="register">
    			 <div class="col_1_of_2 span_1_of_2">
		   			 <div><input type="text" name="loginName" value="用户名称" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名称';}"></div>
		    		 <div><input type="text" name="nackName" value="昵称" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '昵称';}"></div>
		    		 <div><input type="text" name="realName" value="真实姓名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '真实姓名';}"></div>
		    		 <div><select id="sex" name="sex" class="frm-field required">
		    				<option value="0">男</option>
		    				<option value="1">女</option>
		    			  </select>
		    	     </div>
		    		 <div><input type="text" name="password" value="密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '密码';}"></div>
		    	 </div>
		    	  <div class="col_1_of_2 span_1_of_2">	
		    		<div><select id="type" name="type" class="frm-field required">
		    				<option value="3" selected="selected">普通用户</option>
		    				<option value="2">活动发布者</option>
		    			</select>
		    		</div>
		    		<div><input type="text" name="mobile" value="手机号码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '手机号码';}"></div>
		    		<div><input type="text" name="email" value="邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮箱';}"></div>
		    		<div><input type="text" name="birthDay" value="生日" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '生日';}"></div>
		    		<div><input type="text" name="password1" value="确认密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '确认密码';}"></div>
		          </div>
		      <button class="grey" type="submit">提交</button>
		    <p class="terms">By clicking 'Create Account' you agree to the <a href="#">Terms &amp; Conditions</a>.</p>
		    <div class="clear"></div>
		    </form>
    	</div>
    </div>
    
  <!-- footer start-->
  <#include "../common/footer.html">
  <!-- footer end -->
  
  </body>
</html>