<#assign basePath=request.contextPath>
<!DOCTYPE HTML>
<html>
<head>
<!-- title start-->
   <#include "../common/title.html">
  <!-- title end-->
  
  <!-- link start-->
   <#include "../common/link.html">
  <!-- link end-->
  
</head>

<body>
  <!-- header start-->
  <#include "../common/header.html">
  <!-- header end -->
  
          <div class="register_account">
          	<div class="wrap">
    	      <h4 class="title">创建用户</h4>
    		  <form action="${basePath}/user/register" method="post" name="register">
    			 <div class="col_1_of_login span_1_of_login">
    			 <h3 class="title">步骤</h3>
					<p>
					<div class="capsule1">填写注册信息</div>
					<div class="capsule1">通过邮件确认</div>
					<div class="capsule">完善个人信息</div>
					</p>
					 <div class="clear"></div>
				</div>
		    	  <div class="col_1_of_login span_1_of_login">
		    	  <h3 class="title">邮箱确认成功</h3>
		    	  	<div>
		    		<p>
		    	                 恭喜您！您已经成为摄影帮会员。您马上可以开始使用您的帐号<a class="link" href="${basePath}/user/toLogin">点击登录</a><br>
                       1.新用户注册成功之后，您可以修改个人资料和阅读站内短信。<br>
					   2.在您使用ITeye网站之前，务必仔细阅读<a class="link" href="#">摄影帮服务协议条款</a>，并且严格遵守，避免发生不必要的误会。<br>
					   3.您有任何问题，可以写信给管理员sheyingbang@163.com，寻求帮助。<br>
					   4.进入<a class="link" href="#">摄影帮首页</a><br>
					       摄影帮和您一同成长！
                    </p>
		          </div>
		          </div>
		    <div class="clear"></div>
		    </form>
    	</div>
    </div>
    
  <!-- footer start-->
  <#include "../common/footer.html">
  <!-- footer end -->
  
  </body>
</html>