<#assign basePath=request.contextPath>

<#if projectOrders?? && (projectOrders?size>0)>
	<div class="c-shop-wishlist-1">
        <div class="c-border-bottom hidden-sm hidden-xs">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">订单详情</h3>
                </div>
                <div class="col-md-2">
                    <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">价格</h3>
                </div>
                <div class="col-md-3">
                    <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">订单时间</h3>
                </div>
            </div>
        </div>
	<#list projectOrders as projectOrder>
                    
	   <div class="c-row-item c-border-bottom c-content-title-2 c-title-md">
	   	   <span class="c-content-label c-font-uppercase c-font-bold c-bg-red c-label-sm pull-right">
	   	   <#if projectOrder.status=="1">未支付</#if>
	   	   <#if projectOrder.status=="2">已取消</#if>
	   	   <#if projectOrder.status=="3">已支付</#if>
	   	   </span>
	   	   <h3 class="c-font-bold">订单号 : ${(projectOrder.orderNumber)!''}</h3>
	   	   
	   	   <div class="c-line c-theme-bg c-theme-bg-after c-margin-b-20"></div>
	       <div class="row">
	           <div class="col-md-2 col-sm-12">
	               <div class="c-content-overlay">
	                   <div class="c-overlay-wrapper">
	                       <div class="c-overlay-content">
	                           <a href="${basePath}/project/toReview?id=${projectOrder.project.id}" class="c-action-btn btn btn-sm c-btn-square c-btn-bold c-btn-border-1x c-theme-btn c-btn-uppercase c-center">查看</a>
	                       </div>
	                   </div>
	                   <div class="c-bg-img-top-center c-overlay-object" data-height="height">
	                       <img width="100%" class="img-responsive" <#if (projectOrder.project.photos.fileInfos)??>src="${basePath}/${projectOrder.project.photos.fileInfos[0].realPath}"</#if> > </div>
	               </div>
	           </div>
	           <div class="col-md-4 col-sm-8">
	               <ul class="c-list list-unstyled">
	                   <li class="c-margin-b-25">
	                       <a href="${basePath}/project/toReview?id=${projectOrder.project.id}" class="c-font-bold c-font-22 c-theme-link">${(projectOrder.project.name)!''}</a>
	                   </li>
	                   
	                   <li class="c-margin-t-30">
	                       <div class="form-group" role="group">
	                       	   <#if projectOrder.status=="1">
	                             <a href="${basePath}/projectorder/toProjectCheckout?id=${projectOrder.id}" class="btn btn-sm c-theme-btn c-btn-square  c-btn-bold">
	                           	 <i class="fa fa-credit-card"></i>支付 </a>
	                           	 
	                           	 <a href="${basePath}/projectorder/cancelProjectOrder?id=${projectOrder.id}" class="btn btn-sm btn-default c-btn-square  c-btn-bold">
	                           	 <i class="fa fa-times"></i>取消订单</a>
	                           </#if>
	                           <#if projectOrder.status=="3" && projectOrder.isComment=="0">
	                           		<a href="${basePath}/project/toReview?id=${projectOrder.project.id}" class="btn btn-sm c-theme-btn c-btn-square  c-btn-bold">
	                           	 	<i class="fa fa-comment-o"></i>评价 </a>
	                           </#if>
	                       </div>
	                   </li>
	               </ul>
	           </div>
	           <div class="col-md-1 col-sm-1">
	               <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">数量</p>
	               <p class="c-font-sbold c-font-18">x ${projectOrder.number!''}</p>
	           </div>
	           <div class="col-md-2 col-sm-2">
	               <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">价格</p>
	               <p class="c-font-sbold c-font-uppercase c-font-18">￥${(projectOrder.actualPrice)!''}</p>
	           </div>
	           <div class="col-md-3 col-sm-2">
	               <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">订单时间</p>
	               <p class="c-font-sbold c-font-uppercase c-font-18">${(projectOrder.createTime?string('yyyy-MM-dd HH:mm'))!''}</p>
	           </div>
	       </div>
	   </div>
	</#list>
	</div>
	
	<script type="text/javascript">
    $(document).ready(function(){
    	var options${type} = {
            bootstrapMajorVersion:3,
            currentPage: ${(pager.currentPage)!1},
            numberOfPages: ${(pager.pageSize)!5},
            totalPages:${(pager.totalPage)!1},
            onPageClicked: function (e, originalEvent, type, page) {
            	getByAjax("${basePath}/userinfo/getUserProjectOrder?type=${type}&currentPage=" + page,"project_order_${type}");
            }  
       }
 
       $('#project_order_pager_${type}').bootstrapPaginator(options${type});  
    });
</script>

<#else>
   	<div class="c-content-box c-size-lg">
          <div class="c-shop-cart-page-1 c-center">
              <i class="fa fa-frown-o c-font-dark c-font-50 c-font-thin "></i>
              <h2 class="c-font-thin c-center">您还没有订单</h2>
          </div>
     </div>  
</#if>
