<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<div class="c-content-box c-size-md c-bg-white">
	<!-- BEGIN: PAGE CONTENT -->
	<div class="container">
		<#include "./common/menu.html">
		
		<div class="c-layout-sidebar-content ">
              <!-- BEGIN: PAGE CONTENT -->
              <div class="c-content-title-1">
                  <h3 class="c-font-uppercase c-font-bold">优惠卷</h3>
                  <div class="c-line-left"></div>
              </div>
              
               <div class="c-content-tab-1 c-theme c-margin-t-30">
                   <div class="clearfix">
                       <ul class="nav nav-tabs c-font-uppercase c-font-bold">
                       	   <li class="active">
                               <a href="#tab_1_1_content" data-toggle="tab">未使用</a>
                           </li>
                           <li>
                               <a href="#tab_1_2_content" data-toggle="tab">已使用</a>
                           </li>
                           <li>
                               <a href="#tab_1_3_content" data-toggle="tab">已过期</a>
                           </li>
                       </ul>
                   </div>
                   
                   <div class="tab-content c-bordered c-padding-lg">
                     <div class="tab-pane active" id="tab_1_1_content">
                        <div class="c-shop-wishlist-1">
                        <div class="c-border-bottom hidden-sm hidden-xs">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">优惠卷</h3>
                                </div>
                                <div class="col-md-4">
                                    <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">过期时间</h3>
                                </div>
                                <div class="col-md-4">
                                    <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">金额</h3>
                                </div>
                            </div>
                        </div>
                        <!-- BEGIN: PRODUCT ITEM ROW -->
                        <div class="c-border-bottom c-row-item">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                   <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">优惠卷</p>
                                   <p class="c-font-sbold c-font-uppercase c-font-18"><span class="c-font-green icon-social-dropbox"></span>活动卷</p>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">过期时间</p>
                                    <p class="c-font-sbold c-font-uppercase c-font-18">2015-11-28</p>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">金额</p>
                                    <p class="c-font-sbold c-font-uppercase c-font-18 c-font-red">$100.00</p>
                                </div>
                            </div>
                        </div>
                        <!-- END: PRODUCT ITEM ROW -->
                        
                        <!-- BEGIN: PRODUCT ITEM ROW -->
                        <div class="c-border-bottom c-row-item">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                   <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">优惠卷</p>
                                   <p class="c-font-sbold c-font-uppercase c-font-18"><span class="fa fa-image c-font-green"></span>作品卷</p>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">过期时间</p>
                                    <p class="c-font-sbold c-font-uppercase c-font-18">2015-11-28</p>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">金额</p>
                                    <p class="c-font-sbold c-font-uppercase c-font-18 c-font-red">$100.00</p>
                                </div>
                            </div>
                        </div>
                        <!-- END: PRODUCT ITEM ROW -->
                        
                    </div>
                     </div>
                     <div class="tab-pane" id="tab_1_2_content">
                         <p> Lorem ipsum dolor sit amet, exerci et tation diam nisl ut aliquip ex ea commodo consequat euismod tincidunt ut laoreet dolore magna aluam sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna sed
                             elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna. </p>
                         <p> Lorem ipsum dolor sit amet, consectetuer tation diam nisl ut aliquip ex ea commodo consequat euismod tincidunt ut laoreet dolore magna aluam sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna ex
                             ea commodo consequat euismod tincidunt ut laoreet dolore magna aluam sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
                             </p>
                     </div>
                     <div class="tab-pane" id="tab_1_3_content">
                         <p> Lorem ipsum dolor sit amet, consectetuer adipiscing diam nisl ut aliquip ex ea commodo consequat euismod tincidunt ut laoreet dolore magna aluam sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                             sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna. </p>
                         <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, nisl ut aliquip ex ea commodo consequat euismod tincidunt ut laoreet dolore magna aluam sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                             sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna. </p>
                     </div>
                 </div>
                 </div>
             </div>
		
	</div>
	<!-- END: PAGE CONTENT -->
	</div>
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
	$(document).ready(function() {    
		App.init(); // init core    
	});
	</script>
<!-- END: THEME SCRIPTS -->
<script>
$(document).ready(function(){

	$('#user_coupon').addClass('c-active');
  
  });
</script>

</body>

</html>