<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<div class="c-content-box c-size-md c-bg-white">
	<!-- BEGIN: PAGE CONTENT -->
	<div class="container">
		<#include "./common/menu.html">
		
		<div class="c-layout-sidebar-content ">
              <!-- BEGIN: PAGE CONTENT -->
              <div class="c-content-title-1">
                  <h3 class="c-font-uppercase c-font-bold">用户认证</h3>
                  <div class="c-line-left"></div>
              </div>
              <form class="form-horizontal c-shop-form-1" action="${basePath}/userinfo/updateUserInfo" method="post">
                  <div class="">
					  <input type="hidden" name="id" value="${(user.id)!''}">
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="control-label">身份证号</label>
                              <input type="text" class="form-control c-square c-theme" placeholder="身份证号" name="idCard" value="${(user.idCard)!''}"> 
                          </div>
                      </div>
                      <div class="row">
                           <div class="form-group col-md-6">
                               <label class="control-label">验证照片</label> 
                               <a class="c-theme-font" href="#" data-toggle="popover" data-trigger="click" html="true" data-placement="bottom" data-content="<img src='${basePath}/images/comfirm_example.jpg'>" ><i class="fa fa-question"></i>帮助</a>
                               <input id="comfirmFile" name="comfirmFile" type="file" accept="image/*" class="file-loading">
                               <script type="text/javascript">
									$("#comfirmFile").fileinput({
									    uploadUrl: "#", // server upload action
										showUpload: false,
										overwriteInitial: true,
										minFileCount: 1,
										<#if user?? && user.comfirmPic??>
											initialPreview: [
												"<img src='${basePath}/${user.comfirmPic}' class='file-preview-image'>",
											],
										</#if>
										maxFileCount: 1
									});
								</script>
                           </div> 
                      </div>
                      <div class="row c-margin-t-30">
                          <div class="form-group col-md-12" role="group">
                              <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">认证</button>
                          </div>
                      </div>
                  </div>
              </form>
              <!-- END: PAGE CONTENT -->
          </div>
		
	</div>
	<!-- END: PAGE CONTENT -->
	</div>
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
	$(document).ready(function() {    
		App.init(); // init core    
	});
	</script>
<!-- END: THEME SCRIPTS -->
<script>
$(document).ready(function(){

	$('#user_auth').addClass('c-active');
	
	$('[data-toggle="popover"]').popover({html: 'true'});
  
  });
</script>

</body>

</html>