<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<div class="c-content-box c-size-md c-bg-white">
	<!-- BEGIN: PAGE CONTENT -->
	<div class="container">
		<#include "./common/menu.html">
		
		<div class="c-layout-sidebar-content ">
              <!-- BEGIN: PAGE CONTENT -->
              <div class="c-content-title-1">
                  <h3 class="c-font-uppercase c-font-bold">我的收藏</h3>
                  <div class="c-line-left"></div>
              </div>
              <div class="c-content-tab-1 c-theme c-margin-t-30">
                   <div class="clearfix">
                       <ul class="nav nav-tabs c-font-uppercase c-font-bold">
                       	   <li class="active">
                               <a href="#tab_1_1_content" data-toggle="tab">活动</a>
                           </li>
                           <li>
                               <a href="#tab_1_2_content" data-toggle="tab">作品 </a>
                           </li>
                       </ul>
                   </div>
                   
                   <div class="tab-content c-bordered c-padding-lg">
                     <div class="tab-pane active" id="tab_1_1_content">
                        <!-- BEGIN: PRODUCT ITEM ROW -->
                        <div id="project_collect"></div>
                         <!-- END: PRODUCT ITEM ROW -->
                        
                        <!-- BEGIN: PAGER -->
                        <div class="row c-margin-t-40 pull-right">
                              <ul id="project_collect_pager" class="c-content-pagination c-square c-theme">
                              </ul>
						</div>
						<!-- END: PAGER -->
						
						<script type='text/javascript'>
				            getByAjax("${basePath}/userinfo/getUserProjectCollect?currentPage=1","project_collect");
					    </script>
                    </div>
                    
                    <div class="tab-pane" id="tab_1_2_content">
                        <!-- BEGIN: PRODUCT ITEM ROW -->
                        <div id="work_collect"></div>
                         <!-- END: PRODUCT ITEM ROW -->
                        
                        <!-- BEGIN: PAGER -->
                        <div class="row c-margin-t-40 pull-right">
                              <ul id="work_collect_pager" class="c-content-pagination c-square c-theme">
                              </ul>
						</div>
						<!-- END: PAGER -->
						
						<script type='text/javascript'>
				            getByAjax("${basePath}/userinfo/getUserWorkCollect?currentPage=1","work_collect");
					    </script>
                    </div>
                    
                 </div>
              <!-- END: PAGE CONTENT -->
          </div>
		
	</div>
	<!-- END: PAGE CONTENT -->
	</div>
</div>
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){

	$('#user_collect').addClass('c-active');
  
  });
</script>

</body>

</html>