<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<div class="c-content-box c-size-md c-bg-white">
	<!-- BEGIN: PAGE CONTENT -->
	<div class="container">
		<#include "./common/menu.html">
		
		<div class="c-layout-sidebar-content ">
              <!-- BEGIN: PAGE CONTENT -->
              <div class="c-content-title-1">
                  <h3 class="c-font-uppercase c-font-bold">我的收藏</h3>
                  <div class="c-line-left"></div>
              </div>
              <div class="c-shop-wishlist-1">
                        <div class="c-border-bottom hidden-sm hidden-xs">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">活动</h3>
                                </div>
                                <div class="col-md-5">
                                    <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">标题</h3>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">预定人数</h3>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="c-font-uppercase c-font-16 c-font-grey-2 c-font-bold">价格</h3>
                                </div>
                            </div>
                        </div>
                        
                        <!-- BEGIN: PRODUCT ITEM ROW -->
                        <div id="project_collect"></div>
                         <!-- END: PRODUCT ITEM ROW -->
                        
                        <!-- BEGIN: PAGER -->
                        <div class="row c-margin-t-40 pull-right">
                              <ul id="project_collect_pager" class="c-content-pagination c-square c-theme">
                              </ul>
						</div>
						<!-- END: PAGER -->
						
						<script type='text/javascript'>
				            getByAjax("${basePath}/userinfo/getUserProjectCollect?currentPage=1","project_collect");
					    </script>
  
                    </div>
              <!-- END: PAGE CONTENT -->
          </div>
		
	</div>
	<!-- END: PAGE CONTENT -->
	</div>
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){

	$('#user_collect').addClass('c-active');
  
  });
</script>

</body>

</html>