<#assign basePath=request.contextPath>

<#if works?? && (works?size>0)>
	<#list works as work>
	   <div class="c-border-bottom c-row-item">
	       <div class="row">
	           <div class="col-md-3 col-sm-12">
	               <div class="c-content-overlay">
	                   <div class="c-overlay-wrapper">
	                       <div class="c-overlay-content">
	                           <a href="${basePath}/work/toReview?id=${work.id}" class="c-action-btn btn btn-sm c-btn-square c-btn-bold c-btn-border-1x c-theme-btn c-btn-uppercase c-center">查看</a>
	                       </div>
	                   </div>
	                   <div class="c-bg-img-top-center c-overlay-object" data-height="height" style="height: 150px;">
	                       <img width="100%" class="img-responsive" <#if (work.photos.fileInfos)??>src="${basePath}/${work.photos.fileInfos[0].realPath}"</#if> > </div>
	               </div>
	           </div>
	           <div class="col-md-7 col-sm-8">
	               <ul class="c-list list-unstyled">
	                   <li class="c-margin-b-25">
	                       <a href="${basePath}/project/toReview?id=${work.id}" class="c-font-bold c-font-22 c-theme-link">${(work.name)!''}</a>
	                   </li>
	                   
	                   <li class="c-margin-t-30">
	                       <div class="form-group" role="group">
	                       		<a href="${basePath}/work/toCreate?id=${work.id}" class="btn btn-sm c-theme-btn c-btn-square  c-btn-bold">
	                               <i class="fa fa-edit"></i>编 辑</a>
	                           <a href="${basePath}/userinfo/deleteUserWork?id=${work.id}" class="btn btn-sm btn-default c-btn-square  c-btn-bold">
	                           	<i class="fa fa-times"></i>删 除 </a>
	                       </div>
	                   </li>
	               </ul>
	           </div>
	           <div class="col-md-2 col-sm-2">
	               <p class="visible-xs-block c-theme-font c-font-uppercase c-font-bold">评论人数</p>
	               <p class="c-font-sbold c-font-18">In Stock</p>
	           </div>
	       </div>
	   </div>
	</#list>
	
	<script type="text/javascript">
    $(document).ready(function(){
    	var options = {
            bootstrapMajorVersion:3,
            currentPage: ${(pager.currentPage)!1},
            numberOfPages: ${(pager.pageSize)!5},
            totalPages:${(pager.totalPage)!1},
            onPageClicked: function (e, originalEvent, type, page) {
            	getByAjax("${basePath}/userinfo/getUserWork?currentPage=" + page,"user_create_work");
            }  
       }
 
       $('#work_pager').bootstrapPaginator(options);  
    });
</script>

<#else>
   	<div class="c-content-box c-size-lg">
          <div class="c-shop-cart-page-1 c-center">
              <i class="fa fa-frown-o c-font-dark c-font-50 c-font-thin "></i>
              <h2 class="c-font-thin c-center">您还没有发布作品</h2>
          </div>
     </div>  
</#if>
