<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<div class="c-content-box c-size-md c-bg-white">
	<!-- BEGIN: PAGE CONTENT -->
	<div class="container">
		<#include "./common/menu.html">
		
		<div class="c-layout-sidebar-content ">
              <!-- BEGIN: PAGE CONTENT -->
              <div class="c-content-title-1">
                  <h3 class="c-font-uppercase c-font-bold">胶卷</h3>
                  <div class="c-line-left"></div>
              </div>
              
              <div class="panel panel-default">
                  <div class="panel-body"> 可用胶卷<span class="badge c-font-20 c-bg-yellow">${(user.couponNum)!'0'}</span>个  
                  	<#include "./common/coupon_help.html">
                  	<a class="c-theme-font pull-right" href="#" onclick="showCouponModel();return false;" > 什么是胶卷<i class="fa fa-question"></i></a>
                  </div>
              </div>
              
               <div class="c-content-tab-1 c-theme c-margin-t-30">
                   <div class="clearfix">
                       <ul class="nav nav-tabs c-font-uppercase c-font-bold">
                       	   <li class="active">
                               <a href="#tab_1_1_content" data-toggle="tab">收入</a>
                           </li>
                           <li>
                               <a href="#tab_1_2_content" data-toggle="tab">支出</a>
                           </li>
                       </ul>
                   </div>
                   
                   <div class="tab-content c-bordered c-padding-lg">
                     <div class="tab-pane active" id="tab_1_1_content">
                        
                        <div id="user_coupon_1"></div>
                        
                        <div class="row c-pagination c-center">
                              <ul id="user_coupon_pager_1" class="c-content-pagination c-square c-theme">
                              </ul>
						</div>
						
						<script type='text/javascript'>
				            getByAjax("${basePath}/userinfo/getUserCoupon?type=1&currentPage=1","user_coupon_1");
					    </script>
					    
                     </div>
                     <div class="tab-pane" id="tab_1_2_content">
                        <div id="user_coupon_2"></div>
                        
                        <div class="row c-pagination c-center">
                              <ul id="user_coupon_pager_2" class="c-content-pagination c-square c-theme">
                              </ul>
						</div>
						
						<script type='text/javascript'>
				            getByAjax("${basePath}/userinfo/getUserCoupon?type=2&currentPage=1","user_coupon_2");
					    </script>
                     
                 	</div>
                 </div>
             </div>
		
	</div>
	<!-- END: PAGE CONTENT -->
	</div>
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){

	$('#user_coupon').addClass('c-active');
  
  });
  
  function showCouponModel(){
		$("#coupon_help_modal").modal('show');
	}
</script>

</body>

</html>