<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<div class="c-content-box c-size-md c-bg-white">
	<!-- BEGIN: PAGE CONTENT -->
	<div class="container">
		<#include "./common/menu.html">
		
		<div class="c-layout-sidebar-content ">
              <!-- BEGIN: PAGE CONTENT -->
              <div class="c-content-title-1">
                  <h3 class="c-font-uppercase c-font-bold">完善个人资料</h3>
                  <div class="c-line-left"></div>
              </div>
              <form class="form-horizontal c-shop-form-1">
                  <!-- BEGIN: ADDRESS FORM -->
                  <div class="">
                      <!-- BEGIN: BILLING ADDRESS -->
                      <div class="row">
                          <div class="form-group col-md-6">
                              <label class="control-label">姓名</label>
                              <input type="text" class="form-control c-square c-theme" placeholder="姓名"> 
                          </div>
                          <div class="col-md-6">
                              <label class="control-label">姓别</label>
                              <div class="c-radio-inline">
                                 <div class="c-radio">
                                     <input type="radio" id="radio4-112" class="c-radio" checked name="radios2">
                                     <label for="radio4-112">
                                         <span></span>
                                         <span class="check"></span>
                                         <span class="box"></span> 男</label>
                                 </div>
                                 <div class="c-radio">
                                     <input type="radio" id="radio5-112" class="c-radio" name="radios2">
                                     <label for="radio5-112">
                                         <span></span>
                                         <span class="check"></span>
                                         <span class="box"></span> 女</label>
                                 </div>
                             </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <div class="row">
                                  <div class="form-group col-md-6">
                                      <label class="control-label">手机号码</label>
                                      <input type="text" class="form-control c-square c-theme" placeholder="手机号码"> </div>
                                  <div class="col-md-6">
                                      <label class="control-label">邮箱</label>
                                      <input type="text" class="form-control c-square c-theme" placeholder="邮箱"> </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <div class="row">
                                  <div class="form-group col-md-6">
                                      <label class="control-label">生日</label>
                                      <input type="text" class="form-control c-square c-theme" placeholder="出生日期"> </div>
                                  <div class="col-md-6">
                                      <label class="control-label">QQ</label>
                                      <input type="text" class="form-control c-square c-theme" placeholder="QQ号码"> </div>
                              </div>
                          </div>
                      </div>
                      <div class="row c-margin-t-30">
                          <div class="form-group col-md-12" role="group">
                              <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">保存</button>
                              <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">取消</button>
                          </div>
                      </div>
                  </div>
                  <!-- END: ADDRESS FORM -->
              </form>
              <!-- END: PAGE CONTENT -->
          </div>
		
	</div>
	<!-- END: PAGE CONTENT -->
	</div>
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
	$(document).ready(function() {    
		App.init(); // init core    
	});
	</script>
<!-- END: THEME SCRIPTS -->
<script>
$(document).ready(function(){

	$('#user_info').addClass('c-active');
  
  });
</script>

</body>

</html>