<div class="modal fade bs-example-modal-sm" id="coupon_help_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content c-square">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">
					什么是胶卷
				</h4>
			</div>
			<div class="modal-body">
				<p>胶卷是用户在奇异派网站参与评价、晒单等相关活动情况给予的优惠，胶卷仅可在奇异派网站使用，如用户帐号暂停使用，则奇异派将取消该用户帐号内胶卷相关使用权益。</p>
				<div class="c-content-title-1 c-title-md">
                    <h3 class="c-left c-font-lowercase c-font-sbold">Left Aligned Title</h3>
                    <div class="c-line-left c-theme-bg"></div>
                    <p class="c-font-lowercase">Cras sit amet nibh libero, in gravida nulla</p>
                </div>
			</div>
		</div>
	</div>
</div>