<div class="modal fade bs-example-modal-sm" id="coupon_help_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content c-square">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">
					什么是胶卷
				</h4>
			</div>
			<div class="modal-body">
		<div class='col-md-12 c-bg-white'>
		     <div class='c-feature-13-container'>
		         <div class='c-content-title-1'>
		             <h3 class='c-center c-font-uppercase c-font-bold'>What makes us
		                 <span class='c-theme-font'>GREAT</span>
		             </h3>
		             <div class='c-line-center c-theme-bg'></div>
		         </div>
		         <div class='row'>
		             <div class='col-sm-6 c-feature-13-tile'>
		                 <i class='icon-energy c-theme-font c-font-24'></i>
		                 <div class='c-feature-13-content'>
		                     <h4 class='c-font-uppercase c-theme-font c-font-bold'>Blazing Development</h4>
		                     <p class='c-font-dark'>Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
		                 </div>
		             </div>
		             <div class='col-sm-6 c-feature-13-tile'>
		                 <i class='icon-star c-theme-font c-font-24'></i>
		                 <div class='c-feature-13-content'>
		                     <h4 class='c-font-uppercase c-theme-font c-font-bold'>Top Quality</h4>
		                     <p class='c-font-dark'>Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
		                 </div>
		             </div>
		         </div>
		         <div class='row c-margin-t-40'>
		             <div class='col-sm-6 c-feature-13-tile'>
		                 <i class='icon-hourglass c-theme-font c-font-24'></i>
		                 <div class='c-feature-13-content'>
		                     <h4 class='c-font-uppercase c-theme-font c-font-bold'>Highly Efficient</h4>
		                     <p class='c-font-dark'>Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
		                 </div>
		             </div>
		             <div class='col-sm-6 c-feature-13-tile'>
		                 <i class='icon-bubbles c-theme-font c-font-24'></i>
		                 <div class='c-feature-13-content'>
		                     <h4 class='c-font-uppercase c-theme-font c-font-bold'>Great Support</h4>
		                     <p class='c-font-dark'>Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
		                 </div>
		             </div>
		         </div>
		     </div>
		</div>
	</div>
</div>
</div>
</div>