<div class="modal fade bs-example-modal-lg" id="coupon_help_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content c-square">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h3 class="modal-title">
					 什么是胶卷
				</h3>
			</div>
			<div class="modal-body">
				<p>胶卷是用户在奇异派网站参与评价、晒单等相关活动情况给予的优惠，胶卷仅可在奇异派网站使用，如用户帐号暂停使用，则奇异派将取消该用户帐号内胶卷相关使用权益。</p>
				<div class="c-content-title-1 c-title-md">
                    <h3 class="c-left c-font-lowercase c-font-sbold">使用范围</h3>
                    <div class="c-line-left c-theme-bg"></div>
                    <p class="c-font-lowercase">胶卷只能在奇异派网站参与活动时使用。</p>
                </div>
                <div class="c-content-title-1 c-title-md">
                    <h3 class="c-left c-font-lowercase c-font-sbold">如何获取</h3>
                    <div class="c-line-left c-theme-bg"></div>
                    <p class="c-font-lowercase">
                    	1、	新用户注册首次发原创，30张照片（照片格式大小有规定）加简单介绍，奖励20胶卷。
                    </p>
                    <p class="c-font-lowercase">
						2、	老用户发原创、30张照片和简单介绍，发10胶卷。故意灌水倒扣10胶卷。
					</p>
					<p class="c-font-lowercase">
						3、	分享朋友圈、20人点赞。奖励10胶卷。
					</p>
					<p class="c-font-lowercase">
						4、	成功参加一次活动奖励10胶卷，两次活动2元，以此类推。5次活动后统一5元。
					</p>
					<p class="c-font-lowercase">
						5、	介绍一位新用户注册成功的，并新用户在注册一周内发原创成功的奖励老用户10胶卷，故意马甲的倒扣10胶卷。
					</p>
					<p class="c-font-lowercase">
						6、	关于每次活动后的用户作品评选和摄影比赛的奖励，作品点赞率超过参与用户的10%的奖励10胶卷。作品排名靠前的还有上首页奖励。获奖作品前三分别奖励100胶卷、50胶卷、20胶卷。（投稿标准麻烦顺子定义一下，尺寸分辨率啥的。）
					</p>
                </div>
			</div>
		</div>
	</div>
</div>