<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md c-bg-grey-1">
                <div class="container">
                
                <#include "./common/menu.html">
		
				<div class="c-layout-sidebar-content ">
                	<div class="c-content-title-1">
	                  <h3 class="c-font-uppercase c-font-bold">我的派文</h3>
	                  <div class="c-line-left"></div>
	              	</div>
	              	
	              	<div id="grid-container" class="cbp cbp-l-grid-work">
                             <#list blogs as blog>
                                 <div class="c-content-blog-post-card-1 c-option-2 c-bordered cbp-item">
                                     <#if (blog.video)?? && blog.video != "">
                                     <div class="c-media">
                                       	<iframe src="${blog.video}" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                     </div>
                                     <#else>
                                      <#if (blog.photos.fileInfos)?? && ((blog.photos.fileInfos)?size > 0)>
                                      <div class="c-media c-content-overlay">
                                          <div class="c-overlay-wrapper">
                                              <div class="c-overlay-content">
                                                  <a href="${basePath}/friend/toReview?id=${blog.id}">
                                                      <i class="icon-link"></i>
                                                  </a>
                                                  <a href="${basePath}/${blog.photos.fileInfos[0].realPath}" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                      <i class="icon-magnifier"></i>
                                                  </a>
                                              </div>
                                          </div>
                                          <img class="c-overlay-object" src="${basePath}/${blog.photos.fileInfos[0].realPath}" alt="">
                                      </div>
                                      </#if>
                                  </#if>
                                     <div class="c-body">
                                         <div class="c-author">
                                             <a href="javascript:void(0);" data-toggle="popover" user="${(blog.createUser.id)!''}">
                                                 <span class="c-font-bold c-font-20">${(blog.createUser.displayName)!''} </span>
                                             </a> 
                                             <span class="c-font-uppercase"> ${(blog.createTime?string('yyyy-MM-dd HH:mm'))!''}</span>
                                         </div>                                                
                                         <a href="${basePath}/friend/toReview?id=${blog.id}"><p> ${(blog.content)!''} </p></a>
                                         <div class="c-panel">
                                             <div class="c-comments">
                                             	<a href="#icon/thumbs-up">
                                 					<i class="fa fa-thumbs-o-up c-font-18"></i> <span class="badge c-bg-green">${(blog.loveNum)!''}</span>
                                 				</a> 
                                 				|
                                                 <a href="${basePath}/friend/toReview?id=${blog.id}">
                                                     <i class="icon-speech c-font-18"></i> 评论 <span class="badge c-bg-green">${(blog.commentNum)!''}</span></a>
                                             </div>
                                             <#if (Session.sessionuser)?? && Session.sessionuser.id == userId>
                                             <div class="pull-right">
		                                     	<a href="${basePath}/friend/deleteBlog?userId=${(userId)!''}&blogId=${(blog.id)!''}" class="btn btn-sm c-theme-btn c-btn-uppercase c-btn-bold c-btn-border-2x c-btn-circle">
		                                    	<i class="glyphicon glyphicon-trash"></i> 删除 </a>
		                                    </div>
		                                    </#if>
                                         </div>
                                     </div>
                                 </div>
                             </#list>
                         </div>
                         
                         <div class="c-pagination c-center">
                            <ul id="blog_pager" class="c-content-pagination c-square c-theme"></ul>
                         </div>
             
                </div>
                </div>
            </div>
            <!-- END: BLOG LISTING  -->
            <!-- END: PAGE CONTENT -->
	
	
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){

	$('#firend').addClass('c-active');
	$('#blog_my').addClass('c-active');
	
	// init cubeportfolio
    $('#grid-container').cubeportfolio({
        layoutMode: 'grid',
        defaultFilter: '*',
        animationType: 'scaleSides',
        gapHorizontal: 30,
        gapVertical: 30,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 800,
            cols: 2
        }, {
            width: 500,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        caption: 'zoom',
        displayType: 'lazyLoading',
        displayTypeSpeed: 400
    });
    
    var options = {
            bootstrapMajorVersion:3,
            currentPage: ${(pager.currentPage)!1},
            numberOfPages: ${(pager.pageSize)!5},
            totalPages:${(pager.totalPage)!1},
            onPageClicked: function (e, originalEvent, type, page) {
				location.href = "${basePath}/friend/toMy?userId=${(userId)!''}&currentPage=" + page;
            }  
       }
 
       $('#blog_pager').bootstrapPaginator(options);
  });
  
</script>

</body>

</html>