<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
	<script src="${basePath}/assets/base/js/validate/user_auth.js" type="text/javascript"></script>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<div class="c-content-box c-size-md c-bg-white">
	<!-- BEGIN: PAGE CONTENT -->
	<div class="container">
		<#include "./common/menu.html">
		
		<div class="c-layout-sidebar-content ">
              <!-- BEGIN: PAGE CONTENT -->
              <div class="c-content-title-1">
                  <h3 class="c-font-uppercase c-font-bold">搜索派友</h3>
                  <div class="c-line-left"></div>
                   <form action="${basePath}/friend/toFriendSearch?userId=${(userId)!''}" method="post">
                       <div class="input-group">
                           <input type="text" name="searchText" class="form-control c-square c-theme-border" value="${(searchText)!''}" placeholder="输入姓名/手机号">
                           <span class="input-group-btn">
                               <button type="submit" class="btn c-theme-btn c-theme-border c-btn-square" type="button">查找</button>
                           </span>
                       </div>
                   </form>
              </div>
              
              <div class="row" data-auto-height="true">
              		<#list users as user>
                        <div class="col-md-4 c-margin-t-20 c-margin-b-20">
                            <div class="c-content-person-1 c-option-2">
                                 <div class="c-caption c-content-overlay">
                                     <img class="c-overlay-object img-responsive" src="<#if (user.headPic)??>${basePath}/${(user.headPic)!''}<#else>http://placehold.it/600x600'</#if>" alt=""> 
                                 </div>
                                 <div class="c-body" style="padding: 10px;">
                                     <div class="pull-right">
                                     	<a href="${basePath}/friend/friend?userId=${(userId)!''}&friendUserId=${(user.id)!''}" class="btn btn-sm c-theme-btn c-btn-uppercase c-btn-bold c-btn-border-2x c-btn-circle">
                                    	<i class="glyphicon glyphicon-plus"></i> 关注 </a>
                                    </div>
                                    
                                     <div class="c-head">
                                         <div class="c-name c-font-uppercase c-font-bold">${(user.displayName)!''}</div>
                                 	</div>
                                 	<div class="c-position"> ${(user.personSignature)!''} </div>
                                    <p></p>
							   </div>
                            </div>
                        </div>
                     </#list>
              </div>
              
              <div class="c-pagination c-center">
                 <ul id="blog_friend_search_pager" class="c-content-pagination c-square c-theme"></ul>
              </div>
        </div>
	</div>
	<!-- END: PAGE CONTENT -->
	</div>
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){

	$('#firend').addClass('c-active');
	$('#blog_friend_search').addClass('c-active');
	
	var options = {
            bootstrapMajorVersion:3,
            currentPage: ${(pager.currentPage)!1},
            numberOfPages: ${(pager.pageSize)!5},
            totalPages:${(pager.totalPage)!1},
            onPageClicked: function (e, originalEvent, type, page) {
				location.href = "${basePath}/friend/toFriendSearch?userId=${userId}&currentPage=" + page;
            }
       }
 
       $('#blog_friend_search_pager').bootstrapPaginator(options);
       
  });
</script>

</body>

</html>