<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page c-bg-grey-1" >
	<!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row c-margin-t-60 ">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-card-1-grid">
                            	<div class="c-margin-b-40">
                                    <div class="panel panel-default">
                                    <div class="panel-body">
                            		<form id="blogForm" action="${basePath}/friend/create" method="post" enctype="multipart/form-data">
		                                <div class="row c-product-review-input">
		                                	<div class="col-md-12">
			                                    <div class="form-group">
		                                               <textarea name="content" class="form-control  c-square c-theme c-theme-border" placeholder="来，说说你在做什么，想什么" rows="6"></textarea>
	                                        	</div>
			                                 </div>
			                                 <div id="photoDiv" class="form-group col-md-12 c-hide">
			                                 	<label class="control-label">上传图片<p><small class="c-font-grey-2">最多上传4张图片，支持jpg,gif,png格式</small></p></label>
			                                 	<input id="photos" name="photoPics" type="file" class="form-control c-square c-theme file-loading input-lg" accept="image/*" multiple>
												<script type="text/javascript">
														$("#photos").fileinput({
														    uploadUrl: "#", // server upload action
								    						showUpload: false,
								    						overwriteInitial: true,
								    						allowedFileExtensions:['jpg', 'gif', 'png'],
								    						minFileCount: 1,
								    						maxFileCount: 4
														});
												</script>
			                                 </div>
			                                 
			                                 <div id="videoDiv" class="form-group col-md-12 c-hide">
			                                 	<label class="control-label">视频地址<p><small class="c-font-grey-2">支持腾讯视频、优酷、土豆、酷六</small></p></label>
			                                 	<input id="video" name="video" type="text" class="form-control c-square c-theme input-lg">
			                                 </div>
			                                 
			                                 <div class="col-md-12">
			                                 	<a href="javascript:void(0);" onclick="showPhotoDiv();"><i class="fa fa-picture-o c-font-green-1"></i> 图片</a>
			                                 	<a href="javascript:void(0);" onclick="showVideoDiv();"><i class="fa fa-video-camera c-font-purple-1"></i> 视频</a>
			                                    <button type="submit" class="pull-right btn c-btn c-btn-square c-theme-btn c-font-bold c-font-uppercase c-font-white">提交</button>
			                                 </div>
		                                </div>
                                	</form>
                                	</div>
                                	</div>
								</div>
                                <div id="grid-container" class="cbp cbp-l-grid-work">
                                    <#list blogs as blog>
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered cbp-item">
                                            <#if (blog.video)?? && blog.video != "">
                                            <div class="c-media">
                                              	<iframe src="${blog.video}" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                            </div>
                                            <#else>
	                                            <#if (blog.photos.fileInfos)?? && ((blog.photos.fileInfos)?size > 0)>
	                                            <div class="c-media c-content-overlay">
	                                                <div class="c-overlay-wrapper">
	                                                    <div class="c-overlay-content">
	                                                        <a href="${basePath}/friend/toReview?id=${blog.id}">
	                                                            <i class="icon-link"></i>
	                                                        </a>
	                                                        <a href="${basePath}/${blog.photos.fileInfos[0].realPath}" data-lightbox="fancybox" data-fancybox-group="gallery">
	                                                            <i class="icon-magnifier"></i>
	                                                        </a>
	                                                    </div>
	                                                </div>
	                                                <img class="c-overlay-object" src="${basePath}/${blog.photos.fileInfos[0].realPath}" alt="">
	                                            </div>
	                                            </#if>
	                                        </#if>
                                            <div class="c-body">
                                                <div class="c-author">
                                                    <a href="#" data-toggle="popover" data-trigger="hover focus" html="true" data-placement="top" data-content="<img width='600px' src='${basePath}/images/comfirm_example.jpg'>">
                                                        <span class="c-font-bold c-font-20"><#if (blog.createUser.realName)??>${blog.createUser.realName}<#else>${(blog.createUser.mobile)!''} </#if></span>
                                                    </a> 
                                                    <span class="c-font-uppercase"> ${(blog.createTime?string('yyyy-MM-dd HH:mm'))!''}</span>
                                                </div>                                                
                                                <p> ${(blog.content)!''} </p>
                                                <div class="c-panel">
                                                    <div class="c-comments">
                                                    	<a href="#icon/thumbs-up">
                                        					<i class="fa fa-thumbs-o-up c-font-18"></i> <span class="badge c-bg-green">${(blog.loveNum)!''}</span>
                                        				</a> 
                                        				|
                                                        <a href="#">
                                                            <i class="icon-speech c-font-18"></i> 评论 <span class="badge c-bg-green">${(blog.commentNum)!''}</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </#list>
                                </div>
                                
                                <div class="c-pagination">
                                    <ul class="c-content-pagination c-theme">
                                        <li class="c-prev">
                                            <a href="#">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">1</a>
                                        </li>
                                        <li class="c-active">
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li class="c-next">
                                            <a href="#">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                            
                            <#if (Session.sessionuser)??>
						    <div class="c-content-person-1 c-option-2">
                                 <div class="c-caption c-content-overlay">
                                     <div class="c-overlay-wrapper">
                                         <div class="c-overlay-content">
                                             
                                             <a href="${basePath}/images/example/team10.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                 <i class="icon-magnifier"></i>
                                             </a>
                                         </div>
                                     </div>
                                     <img class="c-overlay-object img-responsive" src="${basePath}/${(Session.sessionuser.headPic)!'http://placehold.it/600x600'}" alt=""> 
                                 </div>
                                 <div class="c-body" style="padding: 10px;">
                                     <div class="c-head">
                                         <div class="c-name c-font-uppercase c-font-bold">${(Session.sessionuser.realName)!'Session.sessionuser.mobile'}</div>
                                 	</div>
                                 	<div class="c-position"> ${(Session.sessionuser.personSignature)!''} </div>
                                    <p></p>
							   </div>
                            </div>
                            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
						      <a href="${basePath}/friend/toFriend" class="btn c-theme-btn" role="button">派友 <span class="badge">${(Session.sessionuser.blogFriendNum)!''}</span></a>
						      <a href="#" class="btn c-theme-btn" role="button">派文 <span class="badge">${(Session.sessionuser.blogNum)!''}</span></a>
						    </div>
						    </#if>
                            
                            <div class="c-margin-t-40">
	                            <form action="#" method="post">
	                                <div class="input-group">
	                                    <input type="text" class="form-control c-square c-theme-border" placeholder="搜索派文">
	                                    <span class="input-group-btn">
	                                        <button class="btn c-theme-btn c-theme-border c-btn-square" type="button">搜索</button>
	                                    </span>
	                                </div>
	                            </form>
                            </div>
                            
                            <div class="c-content-tab-1 c-theme c-margin-t-30">
                                <div class="nav-justified">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active">
                                            <a href="#blog_recent_posts" data-toggle="tab">最新派单</a>
                                        </li>
                                        <li>
                                            <a href="#blog_popular_posts" data-toggle="tab">热门派单</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="blog_recent_posts">
                                            <ul class="c-content-recent-posts-1">
                                                <li>
                                                    <div class="c-image">
                                                        <img src="${basePath}/images/example/blog1.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="${basePath}/images/example/blog2.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="${basePath}/images/example/blog3.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="${basePath}/images/example/blog4.jpg" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane" id="blog_popular_posts">
                                            <ul class="c-content-recent-posts-1">
                                                <li>
                                                    <div class="c-image">
                                                        <img src="${basePath}/images/example/blog5.jpg" class="img-responsive" alt="" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="${basePath}/images/example/blog1.jpg" class="img-responsive" alt="" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="${basePath}/images/example/blog2.jpg" class="img-responsive" alt="" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="${basePath}/images/example/blog3.jpg" class="img-responsive" alt="" /> </div>
                                                    <div class="c-post">
                                                        <a href="" class="c-title"> UX Design Expo 2015... </a>
                                                        <div class="c-date">27 Jan 2015</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="c-content-ver-nav">
                                <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                    <h3 class="c-font-bold c-font-uppercase">派友推荐</h3>
                                    <div class="c-line-left c-theme-bg"></div>
                                </div>
                                
                              	<ul class="c-content-recent-posts-1">
                                      <li>
                                          <div class="c-image">
                                              <img src="${basePath}/images/example/blog5.jpg" class="img-responsive" alt="" /> </div>
                                          <div class="c-post">
                                              <a href="" class="c-title"> UX Design Expo 2015... </a>
                                              <div class="c-date">27 Jan 2015</div>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="c-image">
                                              <img src="${basePath}/images/example/blog1.jpg" class="img-responsive" alt="" /> </div>
                                          <div class="c-post">
                                              <a href="" class="c-title"> UX Design Expo 2015... </a>
                                              <div class="c-date">27 Jan 2015</div>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="c-image">
                                              <img src="${basePath}/images/example/blog2.jpg" class="img-responsive" alt="" /> </div>
                                          <div class="c-post">
                                              <a href="" class="c-title"> UX Design Expo 2015... </a>
                                              <div class="c-date">27 Jan 2015</div>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="c-image">
                                              <img src="${basePath}/images/example/blog3.jpg" class="img-responsive" alt="" /> </div>
                                          <div class="c-post">
                                              <a href="" class="c-title"> UX Design Expo 2015... </a>
                                              <div class="c-date">27 Jan 2015</div>
                                          </div>
                                      </li>
                                  </ul>
                                
                            </div>
                            <!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BLOG LISTING  -->
            <!-- END: PAGE CONTENT -->
	
	
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){

	$('#firend').addClass('c-active');
	
	$('[data-toggle="popover"]').popover({html: 'true'});
	
	// init cubeportfolio
    $('#grid-container').cubeportfolio({
        layoutMode: 'grid',
        defaultFilter: '*',
        animationType: 'scaleSides',
        gapHorizontal: 30,
        gapVertical: 30,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 800,
            cols: 2
        }, {
            width: 500,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        caption: 'zoom',
        displayType: 'lazyLoading',
        displayTypeSpeed: 400
    });
	
  });
  
  function showPhotoDiv(){
  	if($("#photoDiv").is(":hidden")){
  		$("#photoDiv").show();
  	}else{
  		$("#photoDiv").hide();
  	}
  }
  
  function showVideoDiv(){
  	if($("#videoDiv").is(":hidden")){
  		$("#videoDiv").show();
  	}else{
  		$("#videoDiv").hide();
  	}
  }
</script>

</body>

</html>