<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page c-bg-grey-1" >
	<!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="row c-margin-t-60 ">
                        <div class="col-md-9">
                            <div class="c-content-blog-post-card-1-grid">
                            	<div class="c-margin-b-40">
                                    <div class="panel panel-default">
                                    <div class="panel-body">
                                    <#if (Session.sessionuser)?? > 
                            		<form id="blogForm" action="${basePath}/friend/create" method="post" enctype="multipart/form-data">
		                                <div class="row c-product-review-input">
		                                	<div class="col-md-12">
			                                    <div class="form-group">
		                                               <textarea name="content" class="form-control  c-square c-theme c-theme-border" placeholder="来，说说你在做什么，想什么" rows="6"></textarea>
	                                        	</div>
			                                 </div>
			                                 <div id="photoDiv" class="form-group col-md-12 c-hide">
			                                 	<label class="control-label">上传图片<p><small class="c-font-grey-2">最多上传4张图片，支持jpg,gif,png格式</small></p></label>
			                                 	<input id="photos" name="photoPics" type="file" class="form-control c-square c-theme file-loading input-lg" accept="image/*" multiple>
												<script type="text/javascript">
														$("#photos").fileinput({
														    uploadUrl: "#", // server upload action
								    						showUpload: false,
								    						overwriteInitial: true,
								    						allowedFileExtensions:['jpg', 'gif', 'png'],
								    						minFileCount: 1,
								    						maxFileCount: 4
														});
												</script>
			                                 </div>
			                                 
			                                 <div id="videoDiv" class="form-group col-md-12 c-hide">
			                                 	<label class="control-label">视频地址<p><small class="c-font-grey-2">支持腾讯视频、优酷、土豆、酷六</small></p></label>
			                                 	<input id="video" name="video" type="text" class="form-control c-square c-theme input-lg">
			                                 </div>
			                                 
			                                 <div class="col-md-12">
			                                 	<a href="javascript:void(0);" onclick="showPhotoDiv();"><i class="fa fa-picture-o c-font-green-1"></i> 图片</a>
			                                 	<a href="javascript:void(0);" onclick="showVideoDiv();"><i class="fa fa-video-camera c-font-purple-1"></i> 视频</a>
			                                    <button type="submit" class="pull-right btn c-btn c-btn-square c-theme-btn c-font-bold c-font-uppercase c-font-white">提交</button>
			                                 </div>
		                                </div>
                                	</form>
                                	<#else>
                                		<div class="c-content-box c-size-lg">
									          <div class="c-shop-cart-page-1 c-center">
									              <i class="fa fa-sign-in c-font-dark c-font-50 c-font-thin "></i>
									              <h2 class="c-font-thin c-center">请登录后发表派文</h2>
									          </div>
									     </div>  
                                	</#if>
                                	</div>
                                	</div>
								</div>
                                <div id="grid-container" class="cbp cbp-l-grid-work">
                                    <#list blogs as blog>
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered cbp-item">
                                            <#if (blog.video)?? && blog.video != "">
                                            <div class="c-media">
                                              	<iframe src="${blog.video}" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                            </div>
                                            <#else>
	                                            <#if (blog.photos.fileInfos)?? && ((blog.photos.fileInfos)?size > 0)>
	                                            <div class="c-media c-content-overlay">
	                                                <div class="c-overlay-wrapper">
	                                                    <div class="c-overlay-content">
	                                                        <a href="${basePath}/friend/toReview?id=${blog.id}">
	                                                            <i class="icon-link"></i>
	                                                        </a>
	                                                        <a href="${basePath}/${blog.photos.fileInfos[0].realPath}" data-lightbox="fancybox" data-fancybox-group="gallery">
	                                                            <i class="icon-magnifier"></i>
	                                                        </a>
	                                                    </div>
	                                                </div>
	                                                <img class="c-overlay-object" src="${basePath}/${blog.photos.fileInfos[0].realPath}" alt="">
	                                            </div>
	                                            </#if>
	                                        </#if>
                                            <div class="c-body">
                                                <div class="c-author">
                                                    <a target="_blank" href="${basePath}/friend/toInfo?userId=${(blog.createUser.id)!''}" data-toggle="popover" user="${(blog.createUser.id)!''}">
                                                        <span class="c-font-bold c-font-20">${(blog.createUser.displayName)!''} </span>
                                                    </a> 
                                                    <span class="c-font-uppercase"> ${(blog.createTime?string('yyyy-MM-dd HH:mm'))!''}</span>
                                                </div>                                                
                                                <a target="_blank" href="${basePath}/friend/toReview?id=${blog.id}"><p> ${(blog.content)!''} </p></a>
                                                <div class="c-panel">
                                                    <div class="c-comments">
                                                    	<a href="javascript:void(0);" data-toggle="love" blogId="${(blog.id)!''}">
                                        					<i class="fa fa-thumbs-o-up c-font-18"></i> <span id="love_${blog.id}" class="badge c-bg-green">${(blog.loveNum)!''}</span>
                                        				</a> 
                                        				|
                                                        <a target="_blank" href="${basePath}/friend/toReview?id=${blog.id}">
                                                            <i class="icon-speech c-font-18"></i> 评论 <span  class="badge c-bg-green">${(blog.commentNum)!''}</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </#list>
                                </div>
                                
                                <div class="c-pagination">
                                   <ul id="blog_pager" class="c-content-pagination c-square c-theme"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                            
                            <#if (Session.sessionuser)??>
						    <div class="c-content-person-1 c-option-2">
                                 <div class="c-caption c-content-overlay">
                                     <img class="c-overlay-object img-responsive" src="<#if (Session.sessionuser.headPic)??>${basePath}/${(Session.sessionuser.headPic)!''}<#else>http://placehold.it/600x600'</#if>" alt=""> 
                                 </div>
                                 <div class="c-body" style="padding: 10px;">
                                     <div class="c-head">
                                         <a href="${basePath}/friend/toInfo?userId=${(Session.sessionuser.id)!''}">
                                         	<div class="c-name c-font-uppercase c-font-bold">${(Session.sessionuser.displayName)!''}</div>
                                         </a>
                                 	</div>
                                 	<div class="c-position"> ${(Session.sessionuser.personSignature)!''} </div>
                                    <p></p>
							   </div>
                            </div>
                            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
						      <a href="${basePath}/friend/toFriend?userId=${(Session.sessionuser.id)!''}" class="btn c-theme-btn" role="button">派友 <span class="badge">${(Session.sessionuser.blogFriendNum)!''}</span></a>
						      <a href="${basePath}/friend/toMy?userId=${(Session.sessionuser.id)!''}" class="btn c-theme-btn" role="button">派文 <span class="badge">${(Session.sessionuser.blogNum)!''}</span></a>
						    </div>
						    </#if>
                            
                            <div class="c-margin-t-40">
	                            <form action="${basePath}/friend/index" method="post">
	                                <div class="input-group">
	                                    <input id="searchBlog" type="text" name="searchBlog" value="${(searchBlog)!''}" class="form-control c-square c-theme-border" placeholder="搜索派文">
	                                    <span class="input-group-btn">
	                                        <button type="submit" class="btn c-theme-btn c-theme-border c-btn-square" type="button">搜索</button>
	                                    </span>
	                                </div>
	                            </form>
                            </div>
                            
                            <div class="c-content-tab-1 c-theme c-margin-t-30">
                                <div class="nav-justified">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active">
                                            <a href="#blog_recent_posts" data-toggle="tab">最新派单</a>
                                        </li>
                                        <li>
                                            <a href="#blog_popular_posts" data-toggle="tab">热门派单</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="blog_recent_posts">
                                            <ul class="c-content-recent-posts-1">
                                                <#list zxBlogs as zxBlog>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="<#if (zxBlog.photos.fileInfos[0])??>${basePath}/${zxBlog.photos.fileInfos[0].realPath}<#else>http://placehold.it/400x300'</#if>" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                    	<div style="line-height:25px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">
                                                        	<a href="${basePath}/friend/toReview?id=${zxBlog.id}" class="c-title"> ${(zxBlog.content)!''} </a>
                                                        </div>
                                                        <div class="c-date">${(zxBlog.createTime?string('yyyy-MM-dd'))!''}</div>
                                                    </div>
                                                </li>
                                                </#list>
                                            </ul>
                                        </div>
                                        <div class="tab-pane" id="blog_popular_posts">
                                            <ul class="c-content-recent-posts-1">
                                                <#list reBlogs as reBlog>
                                                <li>
                                                    <div class="c-image">
                                                        <img src="<#if (reBlog.photos.fileInfos[0])??>${basePath}/${reBlog.photos.fileInfos[0].realPath}<#else>http://placehold.it/400x300'</#if>" alt="" class="img-responsive"> </div>
                                                    <div class="c-post">
                                                    	<div style="line-height:25px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">
                                                        	<a href="${basePath}/friend/toReview?id=${reBlog.id}" class="c-title"> ${(reBlog.content)!''} </a>
                                                        </div>
                                                        <div class="c-date">${(reBlog.createTime?string('yyyy-MM-dd'))!''}</div>
                                                    </div>
                                                </li>
                                                </#list>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="c-content-ver-nav">
                                <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                    <h3 class="c-font-bold c-font-uppercase">派友推荐</h3>
                                    <div class="c-line-left c-theme-bg"></div>
                                </div>
                                
                              	<ul class="c-content-recent-posts-1">
                              		<#list recommendFriends as recommendFriend>
                                      <li>
                                          <div class="c-image">
                                              <img src="<#if (recommendFriend.headPic)??> ${basePath}/${(recommendFriend.headPic)!''}<#else>http://placehold.it/400x300</#if>" class="img-responsive" alt="" /> </div>
                                          <div class="c-post">
                                              <a href="${basePath}/friend/toInfo?userId=${(recommendFriend.id)!''}" class="c-title"> ${(recommendFriend.displayName)!''} </a>
                                          </div>
                                      </li>
                                     </#list>
                                  </ul>
                                
                            </div>
                            <!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: BLOG LISTING  -->
            <!-- END: PAGE CONTENT -->
	
	
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>

$(document).ready(function(){

	$('#firend').addClass('c-active');
	
	$('[data-toggle="popover"]').popover({
          trigger:'hover hover', //触发方式
          placement:'auto',
          container: 'body',
          html: true, // 为true的话，data-content里就能放html代码了
          delay:{ show: 500, hide: 2000 },
          title:'用户',
          content: function() {
          	 var content = '';
          	 $.ajax({
				url : '${basePath}/friend/getPopover?userId=' + $(this).attr("user"),
				type : "Post",
				async :false,
				success : function(data) {
					content = data;
				}
			});
			 return content;
		 }
     });
     
     $('[data-toggle="love"]').each(function(){
     	$(this).click(function(){
     		var blogId = $(this).attr("blogId");
       		$.ajax({
				url : '${basePath}/friend/clickLike?blogId=' + blogId,
				type : "Post",
				async :false,
				success : function(data) {
					if(data == '1'){
						 var loveCount = parseInt($("#love_" + blogId).text());
						 $("#love_" + blogId).text(loveCount + 1);
					}else{
						$("#error_modal_message").html(data);
						$("#error_modal").modal('show');
					}
				}
	     	});
     	});
     });
	
	// init cubeportfolio
    $('#grid-container').cubeportfolio({
        layoutMode: 'grid',
        defaultFilter: '*',
        animationType: 'scaleSides',
        gapHorizontal: 30,
        gapVertical: 30,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 800,
            cols: 2
        }, {
            width: 500,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        caption: 'zoom',
        displayType: 'lazyLoading',
        displayTypeSpeed: 400
    });
    
    var options = {
            bootstrapMajorVersion:3,
            currentPage: ${(pager.currentPage)!1},
            numberOfPages: ${(pager.pageSize)!5},
            totalPages:${(pager.totalPage)!1},
            onPageClicked: function (e, originalEvent, type, page) {
				location.href = "${basePath}/friend/index?searchBlog=" + $("#searchBlog").val() + "&currentPage=" + page;
            }  
       }
 
       $('#blog_pager').bootstrapPaginator(options);
	
  });
  
  function showPhotoDiv(){
  	if($("#photoDiv").is(":hidden")){
  		$("#photoDiv").show();
  	}else{
  		$("#photoDiv").hide();
  	}
  }
  
  function showVideoDiv(){
  	if($("#videoDiv").is(":hidden")){
  		$("#videoDiv").show();
  	}else{
  		$("#videoDiv").hide();
  	}
  }
</script>

</body>

</html>