<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: BLOG LISTING -->
            <div class="c-content-box c-size-md c-bg-grey-1">
                <div class="container">
                
                <#include "./common/menu.html">
		
				<div class="c-layout-sidebar-content ">
                	<div class="c-content-title-1">
	                  <h3 class="c-font-uppercase c-font-bold">基本资料</h3>
	                  <div class="c-line-left"></div>
	              	</div>
	              	
	              	<div class="row">
	              		<div class="col-md-4 c-margin-b-20">
                            <div class="c-content-person-1 c-option-2">
                                 <div class="c-caption c-content-overlay">
                                     <img class="c-overlay-object img-responsive" src="<#if (user.headPic)??>${basePath}/${(user.headPic)!''}<#else>http://placehold.it/600x600'</#if>" alt=""> 
                                 </div>
                                 <div class="c-body" style="padding: 10px;">
                                   <#if isFriend??>
                                     <div id="friend_p" class="pull-right">
                                     	<#if isFriend == "0">
                                     	<a href="javascript:void(0);" onclick="doFriend('${(user.id)!''}')" class="btn btn-sm c-theme-btn c-btn-uppercase c-btn-bold c-btn-border-2x c-btn-circle">
                                    		<i class="glyphicon glyphicon-plus"></i> 关注
                                    	</a>
                                    	<#else>
                                    	<a href="javascript:void(0);" onclick="doCancelFriend('${(user.id)!''}')" class="btn btn-sm c-theme-btn c-btn-uppercase c-btn-bold c-btn-border-2x c-btn-circle">
                                    		<i class="glyphicon glyphicon-trash"></i> 取消
                                    	</a>
                                    	</#if>
                                    </div>
                                    </#if>
                                    
                                     <div class="c-head">
                                         <div class="c-name c-font-uppercase c-font-bold">${(user.displayName)!''}</div>
                                 	</div>
                                 	<div class="c-position"> ${(user.personSignature)!''} </div>
                                    <p></p>
							   </div>
                            </div>
                        </div>
	              	</div>
	              	
	              	<div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 c-margin-b-20">
                            <ul class="list-unstyled">
                                <li>生日：${(user.birthDay?string('yyyy-MM-dd'))!''}</li>
                                <li>QQ: ${(user.qqNumber)!''}</li>
                                <li>邮箱:
                                    <a href="mailto:jango@themehats.com" class="c-theme-link">${(user.email)!''}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
            <!-- END: BLOG LISTING  -->
            <!-- END: PAGE CONTENT -->
	
	
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){

	$('#firend').addClass('c-active');
	$('#info').addClass('c-active');
  });
  
  function doFriend(userId){
  		$.ajax({
				url : '${basePath}/friend/doFriend?userId=' + userId,
				type : "Post",
				async :false,
				success : function(data) {
					if(data == '1'){
						$("#friend_p").html("已关注");
					}
				}
			});
  	}
  	
  	function doCancelFriend(userId){
  		$.ajax({
				url : '${basePath}/friend/doCancelFriend?userId=' + userId,
				type : "Post",
				async :false,
				success : function(data) {
					if(data == '1'){
						$("#friend_p").html("已取消");
					}
				}
			});
  	}
  
</script>

</body>

</html>