<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<form>
	<!-- BEGIN: PAGE CONTENT -->
		<div class="c-content-box c-size-md">
                <div class="container">
                    <div class="c-content-tab-4 c-opt-5" role="tabpanel">
                        <ul class="nav nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tab-1" role="tab" data-toggle="tab">基本信息</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab-2" role="tab" data-toggle="tab">详细描述</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab-3" role="tab" data-toggle="tab">时间/费用</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                            	<div class="c-content-panel">
                            	<div class="c-body">
                            	<div class="row">
		                          <div class="form-group col-md-7">
		                              <label class="control-label">活动标题</label>
		                              <input type="text" class="form-control c-square c-theme" placeholder="活动标题  20字"> 
		                          </div>
		                          
		                          <div class="form-group col-md-7">
		                              <label class="control-label">活动简介</label>
		                              <textarea class="form-control c-square c-theme" rows="3" placeholder="活动简介  100字"></textarea>
		                          </div>
		                          
		                          <div class="form-group col-md-7">
		                              <label class="control-label">活动类型</label>
		                              <div class="c-radio-inline">
		                                 <div class="c-radio">
		                                     <input type="radio" id="radio1" class="c-radio" checked name="type">
		                                     <label for="radio1">
		                                         <span></span><span class="check"></span>
		                                         <span class="box"></span> 市内采风</label>
		                                 </div>
		                                 <div class="c-radio">
		                                     <input type="radio" id="radio2" class="c-radio" name="type">
		                                     <label for="radio2">
		                                         <span></span><span class="check"></span>
		                                         <span class="box"></span> 远郊采风</label>
		                                 </div>
		                                 <div class="c-radio">
		                                     <input type="radio" id="radio3" class="c-radio" name="type">
		                                     <label for="radio3"> 
		                                         <span></span><span class="check"></span>
		                                         <span class="box"></span> 说拍就拍</label>
		                                 </div>
		                                 <div class="c-radio">
		                                     <input type="radio" id="radio4" class="c-radio" name="type">
		                                     <label for="radio4">
		                                         <span></span><span class="check"></span>
		                                         <span class="box"></span> 一对一</label>
		                                 </div>
		                             </div>
		                          </div>
		                          
		                          <div class="form-group col-md-7">
	                          		<label class="control-label">日程</label>
	                          		<div class="row">
                                               <div class="form-group col-md-6">
                                                   <select class="form-control c-square c-theme"> 
                                                       <option value="0">0</option>
                                                       <option value="1">1</option>
                                                       <option value="2">2</option>
                                                       <option value="3">3</option>
                                                       <option value="4">4</option>
                                                       <option value="5">5</option>
                                                   </select> 天
                                               </div>
                                               <div class="col-md-6">
                                                   <select class="form-control c-square c-theme">
                                                       <option value="0">0</option>
                                                       <option value="1">1</option>
                                                       <option value="2">2</option>
                                                       <option value="3">3</option>
                                                       <option value="4">4</option>
                                                       <option value="5">5</option>
                                                   </select> 晚
                                           </div>
                                  		</div>
		                          </div>
		                          
		                          <div class="form-group col-md-12">
	                          		<label class="control-label">出发地</label>
	                          		<div class="row">
                                               <div id="cfd" data-toggle="distpicker">
                                                   <div class="form-group col-md-2">
													<select class="form-control c-square c-theme" name="province"></select>
												   </div>
												   <div class="form-group col-md-2">
													<select class="form-control c-square c-theme" name="city"></select>
												   </div>
												   <div class="form-group col-md-2">
													<select class="form-control c-square c-theme" name="county"></select>
												   </div>
													<script type="text/javascript">
														$('#cfd').distpicker({
														<#if project?? && project.province??>
														  province: '${project.province}'
														 </#if>
														<#if project?? && project.city??>
														  ,city: '${project.city}',
														 </#if>
														<#if project?? && project.county??>
														  district: '${project.county}'
														 </#if>
														});
													</script>
                                               </div>
                                               <div class="col-md-6">
                                                   <input class="form-control" type="text" name="place" maxlength="50"  placeholder="具体地址" value="${(project.place)!''}">
                                           </div>
                                  		</div>
		                          </div>
		                          
		                          <div class="form-group col-md-12">
	                          		<label class="control-label">目的地</label>
	                          		<div class="row">
                                               <div id="mdd" data-toggle="distpicker">
                                                   <div class="form-group col-md-2">
													<select class="form-control c-square c-theme" name="province"></select>
												   </div>
												   <div class="form-group col-md-2">
													<select class="form-control c-square c-theme" name="city"></select>
												   </div>
												   <div class="form-group col-md-2">
													<select class="form-control c-square c-theme" name="county"></select>
												   </div>
													<script type="text/javascript">
														$('#mdd').distpicker({
														<#if project?? && project.province??>
														  province: '${project.province}'
														 </#if>
														<#if project?? && project.city??>
														  ,city: '${project.city}',
														 </#if>
														<#if project?? && project.county??>
														  district: '${project.county}'
														 </#if>
														});
													</script>
                                               </div>
                                               <div class="col-md-6">
                                                   <input class="form-control" type="text" name="place" maxlength="50"  placeholder="具体地址" value="${(project.place)!''}">
                                           </div>
                                  		</div>
		                          </div>
		                          
		                          <div class="form-group col-md-12">
		                              <label class="control-label">实拍图片<p><small class="c-font-grey-2">实拍图片配图最多5张，长高比例建议为16:10，图片宽度建议在600px~750px之间，支持jpg,gif,png格式</small></p></label> 
		                              <input id="modelPics" name="modelPics" type="file" class="form-control c-square c-theme file-loading" accept="image/*" multiple>
										<script type="text/javascript">
												$("#modelPics").fileinput({
												    uploadUrl: "#", // server upload action
						    						showUpload: false,
						    						overwriteInitial: false,
						    						allowedFileExtensions:['jpg', 'gif', 'png'],
						    						minFileCount: 1,
						    						<#if project?? && project.modelPhotos?? && project.modelPhotos.fileInfos??>
						    							initialPreview: [
						    							<#list project.modelPhotos.fileInfos as photo>
						    								"<img src='${basePath}/${photo.realPath}' class='file-preview-image'>",
						    							</#list>
						    							],
						    						</#if>
						    						maxFileCount: 5
												});
										</script>
		                          	</div>
		                          </div>
		                          </div>
		                        </div>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane fade" id="tab-2">
	                           <div class="c-content-panel">
								  <div class="c-body">
								      <div class="row">
								          <div class="col-md-12">
								              <div class="panel panel-success">
								              	  <div class="panel-heading">
			                                            <h3 class="panel-title">行程1</h3>
			                                        </div>
								                  <div class="panel-body">
								                  		 <div class="form-group col-md-7">
								                              <label class="control-label">行程标题</label>
								                              <input type="text" class="form-control c-square c-theme" placeholder="行程标题  20字"> 
								                          </div>
								                          
								                          <div class="form-group col-md-7">
								                              <label class="control-label">行程简介</label>
								                              <textarea class="form-control c-square c-theme" rows="3" placeholder="行程简介  100字"></textarea>
								                          </div>
								                          
								                          <div class="form-group col-md-12">
								                              <label class="control-label">行程图片<p><small class="c-font-grey-2">行程图片配图最多5张，长高比例建议为16:10，图片宽度建议在600px~750px之间，支持jpg,gif,png格式</small></p></label> 
								                              <input id="travelPics" name="travelPics" type="file" class="form-control c-square c-theme file-loading" accept="image/*" multiple>
																<script type="text/javascript">
																		$("#travelPics").fileinput({
																		    uploadUrl: "#", // server upload action
												    						showUpload: false,
												    						overwriteInitial: false,
												    						allowedFileExtensions:['jpg', 'gif', 'png'],
												    						minFileCount: 1,
												    						<#if project?? && project.modelPhotos?? && project.modelPhotos.fileInfos??>
												    							initialPreview: [
												    							<#list project.modelPhotos.fileInfos as photo>
												    								"<img src='${basePath}/${photo.realPath}' class='file-preview-image'>",
												    							</#list>
												    							],
												    						</#if>
												    						maxFileCount: 5
																		});
																</script>
								                          	</div>
								                  </div>
								              </div>
								              
								              <div class="pull-right">
								              	<a href="#" class="btn c-btn-yellow c-font-uppercase"><i class="icon-puzzle"></i> 添加行程</a>
								              </div>
								          </div>
								      </div>
								  </div>
								</div>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane fade" id="tab-3">
                               <div class="c-content-panel">
                            	<div class="c-body">
                            	 <div class="row">
                            	 	<div class="form-group col-md-7">
		                          		<label class="control-label">出发时间</label>
		                          		<div class="row">
                                          <div class="form-group col-md-6">
		                                      <input type="date" class="form-control c-square c-theme" placeholder="出发时间"> 
		                                  </div>
		                                  
	                                  	  <div class="col-md-6">
		                                      <input type="date" class="form-control c-square c-theme" placeholder="截至日期"> 
	                                      </div>
                                  		</div>
		                          	</div>
		                          	
		                          	<div class="form-group col-md-7">
		                          		<div class="row">
                                          <div class="form-group col-md-6">
                                          	  <label class="control-label">提前报名天数</label>
		                                      <input type="number" class="form-control c-square c-theme" placeholder=""> 
		                                  </div>
		                                  
	                                  	  <div class="col-md-6">
	                                  	  	  <label class="control-label">人数限制</label>
		                                      <input type="number" class="form-control c-square c-theme" placeholder=""> 
	                                      </div>
                                  		</div>
		                          	</div>
		                          	
		                          	<div class="form-group col-md-7">
		                          		<div class="row">
                                          <div class="form-group col-md-6">
                                          	  <label class="control-label">费用</label>
		                                      <input type="number" class="form-control c-square c-theme" placeholder=""> 
		                                  </div>
		                                  
	                                  	  <div class="col-md-6"></div>
                                  		</div>
		                          	</div>
		                          	
		                          	<div class="form-group col-md-7">
			                              <label class="control-label">费用说明</label>
			                              <textarea class="form-control c-square c-theme" rows="3" placeholder="费用说明  200字"></textarea>
			                          </div>
		                          	
                            	 </div>
                            	</div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/TABS/TAB-3 -->
		</form>
	<!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
	$(document).ready(function() {    
		App.init(); // init core    
	});
	</script>
<!-- END: THEME SCRIPTS -->
<script>
$(document).ready(function(){

	
  
  });
</script>

</body>

</html>