<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<!-- BEGIN: PAGE CONTENT -->
	
	<!-- BEGIN: SEARCH -->
      <div class="row c-margin-t-50">
          <div class="col-md-12">
              <div class="c-content-title-3 c-title-md c-theme-border">
                 <div class="c-content-tab-2 c-theme c-opt-1">
                  	<ul class="nav c-tab-icon-stack c-font-sbold c-font-uppercase">
                  		<li <#if type??><#else> class="active"</#if>>
                             <a href="${basePath}/project/index">
                                 <span class="c-content-line-icon c-icon-1"></span>
                                 <span class="c-title">全部</span>
                             </a>
                             <div class="c-arrow"></div>
                         </li>
                         <li <#if type?? && type="0">class="active"</#if>>
                             <a href="${basePath}/project/index?type=0">
                                 <span class="c-content-line-icon c-icon-19"></span>
                                 <span class="c-title">棚拍</span>
                             </a>
                             <div class="c-arrow"></div>
                         </li>
                         <li <#if type?? && type="1">class="active"</#if>>
                             <a href="${basePath}/project/index?type=1">
                                 <span class="c-content-line-icon c-icon-16"></span>
                                 <span class="c-title">市内采风</span>
                             </a>
                             <div class="c-arrow"></div>
                         </li>
                         <li <#if type?? && type="2">class="active"</#if>>
                             <a href="${basePath}/project/index?type=2">
                                 <span class="c-content-line-icon c-icon-32"></span>
                                 <span class="c-title">远郊采风</span>
                             </a>
                             <div class="c-arrow"></div>
                         </li>
                         <li <#if type?? && type="3">class="active"</#if>>
                             <a href="${basePath}/project/index?type=3">
                                 <span class="c-content-line-icon c-icon-14"></span>
                                 <span class="c-title">说拍就拍</span>
                             </a>
                             <div class="c-arrow"></div>
                         </li>
                         <li <#if type?? && type="4">class="active"</#if>>
                             <a href="${basePath}/project/index?type=4">
                                 <span class="c-content-line-icon c-icon-20"></span>
                                 <span class="c-title">一对一</span>
                             </a>
                             <div class="c-arrow"></div>
                         </li>
                     </ul>
                 </div>
                  
              </div>
              
          </div>
      </div>

	<!-- END: SEARCH -->
    <#list projects as project>
    <#if project_index%2==0 >  
	<div class="c-content-box c-overflow-hide">
	<div class="c-content-product-3 c-bs-grid-reset-space">
		<div class="row">
			<div class="col-md-8 col-sm-6">
				<div class="c-content-overlay">
					<div class="c-overlay-wrapper">
						<div class="c-overlay-content">
							<a href="${basePath}/project/toReview?id=${project.id}" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">查看</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 550px; background-image: url(${basePath}/${project.photos.fileInfos[0].realPath});"></div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="c-wrapper c-bg-red" style="height: 550px;">
					<div class="c-content c-border c-border-padding c-border-padding-right">
						<p class="c-price c-font-55 c-font-white c-font-thin"><#if (project.cost)?? && project.cost=="0">免费<#else> ￥${(project.cost)!''}</#if></p>
						<h3 class="c-title c-font-25 c-font-white c-font-uppercase c-font-bold"><a href="${basePath}/project/toReview?id=${project.id}">${(project.name)!''}</a></h3>
						<p class="c-description c-font-17 c-font-white">${(project.des)!''}</p>
						
					</div>
				</div>
			</div>
		</div>
	   </div>
	</div><!-- END: CONTENT/SHOPS/SHOP-3-1 -->
	</#if>
	
	<#if project_index%2==1 >
	<div class="c-content-box c-overflow-hide">
	<div class="c-content-product-3 c-bs-grid-reset-space">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="c-wrapper c-theme-bg" style="height: 550px;">
					<div class="c-content c-border c-border-padding c-border-padding-left">
						<p class="c-price c-font-55 c-font-white c-font-thin"><#if (project.cost)?? && project.cost=="0">免费<#else> ￥${(project.cost)!''}</#if></p>
						<h3 class="c-title c-font-25 c-font-white c-font-uppercase c-font-bold"><a href="${basePath}/project/toReview?id=${project.id}">${(project.name)!''}</a></h3>
						<p class="c-description c-font-17 c-font-white">${(project.des)!''}</p>
						
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-6">
				<div class="c-content-overlay">
					<div class="c-overlay-wrapper">
						<div class="c-overlay-content">
							<a href="${basePath}/project/toReview?id=${project.id}" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">查看</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 550px; background-image: url(${basePath}/${project.photos.fileInfos[0].realPath});"></div>
				</div>
			</div>
		</div>
	</div>
</div>
	</#if> 
</#list>

<!-- BEGIN: PAGINATION -->
<div class="c-content-box c-overflow-hide">
<div class="c-margin-t-20"></div>
<div class="row pull-right">
	<div class="col-md-12">
		<ul id="project_pager" class="c-content-pagination c-square c-theme"></ul>
	</div>
</div>
<div class="c-margin-b-20"></div>
</div>
	
	<!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
	$(document).ready(function() {    
		App.init(); // init core    
	});
	</script>
<!-- END: THEME SCRIPTS -->
<script>
$(document).ready(function(){

	$('#project').addClass('c-active');
	
	var options = {  
            size:"large",
            bootstrapMajorVersion:3,
            currentPage: ${(pager.currentPage)!1},
            numberOfPages: ${(pager.pageSize)!5},
            totalPages:${(pager.totalPage)!1},
            onPageClicked: function (e, originalEvent, type, page) {
				location.href = "${basePath}/project/index?type=${type!''}&currentPage=" + page;
            }  
       }
 
       $('#project_pager').bootstrapPaginator(options);  
  
  });
</script>

</body>

</html>