<#assign basePath=request.contextPath>
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <!-- title start-->
   <#include "../common/title.html">
  <!-- title end-->
  
  <!-- link start-->
   <#include "../common/link.html">
  <!-- link end-->
  
</head>

<body>
    
  <!-- header start-->
  <#include "../common/header.html">
  <!-- header end -->
  
  <#include "../error/error_modal.html">
  <#include "../error/success_modal.html">
  
<div class="main-content">
	<div class="container">
		<div class="carousel slide" id="carousel-project" data-ride="carousel" data-interval="3000">
			<ol class="carousel-indicators">
			<#if project?? && project.photos?? && project.photos.fileInfos??>
			 <#list project.photos.fileInfos as photo>  
			 	<li <#if photo_index ==0> class="active"</#if> data-slide-to="${photo_index}" data-target="#carousel-project"></li>
			 </#list>
			</#if>
			</ol>
			
			<div class="carousel-inner">
			<#if project?? && project.photos?? && project.photos.fileInfos??>
				<#list project.photos.fileInfos as photo>
					<#if photo_index ==0>
						<div class="item active">
					<#else>
						<div class="item">
					</#if>
						<img alt="" src="${basePath}/${photo.realPath}" style="width: 1140px; height:100%;"/>
					</div>
				</#list>
			</#if>
			</div>
			<a class="left carousel-control" href="#carousel-project" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-project" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
		</div>
	</div>
		
	<!-- START THE NAVBAR -->
    <div class="navbar-wrapper">
    <div class="container">
      <div class="navwrapper">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="menuItem active"><a href="#section-1">基本信息</a></li>
                <li class="menuItem"><a href="#section-2">行程安排</a></li>
                <li class="menuItem"><a href="#section-3">人数费用</a></li>
                <li class="menuItem"><a href="#section-4">实拍图片</a></li>  
              </ul>
            </div>
        </div> 
      </div>
      </div>
    </div> 
    <!-- END NAVBAR -->
    
		<script type="text/javascript">
			  jQuery(function($) {
                $(document).ready( function() {
			 $('.navbar-wrapper').stickUp({
                                parts: {
                                  0:'section-1',
                                  1:'section-2',
                                  2:'section-3',
                                  3:'section-4'
                                },
                                itemClass: 'menuItem',
                                itemHover: 'active'
                              });
                            });
              });
		</script>
		
		<div class="container">
		<div class="col-sm-9 col-md-9">
		<form class="form-horizontal">
		<div id="section-1" class="panel panel-default">
			<div class="panel-heading" >
				<h2 class="lead">${(project.name)!''}</h2>
				<small><span class="glyphicon glyphicon-user"></span> ${(project.joinedNumber)!'0'}人已参加 </small>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<small><span class="glyphicon glyphicon-eye-open"></span> 已浏览${(project.viewedNumber)!'0'}次 </small>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-tasks"></span> 类型：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">
							<#if project?? && project.type?? && project.type == '1'>市内采风</#if>
							<#if project?? && project.type?? && project.type == '2'>远郊采风</#if>
							<#if project?? && project.type?? && project.type == '3'>说拍就拍</#if>
							<#if project?? && project.type?? && project.type == '4'>一对一</#if>
						</p>
					</div>
				</div>
				
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-phone"></span> 联系方式：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">${(project.contact)!''}</p>
					</div>
				</div>
				
				<p>
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-th-large"></span> 简介：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">${(project.des)!''}</p>
					</div>
				</div>
				</p>
				
			</div>
			<div class="panel-footer"></div>
		</div>
		
		<div id="section-2" class="panel panel-default">
			<div class="panel-heading">行程安排</div>
			<div class="panel-body">
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-time"></span> 活动时间：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">${(project.startTime)!''}</p>
					</div>
				</div>
				
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-bookmark"></span> 活动时长：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">${(project.timeLength)!''} 小时</p>
					</div>

				</div>
				
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-map-marker"></span> 活动地点：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">${(project.province)!''},${(project.city)!''},${(project.county)!''}
													   <br>${(project.place)!''}
						</p>
					</div>
				</div>
				
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-flag"></span> 集合地点：</div>
					<div class="col-sm-10 col-md-10">	
						<p class="form-control-static">${(project.venuePlace)!''}</p>
					</div>
				</div>
				
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-road"></span> 行程介绍：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">${(project.xcDes)!''}</p>
					</div>
				</div>
				
			</div>
			<div class="panel-footer">
			</div>
		</div>
		
		<div id="section-3" class="panel panel-default">
			 <div class="panel-heading">人数费用</div>
			<div class="panel-body">
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-user"></span> 活动人数：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">${(project.peopleNum)!''}</p>
					</div>
				</div>
				
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-adjust"></span> 最低人数：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">${(project.lessNum)!''}</p>
					</div>
				</div>
				
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-eye-open"></span> 模特人数：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">${(project.modelNum)!''}</p>
					</div>
				</div>
				
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-yen"></span> 活动费用：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">${(project.cost)!''}</p>
					</div>
				</div>
				
				<div class="form-group">
					<div class="control-label col-sm-2 col-md-2 orange-color"><span class="glyphicon glyphicon-comment"></span> 费用说明：</div>
					<div class="col-sm-10 col-md-10">
						<p class="form-control-static">${(project.feeDes)!''}</p>
					</div>
				</div>
				
			</div>
			<div class="panel-footer">
			</div>
		</div>
		
		<div id="section-4" class="panel panel-default">
			<div class="panel-heading">实拍图片</div>
			<div class="panel-body">
				<#if project?? && project.modelPhotos?? && project.modelPhotos.fileInfos??>
			 		<#list project.modelPhotos.fileInfos as modelphoto>
					 	<#if modelphoto_index % 4 == 0>
					 		<div class="row">
					 	</#if>
				 		<div class="col-sm-3 col-md-3">
							<div class="thumbnail">
								<img alt="300x250" src="${basePath}/${modelphoto.realPath}" />
							</div>
						</div>
						<#if (modelphoto_index+1) % 4 == 0 || !modelphoto_has_next>
					 		</div>
					 	</#if>
					</#list>
				</#if>
						
			</div>
			<div class="panel-footer">
			</div>
		</div>
		</form>
	</div>
	
	<div class="col-sm-3 col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading"><h2 style="color: #FF5511;"><strong><span class="glyphicon glyphicon-yen"></span> ${(project.cost)!''}</strong></h2></div>
			<div class="panel-body">
				 <form class="form-horizontal" id="project_order_form" action="${basePath}/project/orderProject" method="post">
					 <input type="hidden" name="id" value="${(project.id)!''}">
					 <button type="submit" class="btn btn-primary <#if isCanYd?? && isCanYd=='1'><#else>disabled</#if>">立刻预定</button>
				 </form>
			</div>
			<div class="panel-footer">
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading"><strong>其他人也预定了</strong></div>
			<div class="panel-body">
			<#if rela_projects?? && (rela_projects?size gt 0)>
				<#list rela_projects as rela_project>
					 <div class="media">
					  <div class="media-left media-middle">
					      <img class="media-object" 
					      	<#if rela_project?? && rela_project.photos?? && rela_project.photos.fileInfos??>src="${basePath}/${rela_project.photos.fileInfos[0].realPath}"<#else>src="http://placehold.it/64x64"</#if> 
					       alt="" style="width: 64px; height: 64px;">
					  </div>
					  <div class="media-body">
					    <h5 class="media-heading"><a href="${basePath}/project/toReview?id=${rela_project.id}">${(rela_project.name)!''}</a></h5>
					    <strong style="color: #FF5511;"><span class="glyphicon glyphicon-yen"></span> ${(rela_project.cost)!''}</strong>
					  </div>
					</div>
				</#list>
			</#if>
			</div>
			<div class="panel-footer">
			</div>
		</div>
		
	</div>
	</div>
	
</div>
  <!-- footer start-->
  <#include "../common/footer.html">
  <!-- footer end -->
  
  </body>
</html>
   