<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<!-- BEGIN: PAGE CONTENT -->
       <div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
                <div class="container">
                    <div class="c-shop-order-complete-1 c-content-bar-1 c-align-left c-bordered c-theme-border c-shadow">
                        <div class="c-content-title-1">
                            <h3 class="c-center c-font-uppercase c-font-bold">订单验证失败</h3>
                            <div class="c-line-center c-theme-bg"></div>
                        </div>
                        <div class="c-bg-red">
                            <p class="c-message c-center c-font-white c-font-20 c-font-sbold">
                                <i class="fa fa-close"></i> 您的订单支付验证失败，请联系奇异派官方客服，确认订单有效性。</p>
                        </div>
                        <!-- BEGIN: ORDER SUMMARY -->
                        <div class="row c-order-summary c-center">
                            <ul class="c-list-inline list-inline">
                                <li>
                                    <h3>订单号</h3>
                                    <p>${(projectOrder.orderNumber)!''}</p>
                                </li>
                                <li>
                                    <h3>订单日期</h3>
                                    <p>${(projectOrder.createTime?string('yyyy-MM-dd HH:mm'))!''}</p>
                                </li>
                                <li>
                                    <h3>付款金额</h3>
                                    <p>￥${(projectOrder.actualPrice)!''}</p>
                                </li>
                            </ul>
                 	  </div>
                 	  <div class="row">
                 	  	<a href="${basePath}/project/toReview?id=${projectOrder.project.id}" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold pull-right">返回</a>
                 	  </div>
              </div>
          </div>
     </div>
	<!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
	$(document).ready(function() {    
		$('#project').addClass('c-active');
		
	});
	</script>
<!-- END: THEME SCRIPTS -->

</body>

</html>