<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<!-- BEGIN: PAGE CONTENT -->
	
	<!-- BEGIN: SEARCH -->
	<div class="c-content-box c-size-md c-bg-white">
       	<div class="c-content-panel">
             <div class="c-body">
                 <div class="row">
                     <div class="col-md-12">
                         <div class="c-content-title-3 c-title-md c-theme-border">
                            <div class="c-content-tab-2 c-theme c-opt-1">
                             	<ul class="nav c-tab-icon-stack c-font-sbold c-font-uppercase">
                             		<li class="active">
                                        <a href="#">
                                            <span class="c-content-line-icon c-icon-25"></span>
                                            <span class="c-title">全部</span>
                                        </a>
                                        <div class="c-arrow"></div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="c-content-line-icon c-icon-25"></span>
                                            <span class="c-title">市内采风</span>
                                        </a>
                                        <div class="c-arrow"></div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="c-content-line-icon c-icon-19"></span>
                                            <span class="c-title">远郊采风</span>
                                        </a>
                                        <div class="c-arrow"></div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="c-content-line-icon c-icon-14"></span>
                                            <span class="c-title">说拍就拍</span>
                                        </a>
                                        <div class="c-arrow"></div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="c-content-line-icon c-icon-20"></span>
                                            <span class="c-title">一对一</span>
                                        </a>
                                        <div class="c-arrow"></div>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="c-content-tab-2 c-theme c-opt-1">
                             	<ul class="nav c-tab-icon-stack c-font-sbold c-font-uppercase">
                                    <li>
                                        <a href="#">
                                            <input id="startTime" class="form-control" type="text" name="startTime">
											<script type="text/javascript">
												$('#startTime').datetimepicker({lang:'zh',format:'Y-m-d H:i',step:30});
											</script>
                                            <span class="c-title">出发时间</span>
                                        </a>
                                        <div class="c-arrow"></div>
                                    </li>
                                    <li>
                                        <span>至</span>
                                        <div class="c-arrow"></div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <input id="endTime" class="form-control" type="text" name="startTime">
											<script type="text/javascript">
												$('#endTime').datetimepicker({lang:'zh',format:'Y-m-d H:i',step:30});
											</script>
                                            <span class="c-title">出发时间</span>
                                        </a>
                                        <div class="c-arrow"></div>
                                    </li>
                                </ul>
                              </div>
                             
                         </div>
                         
                     </div>
                 </div>
             </div>
         </div>
    </div>
	<!-- END: SEARCH -->
            
	<div class="c-content-box c-overflow-hide">
	<div class="c-content-product-3 c-bs-grid-reset-space">
		<div class="row">
			<div class="col-md-8 col-sm-6">
				<div class="c-content-overlay">
					<div class="c-overlay-wrapper">
						<div class="c-overlay-content">
							<a href="${basePath}/project/toReview" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 550px; background-image: url(${basePath}/images/example/project1.jpg);"></div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="c-wrapper c-bg-red" style="height: 550px;">
					<div class="c-content c-border c-border-padding c-border-padding-right">
						<h3 class="c-title c-font-25 c-font-white c-font-uppercase c-font-bold">MOTO 360 WATCH</h3>
						<p class="c-description c-font-17 c-font-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat.</p>
						<p class="c-description c-font-17 c-font-white">Dolor sit amet, consectetuer adipiscing elit sed diam nonummy</p>
						<p class="c-price c-font-55 c-font-white c-font-thin">$249</p>
						<a href="${basePath}/project/toReview" class="btn btn-lg c-btn-white c-font-uppercase c-btn-square c-btn-border-1x">BUY NOW</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- END: CONTENT/SHOPS/SHOP-3-1 -->

<!-- BEGIN: CONTENT/SHOPS/SHOP-3-2 -->
<div class="c-content-box c-overflow-hide">
	<div class="c-content-product-3 c-bs-grid-reset-space">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="c-wrapper c-theme-bg" style="height: 550px;">
					<div class="c-content c-border c-border-padding c-border-padding-left">
						<h3 class="c-title c-font-25 c-font-white c-font-uppercase c-font-bold">With Theme Color</h3>
						<p class="c-description c-font-17 c-font-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat.</p>
						<p class="c-description c-font-17 c-font-white">Dolor sit amet, consectetuer adipiscing elit sed diam nonummy</p>
						<p class="c-price c-font-55 c-font-white c-font-thin">$249</p>
						<a href="${basePath}/project/toReview" class="btn btn-lg c-btn-white c-font-uppercase c-btn-square c-btn-border-1x">BUY NOW</a>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-6">
				<div class="c-content-overlay">
					<div class="c-overlay-wrapper">
						<div class="c-overlay-content">
							<a href="${basePath}/project/toReview" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
						</div>
					</div>
					<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 550px; background-image: url(${basePath}/images/example/project2.jpg);"></div>
				</div>
			</div>
		</div>
	</div>
</div><!-- END: CONTENT/SHOPS/SHOP-3-2 -->

<!-- BEGIN: PAGINATION -->
<div class="c-content-box c-overflow-hide">
<div class="c-margin-t-30"></div>
<ul class="c-content-pagination c-square c-theme pull-right">
    <li class="c-prev">
        <a href="#">
            <i class="fa fa-angle-left"></i>
        </a>
    </li>
    <li>
        <a href="#">1</a>
    </li>
    <li class="c-active">
        <a href="#">2</a>
    </li>
    <li>
        <a href="#">3</a>
    </li>
    <li>
        <a href="#">4</a>
    </li>
    <li class="c-next">
        <a href="#">
            <i class="fa fa-angle-right"></i>
        </a>
    </li>
</ul>
<div class="c-margin-b-80"></div>
</div>
	
	<!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
	$(document).ready(function() {    
		App.init(); // init core    
	});
	</script>
<!-- END: THEME SCRIPTS -->
<script>
$(document).ready(function(){

	$('#project').addClass('c-active');
  
  });
</script>

</body>

</html>