<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
	<script src="${basePath}/assets/base/js/validate/project_create.js" type="text/javascript"></script>
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<form id="projectCreateForm" action="${basePath}/project/create" method="post" enctype="multipart/form-data">
	<!-- BEGIN: PAGE CONTENT -->
		<input type="hidden" name="id" value="${(project.id)!''}">
		<div class="c-content-box c-size-md">
                <div class="container">
                    <div class="c-content-tab-4 c-opt-5" role="tabpanel">
                        <ul class="nav nav-justified" >
                            <li class="c-onepage-link">
                                <a href="#tab-1" >基本信息</a>
                            </li>
                            <li class="c-onepage-link">
                                <a href="#tab-2" >行程信息</a>
                            </li>
                            <li class="c-onepage-link">
                                <a href="#tab-3" >时间/费用</a>
                            </li>
                        </ul>
                            <section class="tab-pane" id="tab-1">
                            	<div class="c-content-panel">
                            	<div class="c-body">
                            	<div class="row">
                            	<div class="col-md-12">
                            	<div class="panel panel-primary">
					              	  <div class="panel-heading">
                                            <h3 class="panel-title">基本信息</h3>
                                        </div>
					                  <div class="panel-body">
					              
					              <div class="form-group col-md-12">
		                              <label class="control-label">滚动图片<p><small class="c-font-grey-2">滚动图片最多4张，长高比例建议为16:10，图片宽度建议在600px~750px之间，支持jpg,gif,png格式</small></p></label> 
		                              <input id="photos" name="photoPics" type="file" class="form-control c-square c-theme file-loading input-lg" accept="image/*" multiple>
										<script type="text/javascript">
												$("#photos").fileinput({
												    uploadUrl: "#", // server upload action
						    						showUpload: false,
						    						overwriteInitial: true,
						    						allowedFileExtensions:['jpg', 'gif', 'png'],
						    						minFileCount: 1,
						    						<#if project?? && project.photos?? && project.photos.fileInfos??>
						    							initialPreview: [
						    							<#list project.photos.fileInfos as photo>
						    								"<img src='${basePath}/${photo.realPath}' class='file-preview-image'>",
						    							</#list>
						    							],
						    						</#if>
						    						maxFileCount: 4
												});
										</script>
		                          	</div>
					              
		                          <div class="form-group col-md-6">
		                              <label class="control-label">活动标题</label>
		                              <input type="text" class="form-control c-square c-theme input-lg" placeholder="活动标题  20字" maxlength="20" name="name" value="${(project.name)!''}"> 
		                          </div>
		                          
		                          <div class="form-group col-md-12">
		                              <label class="control-label">活动简介</label>
		                              <textarea class="form-control c-square c-theme input-lg" rows="6" placeholder="活动简介  1000字" maxlength="1000" name="des">${(project.des)!''}</textarea>
		                          </div>
		                          
		                          <div class="form-group col-md-12">
		                              <label class="control-label">介绍图片<p><small class="c-font-grey-2">介绍图片配图最多4张，长高比例建议为16:10，图片宽度建议在600px~750px之间，支持jpg,gif,png格式</small></p></label> 
		                              <input id="desPhotos" name="desPhotoPics" type="file" class="form-control c-square c-theme file-loading input-lg" accept="image/*" multiple>
										<script type="text/javascript">
												$("#desPhotos").fileinput({
												    uploadUrl: "#", // server upload action
						    						showUpload: false,
						    						overwriteInitial: true,
						    						allowedFileExtensions:['jpg', 'gif', 'png'],
						    						minFileCount: 1,
						    						<#if project?? && project.desPhotos?? && project.desPhotos.fileInfos??>
						    							initialPreview: [
						    							<#list project.desPhotos.fileInfos as photo>
						    								"<img src='${basePath}/${photo.realPath}' class='file-preview-image'>",
						    							</#list>
						    							],
						    						</#if>
						    						maxFileCount: 4
												});
										</script>
		                          	</div>
		                          
		                          <div class="form-group col-md-7">
		                              <label class="control-label">活动类型</label>
		                              <div class="c-radio-inline">
		                                 <div class="c-radio">
		                                     <input type="radio" id="radio1" class="c-radio input-lg" <#if (project.type)??><#if project.type == '1'>checked</#if><#else>checked</#if> value="1" name="type" >
		                                     <label for="radio1">
		                                         <span></span><span class="check"></span>
		                                         <span class="box"></span> 市内采风</label>
		                                 </div>
		                                 <div class="c-radio">
		                                     <input type="radio" id="radio2" class="c-radio input-lg" <#if (project.type)?? && project.type == '2'>checked</#if> value="2" name="type">
		                                     <label for="radio2">
		                                         <span></span><span class="check"></span>
		                                         <span class="box"></span> 远郊采风</label>
		                                 </div>
		                                 <div class="c-radio">
		                                     <input type="radio" id="radio3" class="c-radio input-lg" <#if (project.type)?? && project.type == '3'>checked</#if> value="3" name="type">
		                                     <label for="radio3"> 
		                                         <span></span><span class="check"></span>
		                                         <span class="box"></span> 说拍就拍</label>
		                                 </div>
		                                 <div class="c-radio">
		                                     <input type="radio" id="radio4" class="c-radio input-lg" <#if (project.type)?? && project.type == '4'>checked</#if> value="4" name="type">
		                                     <label for="radio4">
		                                         <span></span><span class="check"></span>
		                                         <span class="box"></span> 一对一</label>
		                                 </div>
		                             </div>
		                          </div>
		                          
		                          <div class="form-group col-md-7">
		                          		<label class="control-label">出发时间</label>
		                          		<div class="row">
                                          <div class="form-group col-md-6">
		                                      <input type="datetime" class="form-control c-square c-theme input-lg" placeholder="出发时间" name="startTime" value="${(project.startTime?string('yyyy-MM-dd HH:mm'))!''}"> 
		                                  </div>
		                                  
	                                  	  <!--<div class="col-md-6">
		                                      <input type="date" class="form-control c-square c-theme input-lg" placeholder="截至日期"> 
	                                      </div>
                                  		-->
                                  		</div>
		                          	</div>
		                          
		                          <div class="form-group col-md-7">
	                          		<label class="control-label">日程</label>
	                          		<div class="row">
                                               <div class="form-group col-md-6">
	                                               <div class="input-group c-square">
	                                                   <select class="form-control c-square c-theme input-lg" name="timeLength"> 
	                                                       <option value="0" <#if (project.timeLength)?? && project.timeLength == '0'>checked</#if> >0</option>
	                                                       <option value="1" <#if (project.timeLength)?? && project.timeLength == '1'>checked</#if>>1</option>
	                                                       <option value="2" <#if (project.timeLength)?? && project.timeLength == '2'>checked</#if>>2</option>
	                                                       <option value="3" <#if (project.timeLength)?? && project.timeLength == '3'>checked</#if>>3</option>
	                                                       <option value="4" <#if (project.timeLength)?? && project.timeLength == '4'>checked</#if>>4</option>
	                                                       <option value="5" <#if (project.timeLength)?? && project.timeLength == '5'>checked</#if>>5</option>
	                                                   </select> 
	                                                   <span class="input-group-addon">天</span>
	                                                </div>
                                               </div>
                                               <div class="col-md-6">
                                               	<div class="input-group c-square">
                                                   <select class="form-control c-square c-theme input-lg" name="timeNightLength">
                                                       <option value="0" <#if (project.timeNightLength)?? && project.timeNightLength == '0'>checked</#if>>0</option>
                                                       <option value="1" <#if (project.timeNightLength)?? && project.timeNightLength == '1'>checked</#if>>1</option>
                                                       <option value="2" <#if (project.timeNightLength)?? && project.timeNightLength == '2'>checked</#if>>2</option>
                                                       <option value="3" <#if (project.timeNightLength)?? && project.timeNightLength == '3'>checked</#if>>3</option>
                                                       <option value="4" <#if (project.timeNightLength)?? && project.timeNightLength == '4'>checked</#if>>4</option>
                                                       <option value="5" <#if (project.timeNightLength)?? && project.timeNightLength == '5'>checked</#if>>5</option>
                                                   </select> 
                                                   <span class="input-group-addon">晚</span>
                                                </div>
                                           </div>
                                  		</div>
		                          </div>
		                          
		                          <div class="form-group col-md-12">
	                          		<label class="control-label">出发地</label>
	                          		<div class="row">
                                           <div class="col-md-12">
                                               <input class="form-control input-lg" type="text" name="place" maxlength="50"  placeholder="出发地" value="${(project.place)!''}">
                                           </div>
                                  		</div>
		                          </div>
		                          
		                          <div class="form-group col-md-12">
	                          		<label class="control-label">集合地</label>
	                          		<div class="row">
                                           <div class="col-md-12">
                                               <input class="form-control input-lg" type="text" name="venuePlace" maxlength="50"  placeholder="集合地" value="${(project.venuePlace)!''}">
                                           </div>
                                  		</div>
		                          </div>
		                          
		                          <div class="form-group col-md-12">
	                          		<label class="control-label">目的地</label>
	                          		<div class="row">
                                         <div class="col-md-12">
                                                 <input class="form-control input-lg" type="text" name="destinationPlace" maxlength="50"  placeholder="目的地" value="${(project.destinationPlace)!''}">
                                         </div>
                                  	</div>
		                          </div>
		                          
		                          <div class="form-group col-md-12">
	                          		<label class="control-label">联系方式</label>
	                          		<div class="row">
                                         <div class="col-md-12">
                                                 <input class="form-control input-lg" type="text" name="contact" maxlength="50"  placeholder="联系方式  电话、QQ、微信" value="${(project.contact)!''}">
                                         </div>
                                  	</div>
		                          </div>
		                          
		                          </div>
		                          </div>
		                        </div>
		                        </div>
		                        </div>
		                        </div>
                            </section>
                            
                            <section class="tab-pane" id="tab-2">
	                           <div class="c-content-panel">
								  <div class="c-body">
						              <div class="panel panel-warning">
						              	  <div class="panel-heading">
	                                            <h3 class="panel-title">行程信息</h3>
	                                        </div>
						                  <div class="panel-body">
						                  
								      <div id="xc" class="row">
								      	  <#if (project.projectTrips)??>
								          		<#list project.projectTrips as projectTrip>
								          			<div class="col-md-12 xcdiv">
										              <div class="panel panel-success">
										              	  <div class="panel-heading">
					                                         <h3 class="panel-title">行程${projectTrip_index+1}</h3>
					                                      </div>
										                  <div class="panel-body">
										                  		 <input type="hidden" name="trips[${projectTrip_index}].id" value="${(projectTrip.id)!''}">
										                  		 <div class="form-group col-md-6">
										                              <label class="control-label">行程标题</label>
										                              <input type="text" class="form-control c-square c-theme input-lg" placeholder="行程标题  20字" maxlength="20" name="trips[${projectTrip_index}].title" value="${(projectTrip.title)!''}"> 
										                          </div>
										                          
										                          <div class="form-group col-md-12">
										                              <label class="control-label">行程简介</label>
										                              <textarea class="form-control c-square c-theme input-lg" rows="6" placeholder="行程简介  1000字" maxlength="1000" name="trips[${projectTrip_index}].des">${(projectTrip.des)!''}</textarea>
										                          </div>
										                          
										                          <div class="form-group col-md-12">
										                              <label class="control-label">行程图片<p><small class="c-font-grey-2">行程图片配图最多4张，长高比例建议为16:10，图片宽度建议在600px~750px之间，支持jpg,gif,png格式</small></p></label> 
										                              <input id="trips_${projectTrip_index}_desPhotoPics" name="trips[${projectTrip_index}].desPhotoPics" type="file" class="form-control c-square c-theme file-loading" accept="image/*" multiple>
										                              <script type="text/javascript">
																			$("#trips_${projectTrip_index}_desPhotoPics").fileinput({
																			    uploadUrl: "#", // server upload action
													    						showUpload: false,
													    						overwriteInitial: true,
													    						allowedFileExtensions:['jpg', 'gif', 'png'],
													    						minFileCount: 1,
													    						<#if (projectTrip.desPhotos.fileInfos)??>
													    							initialPreview: [
													    							<#list projectTrip.desPhotos.fileInfos as photo>
													    								"<img src='${basePath}/${photo.realPath}' class='file-preview-image'>",
													    							</#list>
													    							],
													    						</#if>
													    						maxFileCount: 4
																			});
																	</script>
										                          </div>
										                  </div>
										              </div>
										          </div>
								          		</#list>
								          <#else>
								          		<div class="col-md-12 xcdiv">
									              <div class="panel panel-success">
									              	  <div class="panel-heading">
				                                         <h3 class="panel-title">行程1</h3>
				                                      </div>
									                  <div class="panel-body">
									                  		 <div class="form-group col-md-6">
									                              <label class="control-label">行程标题</label>
									                              <input type="text" class="form-control c-square c-theme input-lg" placeholder="行程标题  20字" maxlength="20" name="trips[0].title"> 
									                          </div>
									                          
									                          <div class="form-group col-md-12">
									                              <label class="control-label">行程简介</label>
									                              <textarea class="form-control c-square c-theme input-lg" rows="6" placeholder="行程简介  1000字" maxlength="1000" name="trips[0].des"></textarea>
									                          </div>
									                          
									                          <div class="form-group col-md-12">
									                              <label class="control-label">行程图片<p><small class="c-font-grey-2">行程图片配图最多4张，长高比例建议为16:10，图片宽度建议在600px~750px之间，支持jpg,gif,png格式</small></p></label> 
									                              <input id="trips_0_desPhotoPics" name="trips[0].desPhotoPics" type="file" class="form-control c-square c-theme file-loading" accept="image/*" multiple>
									                              <script type="text/javascript">
																			$("#trips_0_desPhotoPics").fileinput({
																			    uploadUrl: "#", // server upload action
													    						showUpload: false,
													    						overwriteInitial: true,
													    						allowedFileExtensions:['jpg', 'gif', 'png'],
													    						minFileCount: 1,
													    						maxFileCount: 4
																			});
																	</script>
									                          </div>
									                  </div>
									              </div>
									          </div>
								          </#if>
								      </div>
								      <div>
						              	<a href="javascript:void(0)" onclick="addxc();" class="btn c-btn-green c-font-uppercase"><i class="icon-puzzle"></i> 添加行程</a>
						              	<a href="javascript:void(0)" onclick="removexc();" class="btn c-btn-yellow c-font-uppercase"><i class="glyphicon glyphicon-trash"></i> 删除行程</a>
						              </div>
								  </div>
								  </div>
								  </div>
								</div>
                            </section>
                            
                            <section class="tab-pane" id="tab-3">
                               <div class="c-content-panel">
                            	<div class="c-body">
                            	 <div class="row">
                            	 <div class="col-md-12">
					              <div class="panel panel-danger">
					              	  <div class="panel-heading">
                                            <h3 class="panel-title">费用</h3>
                                        </div>
					                  <div class="panel-body">
		                          	
		                          	<div class="form-group col-md-7">
		                          		<div class="row">
                                          <div class="form-group col-md-6">
                                          	  <label class="control-label">报名截至日期</label>
                                          	  <div class="input-group c-square">
			                                      <input type="datetime" class="form-control c-square c-theme input-lg" placeholder="报名截至日期" name="earlyDays" value="${(project.earlyDays?string('yyyy-MM-dd HH:mm'))!''}">
			                                      <span class="input-group-addon">天</span> 
			                                  </div>
		                                  </div>
		                                  
	                                  	  <div class="col-md-6">
	                                  	  	  <label class="control-label">最多人数限制</label>
	                                  	  	  <div class="input-group c-square">
		                                      	<input type="number" class="form-control c-square c-theme input-lg" placeholder="最多人数限制" name="peopleNum" value="${(project.peopleNum)!''}">
		                                      	<span class="input-group-addon">人</span> 
			                                  </div> 
	                                      </div>
                                  		</div>
		                          	</div>
		                          	
		                          	<div class="form-group col-md-7">
		                          		<div class="row">
                                          <div class="form-group col-md-6">
                                          	  <label class="control-label">费用</label>
                                          	  <div class="input-group c-square">
                                                    <span class="input-group-addon">￥</span>
                                                    <input type="number" class="form-control c-square c-theme input-lg" placeholder="活动费用" max name="cost" value="${(project.cost)!''}">
                                              </div>
		                                       
		                                  </div>
		                                  
	                                  	  <div class="col-md-6"></div>
                                  		</div>
		                          	</div>
		                          	
		                          	<div class="form-group col-md-12">
			                              <label class="control-label">费用说明</label>
			                              <textarea class="form-control c-square c-theme input-lg" rows="6" placeholder="费用说明   1000字" maxlength="1000" name="feeDes">${(project.feeDes)!''}</textarea>
			                          </div>
                            	 </div>
                            	</div>
                               </div>
                            </div>
                            </div>
                            </div>
                            </section>
                    </div>
                    
                    <div class="form-group">
                         <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square">保存</button>
                     </div>
                </div>
            </div>
            <!-- END: CONTENT/TABS/TAB-3 -->
		</form>
	<!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
$(document).ready(function(){
	App.init(); // init core  
});

<#if (project.projectTrips)??>
	var index=${(project.projectTrips)?size + 1};
<#else>
	var index=2;
</#if>

function addxc(){
	var xc = '<div class="col-md-12 xcdiv">'+
             '<div class="panel panel-success">'+
             	  '<div class="panel-heading">'+
                                      '<h3 class="panel-title">行程' + index +'</h3>'+
                                  '</div>'+
                 '<div class="panel-body">'+
                 		 '<div class="form-group col-md-6">'+
                             '<label class="control-label">行程标题</label>'+
                             '<input type="text" class="form-control c-square c-theme input-lg" placeholder="行程标题  20字" maxlength="20" name="trips[' + (index-1) + '].title"> '+
                         '</div>'+
                         '<div class="form-group col-md-12">'+
                             '<label class="control-label">行程简介</label>'+
                             '<textarea class="form-control c-square c-theme input-lg" rows="6" placeholder="行程简介  1000字" maxlength="1000" name="trips[' + (index-1) + '].des"></textarea>'+
                         '</div>'+
                         '<div class="form-group col-md-12">'+
                             '<label class="control-label">行程图片<p><small class="c-font-grey-2">行程图片配图最多4张，长高比例建议为16:10，图片宽度建议在600px~750px之间，支持jpg,gif,png格式</small></p></label>'+ 
                             '<input id="trips_' + (index-1) + '_desPhotoPics" name="trips[' + (index-1) + '].desPhotoPics" type="file" class="form-control c-square c-theme file-loading input-lg" accept="image/*" multiple>'+
                         	'</div>'+
                 '</div>'+
             '</div>'+
         '</div>';
      $("#xc").append(xc);
      initFile();
	index++;
}

function initFile(){
	$(".file-loading").fileinput({
	    uploadUrl: "#", // server upload action
		showUpload: false,
		overwriteInitial: true,
		allowedFileExtensions:['jpg', 'gif', 'png'],
		minFileCount: 1,
		maxFileCount: 4
	});
}

function removexc(){
	if(index >= 2){
		$(".xcdiv:last").remove();
		index--;
	}
}
</script>

</body>

</html>