<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<#include "../common/title.html">
	<#include "../common/link.html">
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<#include "../common/header.html">

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page" >
	<!-- BEGIN: PAGE CONTENT -->
	
	 <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
            <div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
                <div class="container">
                    <div class="c-shop-product-details-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="c-product-gallery">
                                    <div class="c-product-gallery-content">
                                        <div class="c-zoom">
                                            <img src="${basePath}/images/example/project1.jpg"> </div>
                                        <div class="c-zoom">
                                            <img src="${basePath}/images/example/project2.jpg"> </div>
                                        <div class="c-zoom">
                                            <img src="${basePath}/images/example/project3.jpg"> </div>
                                        <div class="c-zoom">
                                            <img src="${basePath}/images/example/project4.jpg"> </div>
                                    </div>
                                    <div class="row c-product-gallery-thumbnail">
                                        <div class="col-xs-3 c-product-thumb">
                                            <img src="${basePath}/images/example/project1.jpg"> </div>
                                        <div class="col-xs-3 c-product-thumb">
                                            <img src="${basePath}/images/example/project2.jpg"> </div>
                                        <div class="col-xs-3 c-product-thumb">
                                            <img src="${basePath}/images/example/project3.jpg"> </div>
                                        <div class="col-xs-3 c-product-thumb c-product-thumb-last">
                                            <img src="${basePath}/images/example/project4.jpg"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="c-product-meta">
                                    <div class="c-content-title-1">
                                        <h3 class="c-font-uppercase c-font-bold">昆明大理丽江香格里拉5日外拍</h3>
                                        <div class="c-line-left"></div>
                                    </div>
                                    <div class="c-product-badge">
                                        <div class="c-product-sale">Sale</div>
                                        <div class="c-product-new">New</div>
                                    </div>
                                    <div class="c-product-review">
                                        <div class="c-product-rating">
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star-half-o c-font-red"></i>
                                        </div>
                                        <div class="c-product-write-review">
                                            <a class="c-font-red" href="#">评论</a>
                                        </div>
                                    </div>
                                    <div class="c-product-price">$99.00</div>
                                    <div class="c-product-short-desc"> 
                                    	为摄影爱好者提供旅行摄影作品赏析,方便用户随时随地在线分享旅行摄影技巧、旅行摄影教程等
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                        	<dl class="dl-horizontal">
	                                            <dt><p class="c-product-meta-label  c-font-uppercase c-font-bold">出发地</p></dt>
	                                            <dd><p class="c-product-meta-label  c-font-uppercase">北京</p><dd>
	                                            <dt><p class="c-product-meta-label  c-font-uppercase c-font-bold">目的地</p></dt>
	                                            <dd><p class="c-product-meta-label  c-font-uppercase">北京</p><dd>
	                                            <dt><p class="c-product-meta-label  c-font-uppercase c-font-bold">活动类型</p></dt>
	                                            <dd><p class="c-product-meta-label  c-font-uppercase">远郊采风</p><dd>
	                                            <dt><p class="c-product-meta-label  c-font-uppercase c-font-bold">出发时间</p></dt>
	                                            <dd><p class="c-product-meta-label  c-font-uppercase">2015-11-03 9:00</p><dd>
	                                            <dt><p class="c-product-meta-label  c-font-uppercase c-font-bold">行程天数</p></dt>
	                                            <dd><p class="c-product-meta-label  c-font-uppercase">5天 4晚</p><dd>
                                            </dl>
                                        </div>
                                    </div>
                                    
                                    <form>
                                    <div class="c-product-add-cart c-margin-t-20">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <div class="c-input-group c-spinner">
                                                	<dl class="dl-horizontal">
                                                    <dt><p class="c-product-meta-label c-product-margin-2 c-font-uppercase c-font-bold">数量</p></dt>
                                                    <dd><input type="text" class="form-control c-item-1" value="1">
                                                    <div class="c-input-group-btn-vertical">
                                                        <button class="btn btn-default" type="button" data_input="c-item-1">
                                                            <i class="fa fa-caret-up"></i>
                                                        </button>
                                                        <button class="btn btn-default" type="button" data_input="c-item-1">
                                                            <i class="fa fa-caret-down"></i>
                                                        </button>
                                                    </div>
                                                    </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                                <button class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase">立即预定</button>
                                                <button class="btn c-btn btn-lg c-font-bold c-font-white c-btn-purple c-btn-square c-font-uppercase">加入收藏</button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-TAB-1 -->
            <div class="c-content-box c-size-md c-no-padding">
                <div class="c-shop-product-tab-1" role="tabpanel">
                    <div class="container">
                        <ul class="nav nav-justified">
                            <li class="c-onepage-link">
                                <a class="c-font-uppercase c-font-bold c-font-30" href="#tab-1" >费用说明</a>
                            </li>
                            <li class="c-onepage-link ">
                                <a class="c-font-uppercase c-font-bold c-font-30" href="#tab-2" >行程描述</a>
                            </li>
                            <li class="c-onepage-link ">
                                <a class="c-font-uppercase c-font-bold c-font-30" href="#tab-3" >用户评价  <span class="badge c-theme-bg">172</span></a>
                            </li>
                            <li class="c-onepage-link ">
                                <a class="c-font-uppercase c-font-bold c-font-30" href="#tab-3" >订购记录  <span class="badge c-theme-bg">34</span></a>
                            </li>
                        </ul>
                    </div>
                        <section id="tab-1" class="c-margin-b-60">
                            <div class="c-product-desc c-left">
                                <div class="container">
                                	<div class="c-content-title-1">
                                        <h3 class="c-left c-theme-font">费用说明</h3>
                                        <div class="c-line-left c-bg-blue"></div>
                                    </div>
                                    <!-- <img src="${basePath}/images/example/project1.jpg" /> -->
	                                <p>1、机票：含全国往返昆明机票及机场税； </p>
								    <p>2、住宿：全程入住指定五星级酒店标准间； </p>
									<p>3、用餐：6早9正，十人一桌，十菜一汤，餐标35元/人，特色餐50元/人（丽江火塘鸡、楚雄野生菌、大理砂锅鱼、石林彝王宴） </p>
									<p>4、用车：正规营运旅游空调车，保证10%空座率； </p>
									<p>5、门票：洱海游船、南诏风情岛、双廊、崇圣寺三塔、大理古城、丽江古城、玉龙雪山、冰川公园大索道、白水河、蓝月谷、三道茶白族歌舞表演、七彩云南、石林、彝家天天火把节晚会、花之城；</p> 
									<p>6、导游：怡之系列专职专线导游全程精致服务； </p>
									<p>7、管家：专业客服和专职管家全程24小时为您服务； </p>
									<p>8、保险：旅行社责任保险、旅游意外险、云南旅游组合险； </p>
									<p>9、贴心：行程路途中爱游独家休息服务区，为您提供贴心服务 </p>
									<p>10、购物：丽江螺璇藻、大理白族民居银器店、昆明七彩云南、花之城（自愿购买，绝无强迫）</p>
									
                                </div>
                            </div>
                            
                        </section>
                        <section id="tab-2" class="c-margin-b-60">
                            <div class="container">
                            	<div class="c-content-title-1">
                                        <h3 class="c-left c-theme-font">行程描述</h3>
                                        <div class="c-line-left c-bg-blue"></div>
                                    </div>
                                <div class="row">
									<div class="col-md-12">
										<ul class="timeline">
											<!-- timeline time label -->
											<li class="time-label">
												<span class="c-content-label c-font-uppercase c-font-bold c-bg-red-2 c-font-slim c-label-lg">行程</span>
											</li>
											
											<li>
												<i class="fa fa-plane c-font-white c-bg-purple-1"></i> 
												<div class="timeline-item">
													<h3 class="timeline-header c-left c-theme-font"> 昆明—687km—磨憨</h3>
													<div class="timeline-body">
														<p>早餐后出发，途经玉溪、峨山、元江、墨江、普洱、思茅、勐仑、勐远，途中穿越美丽的丛林高速公路一思小高速公路，是穿越原始森林的高速公路，它是昆明至曼谷国际大通道的重要路段，热带植物茂盛，景色优美，体现出了人与自然和谐发展，是一条真正的“车在林中行，人在画中游”的高速公路，傍晚抵达中老边境的磨憨小镇。</p>
															<div class="cbp-panel">
														              <div id="grid-container" class="cbp cbp-l-grid-masonry-projects">
														                  <div class="cbp-item">
														                      <div class="cbp-caption">
														                          <div class="cbp-caption-defaultWrap">
														                              <img src="${basePath}/images/example/project1.jpg" alt=""> </div>
														                          <div class="cbp-caption-activeWrap">
														                              <div class="c-masonry-border"></div>
														                              <div class="cbp-l-caption-alignCenter">
														                                  <div class="cbp-l-caption-body">
														                                      <a href="${basePath}/images/example/project1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Dashboard<br>by Paul Flavius Nechita">查看</a>
														                                  </div>
														                              </div>
														                          </div>
														                      </div>
														                  </div>
														                  <div class="cbp-item">
														                      <div class="cbp-caption">
														                          <div class="cbp-caption-defaultWrap">
														                              <img src="${basePath}/images/example/project2.jpg" alt=""> </div>
														                          <div class="cbp-caption-activeWrap">
														                              <div class="c-masonry-border"></div>
														                              <div class="cbp-l-caption-alignCenter">
														                                  <div class="cbp-l-caption-body">
														                                      <a href="${basePath}/images/example/project2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="World Clock Widget<br>by Paul Flavius Nechita">查看</a>
														                                  </div>
														                              </div>
														                          </div>
														                      </div>
														                  </div>
														                  <div class="cbp-item">
														                      <div class="cbp-caption">
														                          <div class="cbp-caption-defaultWrap">
														                              <img src="${basePath}/images/example/project3.jpg" alt=""> </div>
														                          <div class="cbp-caption-activeWrap">
														                              <div class="c-masonry-border"></div>
														                              <div class="cbp-l-caption-alignCenter">
														                                  <div class="cbp-l-caption-body">
														                                      <a href="${basePath}/images/example/project3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="To-Do Dashboard<br>by Tiberiu Neamu">查看</a>
														                                  </div>
														                              </div>
														                          </div>
														                      </div>
														                  </div>
														                  <div class="cbp-item">
														                      <div class="cbp-caption">
														                          <div class="cbp-caption-defaultWrap">
														                              <img src="${basePath}/images/example/project4.jpg" alt=""> </div>
														                          <div class="cbp-caption-activeWrap">
														                              <div class="c-masonry-border"></div>
														                              <div class="cbp-l-caption-alignCenter">
														                                  <div class="cbp-l-caption-body">
														                                      <a href="${basePath}/images/example/project4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="WhereTO App<br>by Tiberiu Neamu">查看</a>
														                                  </div>
														                              </div>
														                          </div>
														                      </div>
														                  </div>
														                  
														              </div>
														          </div>
														  <!-- END: PAGE CONTENT -->
													</div>
												</div>
											</li>
											
											<li>
												<i class="fa fa-plane c-font-white c-bg-purple-1"></i>
												<div class="timeline-item">
													<h3 class="timeline-header"> 行程2</h3>
														<div class="timeline-body">
															
														</div>
											  	</div>
											</li>
											
											<li>
												<i class="fa fa-plane c-font-white c-bg-purple-1"></i>
												<div class="timeline-item">
													<h3 class="timeline-header">  行程3</h3>
													
												</div>
											</li>
											
											<li>
												<i class="fa fa-plane c-font-white c-bg-purple-1"></i>
												<div class="timeline-item">
													<h3 class="timeline-header">行程4</h3>
													
												</div>
											</li>
											
											<li>
												<i class="fa fa-plane c-font-white c-bg-purple-1"></i>
												<div class="timeline-item">
													<h3 class="timeline-header">结束</h3>
												</div>
											</li>
											
											</ul>
									</div>
								</div>
                            </div>
                        </section>
                        <section id="tab-3" class="c-margin-b-60">
                            <div class="container">
                            	<div class="c-content-title-1">
                                        <h3 class="c-left c-theme-font">用户评价</h3>
                                        <div class="c-line-left c-bg-blue"></div>
                                    </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        
                                        <div class="c-product-review-name">
                                            <h3 class="c-font-bold c-font-24 c-margin-b-5">用户1</h3>
                                            <p class="c-date c-theme-font c-font-14">2015-09-14</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="c-product-rating c-right">
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star-half-o c-font-red"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-product-review-content">
                                    <p> 很不错的一次旅行，很感谢何导和司机，景色太美太美了，黄龙是有高原反应的，提前一周吃红景天，就是天公不作美，去的两天下午都赶上下雨，不过总体说来很不错，旅游做的很正规，很成熟，去黄龙要穿棉服哦！ </p>
                                </div>
                                <div class="row c-margin-t-40">
                                    <div class="col-xs-6">
                                        <div class="c-product-review-name">
                                            <h3 class="c-font-bold c-font-24 c-margin-b-5">用户2</h3>
                                            <p class="c-date c-theme-font c-font-14">2015-09-17</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="c-product-rating c-right">
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star-half-o c-font-red"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-product-review-content">
                                    <p> 黄龙九寨风景不错，人间仙境，就是三天时间有点少了，不够玩。机智的张导游人很好，非常幽默，总体来说，是个难忘的旅程。 </p>
                                </div>
                                <div class="row c-margin-t-40">
                                    <div class="col-xs-6">
                                        <div class="c-product-review-name">
                                            <h3 class="c-font-bold c-font-24 c-margin-b-5">用户3</h3>
                                            <p class="c-date c-theme-font c-font-14">2015-10-20</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="c-product-rating c-right">
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star c-font-red"></i>
                                            <i class="fa fa-star-o c-font-red"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-product-review-content">
                                    <p> 首先说这个团的客服非常好，不论是关于本次旅行的介绍和讲解还是对于我们住店问题的建议和帮助都很实在、很用心。就凭这个必须给满分！第二点，这次行程主要景点是黄龙和九寨沟，风景如画，绝对不是吹出来的，风景评分也是满分！对于售后服务，投诉解决问题的能力和效率也非常满意！唯独一点，导游的水平确实不敢恭维。但是还是要说这家的客服哥们非常好，我也相信他的诚信能代表这个旅行社的能力，只是由于这个刘导游的种种行为是我们和旅行社之间产生了短暂的不愉快，怎么惩罚这个导游是你们的事，对于你们公司的态度我还是要给满分的！希望以后越办越好！ </p>
                                </div>
                                
                                <div class="row c-margin-t-40">
                                	<ul class="c-content-pagination c-square c-theme pull-right">
									    <li class="c-prev">
									        <a href="#"><i class="fa fa-angle-left"></i></a>
									    </li>
									    <li><a href="#">1</a></li>
									    <li class="c-active"><a href="#">2</a></li>
									    <li><a href="#">3</a></li>
									    <li><a href="#">4</a></li>
									    <li class="c-next">
									        <a href="#"><i class="fa fa-angle-right"></i> </a>
									    </li>
									</ul>
								</div>
                                
                                <form>
	                                <div class="row c-product-review-input">
	                                	<div class="col-xs-12">
		                                    <h3 class="c-font-bold c-font-uppercase">评价</h3>
		                                    <p class="c-review-rating-input">评分:
		                                        <i class="fa fa-star-o"></i>
		                                        <i class="fa fa-star-o"></i>
		                                        <i class="fa fa-star-o"></i>
		                                        <i class="fa fa-star-o"></i>
		                                        <i class="fa fa-star-o"></i>
		                                    </p>
		                                    <div class="form-group">
	                                               <textarea class="form-control  c-square c-theme" rows="3"></textarea>
                                        	</div>
		                                 </div>
		                                 
		                                 <div class="col-xs-12">
		                                    <button class="btn c-btn c-btn-square c-theme-btn c-font-bold c-font-uppercase c-font-white">提交</button>
		                                 </div>
	                                </div>
                                </form>
                            </div>
                        </section>
                        
                         <section id="tab-4" class="c-margin-b-60">
                         	<div class="container ">
                         	  <div class="row c-order-history-2">
                            	<div class="c-content-title-1">
                                        <h3 class="c-left c-theme-font">用户评价</h3>
                                        <div class="c-line-left c-bg-blue"></div>
                                </div>
	                         	<div class="row c-cart-table-title">
		                            <div class="col-md-4 c-cart-image">
		                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">活动</h3>
		                            </div>
		                            <div class="col-md-1 c-cart-ref">
		                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">数量</h3>
		                            </div>
		                            <div class="col-md-2 c-cart-price">
		                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">价格</h3>
		                            </div>
		                            <div class="col-md-2 c-cart-price">
		                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">成交时间</h3>
		                            </div>
		                            <div class="col-md-3 c-cart-total">
		                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">买家</h3>
		                            </div>
	                        	</div>
	                        	
	                        	<!-- BEGIN: ORDER HISTORY ITEM ROW -->
		                        <div class="row c-cart-table-row">
		                            <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title c-cart-item-first">活动</h2>
		                            <div class="col-md-4 col-sm-4 col-xs-5 c-cart-image">
		                                Item 1 </div>
		                            <div class="col-md-1 col-sm-3 col-xs-6 c-cart-ref">
		                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">数量</p>
		                                <p>1</p>
		                            </div>
		                            <div class="clearfix col-md-2 col-sm-3 col-xs-6 c-cart-price">
		                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">价格</p>
		                                <p class="c-cart-price c-font-bold">$147.00</p>
		                            </div>
		                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-qty">
		                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">成交时间</p>
		                                <p>2015-09-16</p>
		                            </div>
		                            <div class="col-md-3 col-sm-3 col-xs-6 c-cart-total">
		                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">买家</p>
		                                <p class="c-cart-price c-font-bold">用户1</p>
		                            </div>
		                            
		                        </div>
		                        <!-- END: ORDER HISTORY ITEM ROW -->
		                        
		                        <!-- BEGIN: ORDER HISTORY ITEM ROW -->
		                        <div class="row c-cart-table-row">
		                            <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title c-cart-item-first">活动</h2>
		                            <div class="col-md-4 col-sm-4 col-xs-5 c-cart-image">
		                                Item 2 </div>
		                            <div class="col-md-1 col-sm-3 col-xs-6 c-cart-ref">
		                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">数量</p>
		                                <p>1</p>
		                            </div>
		                            <div class="clearfix col-md-2 col-sm-3 col-xs-6 c-cart-price">
		                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">价格</p>
		                                <p class="c-cart-price c-font-bold">$147.00</p>
		                            </div>
		                            <div class="col-md-2 col-sm-3 col-xs-6 c-cart-qty">
		                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">成交时间</p>
		                                <p>2015-09-16</p>
		                            </div>
		                            <div class="col-md-3 col-sm-3 col-xs-6 c-cart-total">
		                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">买家</p>
		                                <p class="c-cart-price c-font-bold">用户2</p>
		                            </div>
		                            
		                        </div>
		                        <!-- END: ORDER HISTORY ITEM ROW -->
		                        
		                        <div class="row c-margin-t-40">
                                	<ul class="c-content-pagination c-square c-theme pull-right">
									    <li class="c-prev">
									        <a href="#"><i class="fa fa-angle-left"></i></a>
									    </li>
									    <li><a href="#">1</a></li>
									    <li class="c-active"><a href="#">2</a></li>
									    <li><a href="#">3</a></li>
									    <li><a href="#">4</a></li>
									    <li class="c-next">
									        <a href="#"><i class="fa fa-angle-right"></i> </a>
									    </li>
									</ul>
								</div>
								
                        	 </div>
                           </div>
                         </section>
                </div>
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-PRODUCT-TAB-1 -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-2-2 -->
            <div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space">
                <div class="container">
                    <div class="c-content-title-4">
                        <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
                            <span class="c-bg-white">推荐活动</span>
                        </h3>
                    </div>
                    <div class="row">
                        <div data-slider="owl" data-items="4" data-auto-play="8000">
                            <div class="owl-carousel owl-theme c-theme owl-small-space">
                                <div class="item">
                                    <div class="c-content-product-2 c-bg-white c-border">
                                        <div class="c-content-overlay">
                                            <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/project1.jpg);"></div>
                                        </div>
                                        <div class="c-info">
                                            <p class="c-title c-font-18 c-font-slim">Samsung Galaxy Note 4</p>
                                            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                                <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                            </p>
                                        </div>
                                        <div class="btn-group btn-group-justified" role="group">
                                            <div class="btn-group c-border-top" role="group">
                                                <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                            </div>
                                            <div class="btn-group c-border-left c-border-top" role="group">
                                                <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-product-2 c-bg-white c-border">
                                        <div class="c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/project2.jpg);"></div>
                                        </div>
                                        <div class="c-info">
                                            <p class="c-title c-font-18 c-font-slim">Samsung Galaxy S4</p>
                                            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                                <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                            </p>
                                        </div>
                                        <div class="btn-group btn-group-justified" role="group">
                                            <div class="btn-group c-border-top" role="group">
                                                <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                            </div>
                                            <div class="btn-group c-border-left c-border-top" role="group">
                                                <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-product-2 c-bg-white c-border">
                                        <div class="c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/project3.jpg);"></div>
                                        </div>
                                        <div class="c-info">
                                            <p class="c-title c-font-18 c-font-slim">Apple iPhone 5</p>
                                            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                                <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                            </p>
                                        </div>
                                        <div class="btn-group btn-group-justified" role="group">
                                            <div class="btn-group c-border-top" role="group">
                                                <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                            </div>
                                            <div class="btn-group c-border-left c-border-top" role="group">
                                                <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-product-2 c-bg-white c-border">
                                        <div class="c-content-overlay">
                                            <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                            <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/project4.jpg);"></div>
                                        </div>
                                        <div class="c-info">
                                            <p class="c-title c-font-18 c-font-slim">HTC</p>
                                            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                                <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                            </p>
                                        </div>
                                        <div class="btn-group btn-group-justified" role="group">
                                            <div class="btn-group c-border-top" role="group">
                                                <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                            </div>
                                            <div class="btn-group c-border-left c-border-top" role="group">
                                                <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-product-2 c-bg-white c-border">
                                        <div class="c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/project1.jpg);"></div>
                                        </div>
                                        <div class="c-info">
                                            <p class="c-title c-font-18 c-font-slim">Apple iPhone 6</p>
                                            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                                <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                            </p>
                                        </div>
                                        <div class="btn-group btn-group-justified" role="group">
                                            <div class="btn-group c-border-top" role="group">
                                                <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                            </div>
                                            <div class="btn-group c-border-left c-border-top" role="group">
                                                <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-product-2 c-bg-white c-border">
                                        <div class="c-content-overlay">
                                            <div class="c-label c-bg-red-2 c-font-uppercase c-font-white c-padding-10 c-font-13 c-font-bold">Hot</div>
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url(${basePath}/images/example/project2.jpg);"></div>
                                        </div>
                                        <div class="c-info">
                                            <p class="c-title c-font-18 c-font-slim">Apple iPhone 6+</p>
                                            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                                <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                            </p>
                                        </div>
                                        <div class="btn-group btn-group-justified" role="group">
                                            <div class="btn-group c-border-top" role="group">
                                                <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                            </div>
                                            <div class="btn-group c-border-left c-border-top" role="group">
                                                <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-2-2 -->
            <!-- END: PAGE CONTENT -->
	
	<!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->

<#include "../common/footer.html">

<script>
	$(document).ready(function() {    
		App.init(); // init core    
	});
	</script>
<!-- END: THEME SCRIPTS -->

<script src="${basePath}/assets/base/js/scripts/pages/masonry-gallery.js" type="text/javascript"></script>

<script>
$(document).ready(function(){

	$('#project').addClass('c-active');
  
  });
</script>

</body>

</html>